*{
	padding: 0;
	margin: 0;
}

body{
    
	height: 10%;	
	font-family: 'Ubuntu', Arial, sans-serif;
	background-color: #4d515e;
	display: flex;
	justify-content: center;		
}

p{margin: 0px;}

#wrapper{
	width: 1200px;
	height: 1650px;
	margin: 5px 5px 5px 5px;
	border-radius: 10px;
	background: white;
	overflow: hidden;
}

.signin{
	width: 67%;
	height: 100%;
	float: left;	
}
.signin_email{
	margin-top: 150px;
}

.signin_social_media{
	width: 100%;
	height: 45%;
	padding: 15px 15px 15px 15px;
	box-sizing: border-box;	
}

.lorem{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;	
    color: #99a0af;
}

h1{
    display: flex;
    font-weight: 300;
    font-size: 35px;
    color: #000000;
    margin: 15px 0px 15px 0px;
}

.description{
	color: #797f8a;
	padding-bottom: 5px;
	line-height: 35px;
    line-height: 24px;	
}

.box_social{
	width: 100%;
	height: 200px;	
	border-radius: 8px;
	margin: 30px 0px 30px 0px;
	border: 1px solid #e3e7ec;
}

.box_social p {
	font-size: 12.2px;
}

.box_social:hover{
	cursor: pointer;
	box-shadow: 0px 10px 20px 5px #e8eff6;
}

.box_social div{
	width: 15%;
    height: 100%;
    float: left;
	display: flex;
    align-items: center;
    justify-content: center;    
}

.box_social p{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;    
    font-weight: bold;
    padding-right: 30px;	
}

.fa{font-size:20px}
.fa-google-plus{color:#d34836}
.fa-facebook{color:#3b5998}
.fa-twitter{color:#4099ff}

.signin_email{
	width: 100%;
    height: 15%;
    border-top: 1px solid #e8eff6;    
    color: #737881;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
	margin-bottom: 200px;
}

.signin_email a{
	font-size: 14px;
	text-decoration: initial;
	color: #a9d066;
	letter-spacing: 1.1px;
}

.img_background{
	width: 33%;
	height: 26%;
	float: left;
	background-image: url('/static/tourperu/img/historiafotos/historiafoto1.jpg');
	background-position: center;
	background-size: cover;
    margin-top: 15px;
}	

.img_background2{
	width: 33%;
	height: 28%;
	float: left;
	background-image: url('/static/tourperu/img/historiafotos/historiafoto2.jpg');
	background-position: center;
	background-size: cover;
    margin-top: 15px;
}	

.img_background3{
	width: 33%;
	height: 33%;
	float: left;
	background-image: url('/static/tourperu/img/historiafotos/historiafoto3.jpg');
	background-position: center;
	background-size: cover;
    margin-top: 15px;
}	

/* Media Query para dispositivos de 412px de ancho */

@media (max-width: 412px) and (max-height: 869px) {

	#wrapper {
		width: 500px;
		height: 1160px;
	}

    body {
        padding: 0; /* Elimina cualquier padding que pueda causar desbordamiento */
		height: 16vh;	

    }

    .signin_social_media {
        padding: 5px 25px ; /* Reduce el padding en dispositivos pequeños */
        text-align: center; /* Centra el contenido si es necesario */
    }

    h1 {
        font-size: 20px; /* Tamaño de fuente reducido */
        font-weight: bold;
        text-align: center; /* Centra el texto */
        margin: 10px auto; /* Espaciado uniforme */
        color: #000; /* Asegura el contraste */
        display: block; /* Asegura que sea visible */
    }

    .description {
        font-size: 14px; /* Ajusta el tamaño del texto de descripción */
        line-height: 1.4; /* Mejora la legibilidad en pantallas pequeñas */
        margin: 0 0px; /* Añade márgenes internos */
    }

    .box_social {
        height: auto; /* Permite que la altura se ajuste automáticamente */
        margin: 10px 0; /* Reduce márgenes */
        padding: 6px; /* Añade padding interno */
    }

    .box_social div {
        width: 8%; /* Ajusta el tamaño de los íconos sociales */
		padding: 0px 0px 5px 0px;
    }

    .box_social p {
        font-size: 12px; /* Reduce el tamaño del texto en las cajas sociales */
		padding: 1px;
    }

    /* Contenedor del texto */
.signin_email {
    text-align: center; /* Centra el contenido horizontalmente */
	height: 320px;
    margin-top: 890px; /* Baja el bloque hacia abajo */
    padding: 20px; /* Añade espacio interno */
    font-size: 8px; /* Ajusta el tamaño del texto */
    line-height: 1.6; /* Incrementa el espacio entre líneas para mejor legibilidad */
}

/* Estilo para el enlace */
.signin_email a {
    display: inline-block; /* Asegura que el enlace ocupe su propio espacio */
    margin-top: 0px; /* Baja el enlace más abajo del texto */
    font-size: 11px; /* Ajusta el tamaño del texto */
    color: #a9d066; /* Color del texto */
    text-decoration: none; /* Quita el subrayado */
}

.signin_email a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el ratón */
}
	

.signin_email p {
	font-size: 13px; /* Reduce el tamaño de la fuente */
	text-align: left;
	height: 0px;
	width: 35%;
	
	
	
}

/* Ajustar el enlace de Threads */
	.signin_email a {
		display: block; /* Asegura que el enlace ocupe su propia línea */
		font-size: 13px; /* Ajusta el tamaño del texto del enlace */
		color: #a9d066; /* Color del texto */
		text-decoration: none; /* Quita el subrayado */
		margin-top: 925px; /* Baja el enlace más abajo */
		width: 35%;
	}


	
.signin_social_media {
    width: 100%;
    height: 35%;   
    box-sizing: border-box;
}

   /* Contenedor de las imágenes */
.img_container {
    display: flex; /* Usa flexbox para alinear las imágenes */
    flex-wrap: wrap; /* Permite que las imágenes pasen a la siguiente fila si no caben */
    justify-content: space-between; /* Espacio uniforme entre imágenes */
    margin-bottom: 0px; /* Espaciado inferior del contenedor */
}

/* Ajustar las imágenes individuales */
	.img_background,
	.img_background2,
	.img_background3 {
		width: 32%; /* Las imágenes ocuparán aproximadamente un tercio del ancho */
		height: 300px; /* Altura fija para mantener proporción */
		background-position: center;
		background-size: cover; /* Asegura que la imagen cubra todo el área */
		border-radius: 2px; /* Opcional: redondea las esquinas */
		margin-bottom: 15px; /* Espacio entre filas de imágenes */
		margin-right: 0px;
	}

}


@media (max-width: 360px) and (max-height: 760px) {

	
	#wrapper {
		width: 500px;
		height: 1260px;
	}

    body {
        padding: 0; /* Elimina cualquier padding que pueda causar desbordamiento */
		height: 16vh;	

    }
	.signin_email{
		margin-top: 200px;
	}

    .signin_social_media {
        padding: 5px 25px ; /* Reduce el padding en dispositivos pequeños */
        text-align: center; /* Centra el contenido si es necesario */
    }

    h1 {
        font-size: 20px; /* Tamaño de fuente reducido */
        font-weight: bold;
        text-align: center; /* Centra el texto */
        margin: 10px auto; /* Espaciado uniforme */
        color: #000; /* Asegura el contraste */
        display: block; /* Asegura que sea visible */
    }

    .description {
        font-size: 14px; /* Ajusta el tamaño del texto de descripción */
        line-height: 1.4; /* Mejora la legibilidad en pantallas pequeñas */
        margin: 0 0px; /* Añade márgenes internos */
    }

    .box_social {
        height: auto; /* Permite que la altura se ajuste automáticamente */
        margin: 10px 0; /* Reduce márgenes */
        padding: 6px; /* Añade padding interno */
    }

    .box_social div {
        width: 8%; /* Ajusta el tamaño de los íconos sociales */
		padding: 0px 0px 5px 0px;
    }

    .box_social p {
        font-size: 12px; /* Reduce el tamaño del texto en las cajas sociales */
		padding: 1px;
    }

    /* Contenedor del texto */
.signin_email {
    text-align: center; /* Centra el contenido horizontalmente */
	height: 320px;
    margin-top: 230px; /* Baja el bloque hacia abajo */
    padding: 20px; /* Añade espacio interno */
    font-size: 7px; /* Ajusta el tamaño del texto */
    line-height: 1.6; /* Incrementa el espacio entre líneas para mejor legibilidad */
}

/* Estilo para el enlace */
.signin_email a {
    display: inline-block; /* Asegura que el enlace ocupe su propio espacio */
    margin-top: 0px; /* Baja el enlace más abajo del texto */
    font-size: 11px; /* Ajusta el tamaño del texto */
    color: #a9d066; /* Color del texto */
    text-decoration: none; /* Quita el subrayado */
}

.signin_email a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el ratón */
}
	

.signin_email p {
	font-size: 13px; /* Reduce el tamaño de la fuente */
	text-align: left;
	height: 0px;
	width: 35%;
	
	
	
}

/* Ajustar el enlace de Threads */
	.signin_email a {
		display: block; /* Asegura que el enlace ocupe su propia línea */
		font-size: 13px; /* Ajusta el tamaño del texto del enlace */
		color: #a9d066; /* Color del texto */
		text-decoration: none; /* Quita el subrayado */
		margin-top: 95px; /* Baja el enlace más abajo */
		width: 35%;
	}


	
.signin_social_media {
    width: 100%;
    height: 35%;   
    box-sizing: border-box;
}

   /* Contenedor de las imágenes */
.img_container {
    display: flex; /* Usa flexbox para alinear las imágenes */
    flex-wrap: wrap; /* Permite que las imágenes pasen a la siguiente fila si no caben */
    justify-content: space-between; /* Espacio uniforme entre imágenes */
    margin-bottom: 0px; /* Espaciado inferior del contenedor */
}

/* Ajustar las imágenes individuales */
	.img_background,
	.img_background2,
	.img_background3 {
		width: 32%; /* Las imágenes ocuparán aproximadamente un tercio del ancho */
		height: 300px; /* Altura fija para mantener proporción */
		background-position: center;
		background-size: cover; /* Asegura que la imagen cubra todo el área */
		border-radius: 2px; /* Opcional: redondea las esquinas */
		margin-bottom: 0px; /* Espacio entre filas de imágenes */
		margin-right: 0px;
		margin-top: 500px;
	}

}


@media (max-width: 360px) and (max-height: 740px) {

	

	body {
        padding: 0; /* Elimina cualquier padding que pueda causar desbordamiento */
		height: 140vh;	

    }
    
    #wrapper {
        width: 1200px;
        height: 1080px;
        margin: 5px 5px 5px 5px;
        border-radius: 10px;
        background: white;
        overflow: hidden;
    }

    .signin_social_media {
        padding: 20px 10px; /* Reduce el padding en dispositivos pequeños */
        text-align: center; /* Centra el contenido si es necesario */
    }

    h1 {
        font-size: 24px; /* Reduce aún más el tamaño del encabezado */
        margin: 10px 0; /* Ajusta márgenes para evitar desbordes */
    }

    .description {
        font-size: 14px; /* Ajusta el tamaño del texto de descripción */
        line-height: 1.4; /* Mejora la legibilidad en pantallas pequeñas */
        margin: 0 0px; /* Añade márgenes internos */
    }

    .box_social {
        height: auto; /* Permite que la altura se ajuste automáticamente */
        margin: 10px 0; /* Reduce márgenes */
        padding: 6px; /* Añade padding interno */
    }

    .box_social div {
        width: 8%; /* Ajusta el tamaño de los íconos sociales */
		padding: 0px 0px 5px 0px;
    }

    .box_social p {
        font-size: 12px; /* Reduce el tamaño del texto en las cajas sociales */
		padding: 1px;
    }

    /* Contenedor del texto */
.signin_email {

	height: 60px;
    text-align: center; /* Centra el contenido horizontalmente */
    padding: 20px; /* Añade espacio interno */
    font-size: 18px; /* Ajusta el tamaño del texto */
    line-height: 1.6; /* Incrementa el espacio entre líneas para mejor legibilidad */
	margin-top: 180px; /* Baja el bloque hacia abajo */
}



/* Estilo para el enlace */
.signin_email a {
    display: inline-block; /* Asegura que el enlace ocupe su propio espacio */
    margin-top: 0px; /* Baja el enlace más abajo del texto */
    font-size: 11px; /* Ajusta el tamaño del texto */
    color: #a9d066; /* Color del texto */
    text-decoration: none; /* Quita el subrayado */
}

.signin_email a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el ratón */
}
	

.signin_email p {
	font-size: 10.5px; /* Reduce el tamaño de la fuente */
	text-align: left;
	height: 0px;
	width: 35%;
	
	
	
}

/* Ajustar el enlace de Threads */
	.signin_email a {
		display: block; /* Asegura que el enlace ocupe su propia línea */
		font-size: 12px; /* Ajusta el tamaño del texto del enlace */
		color: #a9d066; /* Color del texto */
		text-decoration: none; /* Quita el subrayado */
		margin-top: 195px; /* Baja el enlace más abajo */
		width: 30%;
	}


	
.signin_social_media {
    width: 100%;
    height: 45%;   
    box-sizing: border-box;
	
}

   /* Contenedor de las imágenes */
.img_container {
    display: flex; /* Usa flexbox para alinear las imágenes */
    flex-wrap: wrap; /* Permite que las imágenes pasen a la siguiente fila si no caben */
    justify-content: space-between; /* Espacio uniforme entre imágenes */
    margin-bottom: 0px; /* Espaciado inferior del contenedor */
}

/* Ajustar las imágenes individuales */
	.img_background,
	.img_background2,
	.img_background3 {
		width: 33%; /* Las imágenes ocuparán aproximadamente un tercio del ancho */
		height: 300px; /* Altura fija para mantener proporción */
		background-position: center;
		background-size: cover; /* Asegura que la imagen cubra todo el área */
		border-radius: 2px; /* Opcional: redondea las esquinas */
		margin-bottom: 0px; /* Espacio entre filas de imágenes */
		margin-right: 0px;
		margin-top: 700px;
	}


}




@media (max-width: 414px) and (max-height: 896px) {

	body {
        padding: 0; /* Elimina cualquier padding que pueda causar desbordamiento */
		height: 30vh;	

    }


    #wrapper {
        width: 1200px;
        height: 990px;
        margin: 48px 5px 5px 5px;
        border-radius: 10px;
        background: white;
        overflow: hidden;
    }

    .signin_social_media {
        padding: 20px 10px; /* Reduce el padding en dispositivos pequeños */
        text-align: center; /* Centra el contenido si es necesario */
    }

    h1 {
        font-size: 24px; /* Reduce aún más el tamaño del encabezado */
        margin: 10px 0; /* Ajusta márgenes para evitar desbordes */
    }

    .description {
        font-size: 14px; /* Ajusta el tamaño del texto de descripción */
        line-height: 1.4; /* Mejora la legibilidad en pantallas pequeñas */
        margin: 0 0px; /* Añade márgenes internos */
    }

    .box_social {
        height: auto; /* Permite que la altura se ajuste automáticamente */
        margin: 10px 0; /* Reduce márgenes */
        padding: 1px 1px 1px 1px; /* Añade padding interno */
    }

    .box_social div {
        width: 8%; /* Ajusta el tamaño de los íconos sociales */
		padding: 0px 0px 5px 0px;
    }

    .box_social p {
        font-size: 12px; /* Reduce el tamaño del texto en las cajas sociales */
		padding: 10px 10px 10px 10px;
    }

    /* Contenedor del texto */
.signin_email {
	height: 300px;
    text-align: center; /* Centra el contenido horizontalmente */
    margin-top: 40px; /* Baja el bloque hacia abajo */
    padding: 20px; /* Añade espacio interno */
    font-size: 18px; /* Ajusta el tamaño del texto */
    line-height: 1.6; /* Incrementa el espacio entre líneas para mejor legibilidad */
}

/* Estilo para el enlace */
.signin_email a {
    display: inline-block; /* Asegura que el enlace ocupe su propio espacio */
    margin-top: 0px; /* Baja el enlace más abajo del texto */
    font-size: 11px; /* Ajusta el tamaño del texto */
    color: #a9d066; /* Color del texto */
    text-decoration: none; /* Quita el subrayado */
}

.signin_email a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el ratón */
}
	

.signin_email p {
	font-size: 10.5px; /* Reduce el tamaño de la fuente */
	text-align: left;
	height: 0px;
	width: 35%;
	
	
	
}

/* Ajustar el enlace de Threads */
	.signin_email a {
		display: block; /* Asegura que el enlace ocupe su propia línea */
		font-size: 10px; /* Ajusta el tamaño del texto del enlace */
		color: #a9d066; /* Color del texto */
		text-decoration: none; /* Quita el subrayado */
		margin-top: 95px; /* Baja el enlace más abajo */
		width: 30%;
	}


	
.signin_social_media {
    width: 100%;
    height: 45%;   
    box-sizing: border-box;
}

   /* Contenedor de las imágenes */
.img_container {
    display: flex; /* Usa flexbox para alinear las imágenes */
    flex-wrap: wrap; /* Permite que las imágenes pasen a la siguiente fila si no caben */
    justify-content: space-between; /* Espacio uniforme entre imágenes */
    margin-bottom: 0px; /* Espaciado inferior del contenedor */
}

/* Ajustar las imágenes individuales */
	.img_background,
	.img_background2,
	.img_background3 {
		width: 33%; /* Las imágenes ocuparán aproximadamente un tercio del ancho */
		height: 300px; /* Altura fija para mantener proporción */
		background-position: center;
		background-size: cover; /* Asegura que la imagen cubra todo el área */
		border-radius: 2px; /* Opcional: redondea las esquinas */
		margin-bottom: 10%; /* Espacio entre filas de imágenes */
		margin-right: 0px;
		margin-top: 0px;
	}



}



@media (max-width: 375px) and (max-height: 812px) {

	body {
        padding: 0; /* Elimina cualquier padding que pueda causar desbordamiento */
		height: 40vh;	

    }
    #wrapper {
        width: 1200px;
        height: 1000px;
        margin: 48px 5px 5px 5px;
        border-radius: 10px;
        background: white;
        overflow: hidden;
    }

    .signin_social_media {
        padding: 20px 10px; /* Reduce el padding en dispositivos pequeños */
		  
        text-align: center; /* Centra el contenido si es necesario */
    }

    h1 {
        font-size: 24px; /* Reduce aún más el tamaño del encabezado */
        margin: 10px 0; /* Ajusta márgenes para evitar desbordes */
    }
	.signin_email{
		margin-top: 30px; /* Baja el bloque hacia abajo */
	}

    .img_background,
    .img_background2,
    .img_background3 {
        width: 32%;
        height: 300px; /* Ajuste proporcional */
        background-position: center;
        background-size: cover;
        border-radius: 1px;
		margin-top: 10px;
    
	
}






@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* Ajustes generales */

    .signin_email {
		
        width: 90%;
        margin: 20px auto;
        padding: 15px;
        text-align: center;
        font-size: 14px;
        color: #737881;
        border-top: 1px solid #e8eff6;
		margin-top: 10px; /* Baja el bloque hacia abajo */
    }

    body {

        

        font-family: 'Ubuntu', Arial, sans-serif;
        background-color: #4d515e;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 0;
        overflow-x: hidden;
		height: 2900px;
    }

    #wrapper {
        width: 100%;
        max-width: 708px;
		height: 600px;
        margin: 1px;
        padding: 0.5px 0px;
        background: white;
        border-radius: 5px;
        box-sizing: border-box;
        overflow: hidden;
		margin-top: 0px;
    }

    h1 {
        font-size: 28px; /* Tamaño adecuado para el iPad */
        font-weight: bold;
        text-align: center;
        margin: 20px 0;
        color: #000;
    }

    .description {
        font-size: 16px;
        line-height: 1.6;
        text-align: justify;
        margin: 20px auto;
        width: 90%;
        word-wrap: break-word;
    }

    .signin_social_media {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .box_social {
        width: 90%;
        margin: 10px auto;
        padding: 15px;
        border: 1px solid #e3e7ec;
        border-radius: 8px;
        text-align: center;
    }

	.box_social p {
		font-size: 12px;
	}

    .box_social div {
        display: inline-block;
        margin: 5px;
    }

    .img_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        padding: 10px;
    }

    .img_background,
    .img_background2,
    .img_background3 {
        width: 32%;
        height: 400px; /* Ajuste proporcional */
        background-position: center;
        background-size: cover;
        border-radius: 1px;
		margin-top: 10px;
    }



    .signin_email a {
        font-size: 14px;
        color: #a9d066;
        text-decoration: none;
    }

    .signin_email a:hover {
        text-decoration: underline;
    }

}





}












