<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/routespecific/css/ayacucho.css">
    <title>Document</title>
</head>

    <!-- INTRODUCTION  -  ANIMATIONS AT THE TOP- CSS -->    
    <header>
            
    </header>


    

<div class="container-intro">
    <div class="text">
        <h1 class="title"> Ayacucho inka route</h1>



        
       <!-- SECCIÓN DE VIDEO DE AREQUIPA -->
       <div class="video-section">
        <h2 class="section-title">Explore Arequipa Through Videos</h2>
            <!-- Contenedor de Video de YouTube -->
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/V2OCw2dTCIQ?si=_68S_P2xCO4ArFqr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>



        <p class="para1">
            Ayacucho is located in the south-central region of Peru, in the Andes Mountains.
             It sits at an elevation of about 2,761 meters (9,058 feet) above sea level. The 
             region is known for its rich history, colonial architecture, and significant role
             in Peru's independence. The capital city of the Ayacucho region, also named Ayacucho, 
             is famous for its 33 churches, symbolizing the years of Christ’s life, and its vibrant
             Holy Week celebrations. The region is bordered by Huancavelica to the north,
            Apurímac to the west, and Cusco to the south.
        </p>


        <p class="para1">
            All the activities you can do on your trip to the Ayacucho City!

            <ul class="para1">Wari Archaeological Complex – he remains of the Wari civilization, one of the most important pre-Inca cultures in Peru. Located about 22 km from Ayacucho, this archaeological site offers a fascinating glimpse into the ancient past of the region.</ul>
            <ul class="para1">Pampa de la Quinua (Battle of Ayacucho Site) – This is the site of the Battle of Ayacucho, a crucial victory that led to Peru's independence from Spain in 1824. You can visit the Obelisk of Pampa de la Quinua, a monument commemorating the battle, and enjoy the breathtaking views of the surrounding mountains.</ul>
            <ul class="para1">Visit Historic Churches – Ayacucho is known as the "City of Churches" for its 33 colonial-era churches, each with unique architecture and history.</ul>

        </p>

        <p class="para1">
            Vilcashuamán
            An important Inca site located about 120 km from Ayacucho, Vilcashuamán served as a religious and administrative center for the Incas. Visitors can see the Temple of the Sun and Moon, as well as the Ushnu Pyramid, offering insight into the impressive Inca architecture and history.
            
        </p>


       
    </div>
    
</div>

    
    
    
    
    
    
    
        <!-- Cards of Routes -->
    
        <div class="box-wrapper">
            <figure class="shape-box shape-box_half">
                <img src="/static/tourperu/img/ayacuchofotos/1ayacucho1.jpg" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">01</h3>
                        <h4 class="card-main-title">Inca Route</h4>
                    </div>
                    <p class="card-content">Experience Ayacucho: a captivating blend of ancient history, vibrant traditions, and breathtaking Andean landscapes, where every corner tells a story.</p>
                    <a href="{{ url_for('routespecific', page='routesspecificayacucho1.html') }}" class="read-more-btn">Read More</a>
                </figcaption>
                <span class="after"></span>
            </figure>
            
        </div>
    
    


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
crossorigin="anonymous"></script>



</body>
</html>