<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='routespecific/css/cusco.css') }}">
    <title>Document</title>
</head>
<body>
    
    <!-- INTRODUCTION  -  ANIMATIONS AT THE TOP- CSS -->    
    <header>
            
    </header>
|  

    



<div class="container-intro">
    <div class="text">
        <h1 class="title"> Cusco inka route</h1>



        <!-- VIDEO DE CUSCO-->

        <div class="video-section">
            <h2 class="section-title">Explore Cusco Through Videos</h2>


           <!-- YouTube Video -->
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GeYYl2gZWac?si=x7QTVlDKLS8kKl5R" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            </div>
        </div>




        <p class="para1">
            Welcome to Cusco, the historical capital of Peru and a gateway to the magnificent 
            Inca civilization. Nestled in the Andes at an altitude of 3,399 meters (11,152 feet), 
            Cusco offers a unique blend of ancient history and vibrant culture, making it a 
            must-visit destination for travelers. This UNESCO World Heritage Site boasts stunning 
            colonial architecture built on the foundations of Inca temples, bustling markets, and
             a rich tapestry of traditions that reflect the city’s diverse heritage.
        </p>

        <p class="para1">
            As the starting point for the iconic Inca Trail to Machu Picchu, Cusco draws 
            adventurers and history enthusiasts alike, eager to explore its archaeological 
            wonders, such as Sacsayhuamán, Qorikancha, and the Sacred Valley. Visitors can 
            immerse themselves in the local culture by sampling delicious Peruvian cuisine, 
            participating in colorful festivals, and engaging with the friendly locals. Whether 
            you’re seeking adventure, history, or cultural experiences, Cusco promises an 
            unforgettable journey through one of the most captivating regions of the world.
        </p>


        <p class="para1">
            All the activities you can do on your trip to the Ayacucho City!

            <ul class="para1">Visit Qorikancha (Temple of the Sun) – Once the most important temple in the Inca Empire, Qorikancha was dedicated to the Sun God, Inti. Explore the impressive architecture and learn about its significance in Inca religion and history.</ul>
            <ul class="para1">Discover Sacsayhuamán – A short distance from the city center, this archaeological site features massive stone walls built by the Incas. Enjoy stunning views of Cusco and explore the surrounding area, which is great for hiking.</ul>
            <ul class="para1">Hike the Inca Trail – Embark on the Inca Trail trek to Machu Picchu, which offers breathtaking views of the Andes and visits to various archaeological sites along the way. Book in advance, as spots fill quickly.</ul>

        </p>

        <p class="para1">
            Machu Picchu is one of the most iconic archaeological sites in the world and a symbol
             of the Inca Empire. Located in the Andes Mountains of Peru, approximately 2,430 meters
              (7,970 feet) above sea level, it offers breathtaking views and a deep connection 
              to Inca history and culture. Here’s an overview of what makes Machu Picchu so 
              special:
        </p>

        <p class="para1">
            Architectural Marvel
            Inca Engineering: The site showcases the Inca's advanced engineering skills, 
            including sophisticated agricultural terraces, intricate stonework, and a 
            complex system of waterways. 
            Construction: Machu Picchu is made of precisely cut stones that fit together without 
            the use of mortar, demonstrating the Incas' mastery of stone masonry.
        </p>


       
    </div>
    
</div>






    
    
    
    
    
        <!-- Cards of Routes -->
    
        <div class="box-wrapper">


            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/cusco1.png') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">01</h3>
                        <h4 class="card-main-title">AUSANGATE </h4>
                    </div>
                    <p class="card-content">The Ausangate Route offers an unforgettable trekking adventure through breathtaking Andean landscapes, vibrant valleys, and traditional Quechua communities, all while surrounded by the majestic Ausangate Mountain.</p>
                    <a href="{{ url_for('routespecific', page='routesspecificcuscoaussangate.html') }}" class="read-more-btn">Read More</a>
                </figcaption>
                <span class="after"></span>                
            </figure>



            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/archeaologicalcusco2.jpg') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">02</h3>
                        <h4 class="card-main-title">ARCHAEOLOGICAL CUZCO </h4>
                    </div>
                    <p class="card-content">Cuzco, once the capital of the Inca Empire, is a treasure trove of archaeological sites that reflect its rich cultural heritage and architectural prowess, showcasing the fusion of Inca and colonial influences.</p>
                    <a href="{{ url_for('routespecific', page='routesspecificcuscoarchaeological.html') }}" class="read-more-btn">Read More</a>
                </figcaption>
                <span class="after"></span>
            </figure>



            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/cusco3.png') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">03</h3>
                        <h4 class="card-main-title">CUZCO VALLEY-MAPI</h4>
                    </div>
                    <p class="card-content">"Cusco Valley and Machu Picchu", rich in Inca history and breathtaking landscapes, serves as 
                        the gateway to the iconic archaeological site of Machu Picchu.</p>
                        <a href="{{ url_for('routespecific', page='routesspecificcuscovallemapi.html') }}" class="read-more-btn">Read More</a>
                    </figcaption>
                <span class="after"></span>
            </figure>


            
            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/cusco4.png') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">04</h3>
                        <h4 class="card-main-title">CUZCO SALKANTAY</h4>
                    </div>
                    <p class="card-content">The Salkantay Trek, a breathtaking alternative to the Inca Trail, offers adventurous travelers stunning views of the Andes, diverse ecosystems, and a unique journey to the ancient site of Machu Picchu from Cusco.</p>
                    <a href="{{ url_for('routespecific', page='routesspecificcuscosalkantay.html') }}" class="read-more-btn">Read More</a>
                </figcaption>
                <span class="after"></span>
            </figure>


       
            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/cuscosalktanaycolcamayo.jpg') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">05</h3>
                        <h4 class="card-main-title">CUZCO SALKANTAY 2</h4>
                    </div>
                    <p class="card-content">Embark on the exhilarating Salkantay Trek from Cusco, where stunning mountain landscapes and rich cultural experiences lead you to the majestic ruins of Machu Picchu.</p>
                    <a href="{{ url_for('routespecific', page='routesspecificcuscosalkantay2.html') }}" class="read-more-btn">Read More</a>
                </figcaption>
                <span class="after"></span>
            </figure>




            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/cuscosalkantay3.jpg') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">06</h3>
                        <h4 class="card-main-title">INCA TRAIL  1</h4>
                    </div>
                    <p class="card-content">Join us on the breathtaking Inca Trail, where ancient pathways lead you through stunning landscapes to the legendary ruins of Machu Picchu.</p>
                    <a href="{{ url_for('routespecific', page='routesspecificcuscocaminoinca1.html') }}" class="read-more-btn">Read More</a>
                </figcaption>
                <span class="after"></span>
            </figure>


            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/cuscosoraybamba3.jpg') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">07</h3>
                        <h4 class="card-main-title">INCA TRAIL 2</h4>
                    </div>
                    <p class="card-content"> MANU NATIONAL PARK RESERVED - Venture into the untouched beauty of Manu National Park, where rare wildlife and lush rainforests await in one of the most biodiverse reserves on the planet.</p>
                    <a href="{{ url_for('routespecific', page='routesspecificcuscocaminoinca2.html') }}" class="read-more-btn">Read More</a>
                </figcaption>
                <span class="after"></span>
            </figure>



            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/1choquequirao1.jpg') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">08</h3>
                        <h4 class="card-main-title">CHOQUEQUIRAO</h4>
                    </div>
                    <p class="card-content">Discover the stunning ruins of Choquequirao on a thrilling, where you’ll immerse yourself in breathtaking landscapes and rich Inca history off the beaten path.</p>
                    <a href="{{ url_for('routespecific', page='routesspecificcuscochoquequirao.html') }}" class="read-more-btn">Read More</a>
                </figcaption>
                <span class="after"></span>
            </figure>



            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/1cuscoinkajungle1.jpg') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">09</h3>
                        <h4 class="card-main-title">INCA JUNGLE</h4>
                    </div>
                    <p class="card-content">Join us for an exhilarating Inca Jungle trek, blending adrenaline-pumping activities with stunning scenery and cultural treasures as you make your way to the majestic Machu Picchu.</p>
                    <a href="{{ url_for('routespecific', page='routesspecificincajungle1.html') }}" class="read-more-btn">Read More</a>
                </figcaption>
                <span class="after"></span>
            </figure>





            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/1cuscoinkajungle2.jpg') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">10</h3>
                        <h4 class="card-main-title">INCA JUNGLE 2</h4>
                    </div>
                    <p class="card-content">
                        Experience the thrill of the Inca Jungle on adventure, where you’ll hike, bike, and zip-line through lush jungles and ancient ruins, culminating in the awe-inspiring Machu Picchu.</p>
                        <a href="{{ url_for('routespecific', page='routesspecificincajungle2.html') }}" class="read-more-btn">Read More</a>
                    </figcaption>
                <span class="after"></span>
            </figure>





            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/1cuscoinkajungle2.jpg') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">11</h3>
                        <h4 class="card-main-title">LARES - MAPI</h4>
                    </div>
                    <p class="card-content"> Lares and Machu Picchu - Discover the beauty of the Lares Valley on trek, where you’ll experience vibrant local culture and breathtaking scenery, ending with a visit to the magnificent Machu Picchu.</p>
                    <a href="{{ url_for('routespecific', page='routesspecificlaresmapi.html') }}" class="read-more-btn">Read More</a>
                </figcaption>
                <span class="after"></span>
            </figure>


            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/nationalpark7.jpg') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">12</h3>
                        <h4 class="card-main-title">MANU 1</h4>
                    </div>
                    <p class="card-content">MANU NATIONAL PARK RESERVED - Delve into the untouched wilderness of Manu National Park, a breathtaking reserve renowned for its exceptional biodiversity and vibrant ecosystems. </p>
                    <a href="{{ url_for('routespecific', page='routesspecificcusconationalpark1.html') }}" class="read-more-btn">Read More</a>
                </figcaption>
                <span class="after"></span>
            </figure>

            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/nationalpark3.jpg') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">13</h3>
                        <h4 class="card-main-title">MANU 2</h4>
                    </div>
                    <p class="card-content">MANU NATIONAL PARK RESERVED - Journey into the heart of Manu National Park, a remarkable reserve renowned for its extraordinary wildlife and breathtaking landscapes.</p>
                    <a href="{{ url_for('routespecific', page='routesspecificcusconationalpark2.html') }}" class="read-more-btn">Read More</a>
                </figcaption>
                <span class="after"></span>
            </figure>


            
            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/nationalpark4.jpg') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">14</h3>
                        <h4 class="card-main-title">MANU 3</h4>
                    </div>
                    <p class="card-content">MANU NATIONAL PARK RESERVED - Experience the enchanting beauty of Manu National Park, a vast reserve celebrated for its rich ecosystems and remarkable wildlife diversity.</p>
                    <a href="{{ url_for('routespecific', page='routesspecificcusconationalpark3.html') }}" class="read-more-btn">Read More</a>
                </figcaption>
                <span class="after"></span>
            </figure>       
        

            <figure class="shape-box shape-box_half">
                <img src="{{ url_for('static', filename='tourperu/img/cuscofotos/nationalpark2.jpg') }}" alt="">
                <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                <figcaption>
                    <div class="show-cont">
                        <h3 class="card-no">15</h3>
                        <h4 class="card-main-title">MANU 4</h4>
                    </div>
                    <p class="card-content">Experience the adventure of a lifetime on the Inca Trail, trekking through breathtaking scenery and ancient ruins on your journey to the magnificent Machu Picchu.</p>
                    <a href="{{ url_for('routespecific', page='routesspecificcusconationalpark4.html') }}" class="read-more-btn">Read More</a>
                </figcaption>
                <span class="after"></span>
            </figure>

        </div>
    


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
crossorigin="anonymous"></script>



</body>
</html>
