<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Bootstraap-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Css page -->
    <link rel="stylesheet" href="/static/perugourmet/dessert.css">
     <title>Dessert</title>
</head>
<body>

    <!-- Slider de postres head-->

    <div id="carouselExampleFade" class="carousel slide carousel-fade">

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="/static/perugourmet/img/fotos/alfajores.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="/static/perugourmet/img/fotos/arroz con leche.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="/static/perugourmet/img/fotos/crema de lucuma helado.png" class="d-block w-100" alt="...">
            </div>   

            <div class="carousel-item">
                <img src="/static/perugourmet/img/fotos/mazamorra.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="/static/perugourmet/img/fotos/picarones.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="/static/perugourmet/img/fotos/suspirodelimeña.png" class="d-block w-100" alt="...">
            </div>

        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>



    <div class="title">
        <h1 class="title-1"> Seven of the Best Peruvian Desserts </h1>
    </div>

    <div class="introduction">
        <p class="para1">
            Peruvian gastronomy, one of the most recognized worldwide, is famous for its rich fusion of cultures,
            for emblematic ingredients such as corn, potatoes or tropical fruits, and for chefs and restaurants that
            reach the top of the rankings. world. Central, led by Virgilio Martínez is, this 2023, the best restaurant 
            in the world. But, if there is something that produces an irresistible weakness
            in Peruvians, it is the passion and taste for their sweets. 

            This special bond originated in the 16th century with the arrival in the American continent of the Spanish 
            conquerors, who brought with them inputs such as sugar cane and wheat, as well as cattle and goats. 
            This meant a great discovery for the ancient Inca settlers, who hardly perceived the sweet taste of fruits 
            such as lucuma and custard apple. From that moment on, products such as sugar, wheat flour and milk were 
            available to them, which were used to prepare innumerable and exquisite desserts,
             allowing the birth of Peruvian confectionery, as unique as it is appreciated.  
        </p>

        <p class="para1">
            Craving a satisfying Peruvian dessert after your main course? We’ve got the perfect recipe to complete your full course menu 
            from South America’s hottest food destination.
        </p>
    </div>




    <div class="row mx-1">

        <!--  Tarjeta 1 -->
        <div class="col1">
            

            <div class="card1" style="width: 25rem;">
                <img src="/static/perugourmet/img/fotos/arroz con leche.png"  class="card-img-top"alt="">
                <div class="card-body">
                    <h1 class="titulo">Arroz con Leche</h1> 
                    <h2 class="titulo2">Rice pudding</h2>
                    <p class="card-text">
                        Arroz con leche is the Peruvian take on the classic rice pudding.
                       <p>
                        It  will definitely hit the sweet spot! 
                       </p>
                    </p>
                </div>
            </div>

            <!-- Card content Animation -->
            <div class="card-5" >
                <div class="card-animation">
                    <div class="content-card">
                      <h1>Hello Travellers</h1>
                      <p>To prepare arroz con leche, you’ll need rice, egg yolks, sugar, cinnamon, butter, nutmeg, 
                        and condensed milk. These ingredients create a consistent, creamy pudding (when done right).
                         It usually takes somewhere between 25-30 minutes to prepare. You can also try adding one slice 
                         of lemon or orange peel for a bitter taste. Some people also like to add raisins on top. This is also a 
                        popular kind of street food that you must try if you visit Peru.</p>
                    </div>
                </div>
            </div>

        </div>
            
        <!--  Tarjeta 2 -->
        <div class="col1">

                <div class="card1" style="width: 25rem;" >
                    <img src="/static/perugourmet/img/fotos/crema de lucuma helado.png"  class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Crema de Lucuma</h1> 
                        <p class="card-text">
                            It’s clear that when it comes to the last course, the influence of Europe, and in particular Spain,
                            is responsible for the majority of dishes.
                            <p>
                                Really good! Here's something else you could say instead of delicious.
                            </p>
                        </p>
                    </div>
                </div>  
                
             <!-- Card content Animation -->
             <div class="card-5" >
                <div class="card-animation">
                    <div class="content-card">
                      <h1>Hello Travellers</h1>
                      <p>Many of the dishes started life in the homes of people in Madrid, Barcelona, 
                        and Seville. The Italians brought Cream and Gelato, and this is where we get Lucuma 
                        Ice Cream. The centerpiece of this dish is the superfood Peruvian fruit called Lucuma. 
                        Many people think this unique Peruvian fruit has tones of butterscotch, caramel, brown
                         sugar, and even ice cream. So that makes it perfect for adding to more traditional ingredients 
                         like milk, eggs, sugar,
                         cream and vanilla to make this very popular treat.</p>
                    </div>
                </div>
            </div>    
        
        </div>

        <!--  Tarjeta 3 -->
        <div class="col1">    

                <div class="card1" style="width: 25rem;">
                    <img src="/static/perugourmet/img/fotos/mazamorra.png"  class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Mazamorra Morada</h1> 
                        <p class="card-text">
                            Mazamorra morada is a famous pudding made from fruit and Peruvian purple corn. 
                            Imagine the consistency and taste of blackberry pies, but with a characteristic flavoring of 
                            ground cinnamon and cloves.
                        <p>

                        </p>
                            Sweet, Succulent, Juicy, Delish... Life is short, eat dessert first.
                        </p>
                    </div>
                </div>

                 <!-- Card content Animation -->
                <div class="card-5" >
                    <div class="card-animation">
                        <div class="content-card">
                          <h1>Hello Travellers</h1>
                          <p>To prepare mazamorra morada, you’ll need dried purple corn, a couple of cinnamon sticks,
                             1 apple, ½ pineapple, 1 teaspoon of whole cloves, lime juice, and a cup of dried fruit. 
                             You can also add a quince if you feel like it. 
                            There are many ways to prepare this dessert (adding apricots or cherries, for example) 
                            but we recommend that you start with the basic recipe at first before adding any more ingredients.
                          </p>
                        </div>
                    </div>
                </div>  

        </div>              
            
        <!--  Tarjeta 4 -->
        <div class="col1">    

                <div class="card1" style="width: 25rem;">
                    <img src="/static/perugourmet/img/fotos/suspirodelimeña.png"  class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Suspiro Limeño</h1> 
                        <p class="card-text">
                            One of our favorite dessert dishes and one that will surely rock your world too. 
                            Suspiro de Limeña literally translates to the sigh of the lady from Lima and is 
                            also known as Suspiro Limeño (Liman sigh).
                            <p>
                                I'm just here for the desserts and good vibes.
                            </p>
                        </p>
                    </div>
                </div>

                 <!-- Card content Animation -->
                 <div class="card-5" >
                    <div class="card-animation">
                        <div class="content-card">
                          <h1>Hello Travellers</h1>
                          <p>This Peruvian dessert consists of two parts. The top part is fluffy meringue that’s made with egg whites, cinnamon, and port wine, while the bottom part is the manjar blanco caramel cream that’s made from milk,
                             egg yolks, vanilla, and sugar.</p>
                        </div>
                    </div>
                </div>  

        </div>  


        <!--  Tarjeta 4 -->
        <div class="col1"> 
                
                <div class="card1" style="width: 25rem;">
                    <img src="/static/perugourmet/img/fotos/turron.png" class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Turron</h1> 
                        <p class="card-text">
                            Turrón de Doña Pepa is a popular cake in Peru that has been around for centuries. 
                            There’s a popular story that the dessert was invented by a Peruvian woman during a
                            religious procession held in the center of Lima.
                            <p>
                                Dessert: the sweetest form of self-love.
                            </p>
                        </p>
                    </div>
                </div>

                 <!-- Card content Animation -->
                 <div class="card-5" >
                    <div class="card-animation">
                        <div class="content-card">
                          <h1>Hello Travellers</h1>
                          <p>Peruvians usually eat it around October, the purple month (el mes morada). It’s a soft nougat dessrt sprinkled with colorful candies and filled with chancaca, 
                            a sweet Peruvian sauce made of raw sugarcane sugar. The recipe also includes butter, anise seeds, eggs, flour, and sugar. You can find common variations with flavors like allspice, cinnamon,
                             lime juice, orange zest, cloves, and vanilla.</p>
                        </div>
                    </div>
                </div>  

        </div>

         <!--  Tarjeta 5 -->
         <div class="col1"> 

                <div class="card1" style="width: 25rem;">
                    <img src="/static/perugourmet/img/fotos/picarones.png" class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Picarones</h1> 
                        <p class="card-text">
                            If you wander around most streets in Peru in the evening, you are bound
                            to come across these simple dessert snack foods. The aroma will probably entice you to take a further look. 
                        </p>
                        <p>
                            Desserts are the fairy tales of the kitchen.
                        </p>
                    </div>
                </div>
                
                 <!-- Card content Animation -->
                 <div class="card-5" >
                    <div class="card-animation">
                        <div class="content-card">
                          <h1>Hello Travellers</h1>
                          <p>Picarones recipe</p>
                          <p>Often referred to as the Peruvian doughnuts thanks to the same rounded shape with a hole in the center. However, unlike conventional donuts, picarones use more than eggs and flour. Corn, sweet potato, squash, anise, and beer are just some of the other
                             ingredients that add a distinctive flavor to this deep-fried treat.</p>
                        </div>
                    </div>
                </div>  
        </div>


        <!--  Tarjeta 4 -->
        <div class="col1"> 
                <div class="card1" style="width: 25rem;">
                    <img src="/static/perugourmet/img/fotos/alfajores.png" class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Alfajores</h1> 
                        <p class="card-text">
                            Alfajores cookies (made with manjar blanco caramel sauce) are popular throughout South America. 
                            The Peruvian way of preparing this sweet treat is to put two rounded cookies together with manjar 
                            blanco in between. 
                        </p>
                        <p>
                            Dessert is the sweetest way to end a meal and start the day.
                        </p>
                    </div>
                </div>
            <!-- Card content Animation -->
            <div class="card-5" >
                <div class="card-animation">
                    <div class="content-card">
                    <h1>Hello Travellers</h1>
                    <p>
                        Alfajor Recipe
                    </p>
                    <p>Made with butter, flour, cornstarch, egg yolks, and powdered sugar. And of course, the manjar 
                        blanco (also known as dulce de leche). The final touch is a sprinkling of sugar on top for extra sweetness.
                        This dessert is perfect for those who like dry and sweet cookies. Alfajores are often served with a cup of 
                        hot chocolate or coffee.
                    </p>
                    </div>
                </div>
            </div>  
        </div>


    </div>




      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    


</body>
</html>
