<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Bootstraap-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Css page -->
    <link rel="stylesheet" href="/static/perugourmet/drinking.css">
     <title>Dessert</title>
</head>
<body>

  <!-- Slider de postres -->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/perugourmet/img/fotosdrinkings/aguaymantojuice.png" class="d-block w-100" alt="Aguaymanto Juice">
        </div>
        <div class="carousel-item">
            <img src="/static/perugourmet/img/fotosdrinkings/airampo.png" class="d-block w-100" alt="Airampo">
        </div>
        <div class="carousel-item">
            <img src="/static/perugourmet/img/fotosdrinkings/chichadejora.png" class="d-block w-100" alt="Chicha de Jora">
        </div>
        <div class="carousel-item">
            <img src="/static/perugourmet/img/fotosdrinkings/chichamorada.png" class="d-block w-100" alt="Chicha Morada">
        </div>
        <div class="carousel-item">
            <img src="/static/perugourmet/img/fotosdrinkings/cuzqueñacerveza.png" class="d-block w-100" alt="Cuzqueña Cerveza">
        </div>
        <div class="carousel-item">
            <img src="/static/perugourmet/img/fotosdrinkings/emoliente.png" class="d-block w-100" alt="Emoliente">
        </div>
        <div class="carousel-item">
            <img src="/static/perugourmet/img/fotosdrinkings/inkakola.png" class="d-block w-100" alt="Inka Kola">
        </div>
        <div class="carousel-item">
            <img src="/static/perugourmet/img/fotosdrinkings/matedecoca.png" class="d-block w-100" alt="Mate de Coca">
        </div>
    </div>

    <!-- Controles de navegación -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



    <div class="title">
        <h1 class="title-1"> Eight of the Best Peruvian Drinkings </h1>
    </div>

    <div class="introduction">
        <p class="para1">
            Peru’s drinking culture is a vibrant tapestry woven from its rich history, 
            diverse landscapes, and abundant natural resources. From the high Andes to
             the coastal plains, each region offers unique beverages that reflect its local
              traditions and ingredients. The country is renowned for its refreshing Chicha
               Morada, a sweet purple corn drink, and the iconic Pisco Sour, a cocktail that
                has captured hearts worldwide. Traditional herbal teas like Mate de Coca
                 showcase the healing properties of Andean plants, while artisanal beers 
                 and innovative cocktails highlight Peru’s evolving gastronomic scene. 
                 With flavors ranging from the earthy to the zesty, each drink is a journey 
                 into Peru's soul. This exploration of nine of the best Peruvian drinks 
                 invites you to savor the rich cultural heritage and celebrate the exceptional
                  flavors that make Peru a true beverage paradise.
        </p>

        <p class="para1">
            Looking for a refreshing Peruvian drink to complement your meal? Dive into our selection of delightful beverages that perfectly capture the vibrant flavors of South America’s culinary gem!
        </p>
    </div>




    

    <div class="row mx-1">

        <!--  Tarjeta 1 -->
        <div class="col1">
            

            <div class="card1">
                <img src="/static/perugourmet/img/fotosdrinkings/aguaymantojuice.png"  class="card-img-top"alt="">
                <div class="card-body">
                    <h1 class="titulo">Aguaymanto juice</h1> 
                    <h2 class="titulo2">Physalis juice</h2>
                    <p class="card-text">                                       

                        Aguaymanto juice is a delightful Peruvian drink made from the vibrant golden berries of the aguaymanto fruit, known for their sweet-tart flavor and numerous health benefits.                       </p>
                    </p>
                    <p>
                        Savor the refreshing taste of Aguaymanto juice, where the sweet and tangy notes of golden berries burst with flavor in every sip!
                    </p>
                </div>
            </div>

            <!-- Card content Animation -->
            <div class="card-5" >
                <div class="card-animation">
                    <div class="content-card">
                      <h1>Hello Travellers</h1>
                      <p>
                        To prepare Aguaymanto juice, start by washing 1 cup of aguaymanto 
                        (also known as golden berries) thoroughly to remove any dirt. Remove 
                        the husks and stems from the berries, then place them in a blender. 
                        Add 2 cups of cold water and blend until smooth. If you prefer sweeter 
                        juice, you can add sugar or honey to taste. Strain the mixture through 
                        a fine mesh sieve or cheesecloth to remove the pulp, collecting the 
                        juice in a pitcher. Serve the aguaymanto juice over ice, garnished with 
                        fresh mint or a slice of lime for a refreshing and nutritious drink!
                    </p>
                    </div>
                </div>
            </div>

        </div>
            
        <!--  Tarjeta 2 -->
        <div class="col1">

                <div class="card1">
                    <img src="/static/perugourmet/img/fotosdrinkings/airampo.png"  class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Airampo</h1> 
                        <h2 class="titulo">Andean cactu</h2> 

                        
                        <p class="card-text">
                            <p>
                                Airampo, also known as Andean cactus, is a vibrant fruit native to the Andean region, celebrated for its sweet flavor and distinctive appearance, making it a popular ingredient in traditional Peruvian cuisine.
                            </p>
                            
                            <p>
                                Experience the unique taste of Airampo, where the sweet, succulent flavor of Andean cactus fruit delights your palate with every bite!                            </p>
                        </p>
                    </div>
                </div>  
                
             <!-- Card content Animation -->
             <div class="card-5" >
                <div class="card-animation">
                    <div class="content-card">
                      <h1>Hello Travellers</h1>
                      <p>
                        To prepare Airampo, start by washing the cactus fruit thoroughly 
                        to remove any dirt or debris. Carefully cut off the ends and then
                         peel the skin using a knife to reveal the juicy flesh inside. Once
                          peeled, you can slice or dice the fruit into bite-sized pieces. 
                          Airampo can be enjoyed fresh on its own or used in various recipes. 
                          To make a refreshing drink, blend the diced fruit with water and a 
                          sweetener like sugar or honey, then strain to remove the pulp. Serve
                          chilled, or incorporate it into salads, desserts, or salsas for a
                          unique twist in flavor!
                        </p>
                    </div>
                </div>
            </div>    
        
        </div>

        <!--  Tarjeta 3 -->
        <div class="col1">    

                <div class="card1">
                    <img src="/static/perugourmet/img/fotosdrinkings/chichadejora.png"  class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Chicha de Jora </h1> 
                        <h2 class="titulo">Jora beer </h2> 
                        <p class="card-text">
                            Chicha de Jora is a traditional Andean beverage made from fermented jora corn, celebrated for its rich flavor and cultural significance in Peruvian festivities and social gatherings.
                        <p>

                        </p>
                        Sip on the refreshing taste of Chicha de Jora, where the unique flavors of fermented corn create a delightful connection to Andean heritage in every glass!                        </p>
                    </div>
                </div>

                 <!-- Card content Animation -->
                <div class="card-5" >
                    <div class="card-animation">
                        <div class="content-card">
                          <h1>Hello Travellers</h1>
                          <p>
                            To prepare Chicha de Jora, start by soaking 2 cups of jora corn
                             (dried corn that has been germinated) in water for 2-3 days to 
                             allow it to sprout. After sprouting, rinse the corn and then 
                             boil it in 4 liters of water for about 1-2 hours until it becomes 
                             soft. Once cooked, strain the corn, reserving the liquid, 
                             and blend the corn with a little bit of the strained liquid 
                             until smooth. Combine the blended corn back into the reserved 
                             liquid, adding additional water to reach your desired consistency.
                              Let the mixture cool, then add sugar and cinnamon to taste. Ferment
                               the mixture in a covered container at room temperature for about 
                               3-5 days, tasting periodically until it reaches your preferred 
                               level of fermentation. Once ready, strain the chicha again and 
                               serve chilled, garnished with mint or cinnamon sticks for extra 
                               flavor.
                          </p>
                        </div>
                    </div>
                </div>  

        </div>              
            
        <!--  Tarjeta 4 -->
        <div class="col1">    

                <div class="card1">
                    <img src="/static/perugourmet/img/fotosdrinkings/cuzqueñacerveza.png"  class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Cerveza Cuzqueña</h1> 
                        <h2 class="titulo">Cusqueña Beer</h2> 
                        <p class="card-text">
                            

                            <p>
                                Cerveza Cusqueña is a celebrated Peruvian lager originating from Cusco, known for its crisp, refreshing taste and high-quality ingredients, making it a favorite among beer enthusiasts.
                            </p>
                            <p>
                                Raise a glass to Cerveza Cusqueña, where every sip delivers the rich heritage and refreshing flavor of Peru's finest lager!
                            </p>
                        </p>
                    </div>
                </div>



                 <!-- Card content Animation -->
                 <div class="card-5" >
                    <div class="card-animation">
                        <div class="content-card">
                          <h1>Hello Travellers</h1>
                          <p>

                            To prepare Cerveza Cusqueña, mash malted barley, boil with hops, cool the wort, ferment with yeast, and condition the beer before packaging it for a crisp, refreshing lager experience.
                            
                            </p>
                        </div>
                    </div>
                </div>  

        </div>  


        <!--  Tarjeta 4 -->
        <div class="col1"> 
                
                <div class="card1">
                    <img src="/static/perugourmet/img/fotosdrinkings/emoliente.png" class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Emoliente</h1> 
                        <h2 class="titulo">Peruvian herbal tea</h2> 
                        <p class="card-text">
                           
                            <p>

                                Emoliente is a traditional Peruvian herbal tea made from a soothing blend of medicinal herbs, grains, and spices, celebrated for its comforting properties and often enjoyed for its health benefits during cold weather or times of illness.
                            </p>
                            <p>
                                Warm up with a cup of Emoliente, where the rich flavors of herbal goodness envelop you in comfort and tradition with every soothing sip!
                            </p>
                        </p>
                    </div>
                </div>

                 <!-- Card content Animation -->
                 <div class="card-5" >
                    <div class="card-animation">
                        <div class="content-card">
                          <h1>Hello Travellers</h1>
                          <p>
                            To prepare Emoliente, start by boiling 4 cups of water in a pot.
                             Once the water reaches a rolling boil, add a handful of mixed herbs such as linseed,
                              alfalfa, barley, and various medicinal herbs like mugwort or chamomile. 
                              Allow the mixture to simmer for about 15-20 minutes, letting the flavors 
                              and nutrients infuse into the water. After simmering, strain the liquid into 
                              a serving container, discarding the herbs. You can sweeten your emoliente with 
                              honey or sugar to taste and add a squeeze of fresh lime for extra flavor. Serve hot,
                               and enjoy the soothing, aromatic qualities of this traditional Peruvian beverage!

                            </p>
                        </div>
                    </div>
                </div>  

        </div>

         <!--  Tarjeta 5 -->
         <div class="col1"> 

                <div class="card1">
                    <img src="/static/perugourmet/img/fotosdrinkings/inkakola.png" class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Inka Kola</h1> 
                        <h2 class="titulo">Peruvian soda</h2> 
                        <p class="card-text">

                        <p>
                            Inka Kola is a vibrant yellow soft drink from Peru, famous for its unique sweet flavor reminiscent of bubble gum, and is a beloved national beverage enjoyed by locals and visitors alike.
                        </p>
                            
                        <p>
                            Experience the refreshing taste of Inka Kola, where the sweet, bubbly flavor and bright yellow hue transport you straight to the heart of Peru with every delightful sip!
                        </p>
                    </div>
                </div>
                
                 <!-- Card content Animation -->
                 <div class="card-5" >
                    <div class="card-animation">
                        <div class="content-card">
                          <h1>Hello Travellers</h1>
                         
                          <p>
                           
                            To prepare a homemade version of Inka Kola, start by combining 2
                             cups of water and 1 cup of sugar in a saucepan over medium heat, 
                             stirring until the sugar dissolves to create a simple syrup. 
                             Add 1/4 teaspoon of vanilla extract and a few drops of lemon juice
                              for extra flavor. For the yellow color, incorporate a small
                               amount of yellow food coloring (about 1/4 teaspoon) until
                                you achieve the desired hue. Once mixed, remove from heat 
                                and let it cool. In a pitcher, combine the syrup with 4 cups 
                                of cold sparkling water, adjusting the sweetness to taste. 
                                Serve over ice, garnished with a slice of lemon or lime for 
                                a refreshing twist! Enjoy your homemade Inka Kola!
                            </p>
                        </div>
                    </div>
                </div>  
        </div>


        <!--  Tarjeta 4 -->
        <div class="col1"> 
                <div class="card1">
                    <img src="/static/perugourmet/img/fotosdrinkings/matedecoca.png" class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Mate de coca</h1> 
                        <h2 class="titulo">Coca Tea</h2> 
                        <p class="card-text">
                           
                            <p>
                                Mate de Coca, or Coca Tea, is a traditional herbal infusion made from the leaves of the coca plant, celebrated in Andean cultures for its invigorating properties and ability to help combat altitude sickness and fatigue.
                            </p>
                       
                        <p>
                           Savor the earthy warmth of Mate de Coca, where each soothing sip offers a natural boost of energy and a taste of Andean heritage!

                        </p>
                    </div>
                </div>
            <!-- Card content Animation -->
            <div class="card-5" >
                <div class="card-animation">
                    <div class="content-card">
                    <h1>Hello Travellers</h1>
                
                    <p>

                        To prepare Mate de Coca, start by boiling 2 cups of water in a pot. 
                        Once boiling, remove it from heat and add 1-2 teaspoons of dried coca
                         leaves (you can adjust the amount based on your taste preference).
                          Let the leaves steep in the hot water for about 5-10 minutes,
                           allowing the flavors and properties to infuse. After steeping, 
                           strain the tea into a cup. You can enjoy it plain or sweeten
                            it with honey or sugar if desired. Serve hot and enjoy the unique,
                             earthy flavor of this traditional Andean beverage!
                    </p>
                    </div>
                </div>
            </div>  
        </div>


        
        <!--  Tarjeta 5 -->
        <div class="col1"> 
            <div class="card1">
                <img src="/static/perugourmet/img/fotosdrinkings/piscosour.png" class="card-img-top"alt="">
                <div class="card-body">
                    <h1 class="titulo">Pisco Sour</h1> 
                    <h2  class="titulo">Peruvian Pisco Sour</h2> 
                    <p class="card-text">
                    <p>
                        Pisco Sour is Peru's national cocktail, a refreshing blend of pisco, lime juice, simple syrup, and egg white, topped with bitters, celebrated for its frothy texture and vibrant flavor.
                    </p>
                    
                    <p>
                        Indulge in the zesty delight of a Pisco Sour, where the smoothness of pisco meets the tang of fresh lime, creating a cocktail that dances on your palate with every sip!
                    </p>
                </div>
            </div>
        <!-- Card content Animation -->
        <div class="card-5" >
            <div class="card-animation">
                <div class="content-card">
                <h1>Hello Travellers</h1>
               
                <p>
                    To prepare a Pisco Sour, start by combining 2 ounces of pisco, 
                    1 ounce of fresh lime juice, 3/4 ounce of simple syrup, and 1 egg white
                     in a cocktail shaker. First, shake the mixture vigorously without ice
                      for about 15 seconds to emulsify the egg white. Then, add ice to the
                       shaker and shake again for another 15-20 seconds until well chilled.
                        Strain the cocktail into a chilled glass and finish with a dash of 
                        Angostura bitters on top for a refreshing finish!
                </p>
                </div>
            </div>
        </div>  
    </div>


    </div>




      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    


</body>
</html>