<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Bootstraap-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Css page -->
    <link rel="stylesheet" href="/static/perugourmet/food.css">
    
    <title>Dessert</title>
</head>
<body>

    <!-- Slider de postres head-->

    <div id="carouselExampleFade" class="carousel slide carousel-fade">

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="/static/perugourmet/img/foodfotos/ajidegallina.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="/static/perugourmet/img/foodfotos/ajidegallina.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="/static/perugourmet/img/foodfotos/arrozconpato.png" class="d-block w-100" alt="...">
            </div>  

            <div class="carousel-item">
                <img src="/static/perugourmet/img/foodfotos/arrozconpato.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="/static/perugourmet/img/foodfotos/causarellena.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="/static/perugourmet/img/foodfotos/ceviche.png" class="d-block w-100" alt="...">
            </div>

            
            <div class="carousel-item">
                <img src="/static/perugourmet/img/foodfotos/lomosaltado.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="./foodfotos/polloalabraza.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="/static/perugourmet/img/foodfotos/rocotorelleno.png" class="d-block w-100" alt="...">
            </div>
        </div>

    
       

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>


    <div class="title">
        <h1 class="title-1"> Eight of the Best Peruvian dishes </h1>
    </div>

    <div class="introduction">
        <p class="para1">
            Peru is a culinary treasure trove, boasting a diverse array of dishes that 
            reflect its rich history and cultural fusion. Renowned for its unique flavors 
            and innovative techniques, Peruvian cuisine has gained international acclaim,
             making it one of the hottest food destinations in the world. From the savory 
             depths of Ceviche, where fresh fish is marinated in citrus, to the hearty warmth
              of Lomo Saltado, a stir-fry that showcases the country's Chinese influence, 
              each dish tells a story of tradition and creativity. The use of native ingredients,
              such as quinoa, potatoes, and a variety of vibrant peppers, highlights Peru's 
              agricultural bounty. Whether you're indulging in a comforting bowl of Aji de Gallina 
              or savoring the intricate flavors of Causa Rellena, these dishes are sure to 
              tantalize your taste buds. This exploration of eight of the best Peruvian dishes 
              invites you to experience the flavors that have captivated food lovers around the
               globe. Get ready to embark on a culinary journey that celebrates the heart and 
               soul of Peru’s vibrant gastronomy!
        </p>

        <p class="para1">
            Ready to tantalize your taste buds? Discover our selection of the eight best Peruvian dishes that promise to take your culinary experience to new heights with vibrant flavors and rich traditions!
        </p>
    </div>




    

    <div class="row mx-1">

        <!--  Tarjeta 1 -->
        <div class="col1">
            

            <div class="card1">
                <img src="/static/perugourmet/img/foodfotos/ajidegallina.png"  class="card-img-top"alt="">
                <div class="card-body">
                    <h1 class="titulo">Aji de Gallina</h1> 
                    <h2 class="titulo2">aji de pollo</h2>
                    <p class="card-text">
                        Ají de Gallina is a traditional Peruvian dish featuring tender chicken in a rich, creamy sauce made with ají amarillo, walnuts, and cheese, served over rice.
                       <p>
                        It’s sure to satisfy your cravings!
                       </p>
                    </p>
                </div>
            </div>

            <!-- Card content Animation -->
            <div class="card-5" >
                <div class="card-animation">
                    <div class="content-card">
                      <h1>Hello Travellers</h1>
                      <p>
                        Cook chicken with onion and garlic in broth until done, shred it,
                         blend ají amarillo paste, evaporated milk, bread, walnuts, and cheese until smooth,
                        heat the sauce in a skillet until thickened, then stir in the chicken, and serve over
                         white rice garnished with hard-boiled eggs, black olives, and fresh parsley or cilantro.
                    </p>
                    </div>
                </div>
            </div>

        </div>
            
        <!--  Tarjeta 2 -->
        <div class="col1">

                <div class="card1">
                    <img src="/static/perugourmet/img/foodfotos/anticuchodecorazon.png"  class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Anticuchos</h1> 
                        <h2 class="titulo">Anticuchos de Res</h2> 
                        <p class="card-text">
                           <p>
                            Anticuchos are a popular Peruvian dish of marinated, grilled meat skewers, traditionally made with beef heart, offering a smoky and flavorful taste.
                        
                            </p>

                            <p>
                                These flavorful skewers are perfect for any gathering or barbecue!
                            </p>
                        </p>
                    </div>
                </div>  
                
             <!-- Card content Animation -->
             <div class="card-5" >
                <div class="card-animation">
                    <div class="content-card">
                      <h1>Hello Travellers</h1>
                      <p>  To prepare Anticuchos, start by cutting beef heart 
                        (or your preferred meat) into cubes and marinating them in a mixture of
                         aji panca paste, minced garlic, cumin, vinegar, olive oil, salt, and
                          pepper for at least 4 hours. Once marinated, thread the meat onto 
                          skewers and grill them over medium-high heat for about 3-4 minutes 
                          per side until charred and cooked through. Serve the anticuchos hot,
                           typically accompanied by boiled potatoes, corn, or aji sauce for
                            dipping, and enjoy the rich, smoky flavors of this traditional 
                            Peruvian dish.
                        </p>
                    </div>
                </div>
            </div>    
        
        </div>

        <!--  Tarjeta 3 -->
        <div class="col1">    

                <div class="card1">
                    <img src="/static/perugourmet/img/foodfotos/arrozconpato.png"  class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Arroz con Pollo</h1> 
                        <h2 class="titulo">  Peruvian Green Rice with Chicken</h2> 
                      
                        <p class="card-text">
                            Arroz con Pollo is a classic Peruvian dish featuring tender chicken cooked with flavorful, cilantro-infused rice. Known for its vibrant green color and rich, savory taste, this dish combines traditional ingredients like peas, carrots, and peppers with a blend of Peruvian spices, creating a comforting and satisfying meal enjoyed throughout the country. It's a popular staple in Peruvian cuisine, celebrated for its bold flavors and heartiness.
                        <p>

                        </p>
                        Join us for a delicious Peruvian meal featuring Arroz con Pollo, a flavorful chicken and cilantro-infused rice dish!
                        </p>
                    </div>
                </div>

                 <!-- Card content Animation -->
                <div class="card-5" >
                    <div class="card-animation">
                        <div class="content-card">
                          <h1>Hello Travellers</h1>
                          <p>
                            To prepare Arroz con Pollo, season and brown chicken thighs in a large pot, then set aside.
                             In the same pot, sauté onions, garlic, and cilantro paste until fragrant. Add peas, carrots, bell peppers,
                             and corn, followed by rice. Stir to combine, then pour in beer (or broth) and chicken broth,
                              bringing it to a boil. Place the browned chicken on top of the rice mixture, cover, and
                               simmer for 25-30 minutes until the rice is tender and the chicken is fully cooked. Fluff the rice and serve with the chicken for a hearty, flavorful meal.
                          </p>
                        </div>
                    </div>
                </div>  

        </div>              
            



        <!--  Tarjeta 4 -->
        <div class="col1"> 
                
                <div class="card1">
                    <img src="/static/perugourmet/img/foodfotos/causarellena.png" class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Causa Rellena </h1> 
                        <h2 class="titulo">Causa Limeña</h2> 
                        <p class="card-text">
                            A popular Peruvian dish made from layers of mashed potatoes, often filled with chicken, seafood, or vegetables. It's typically served cold and garnished with ingredients like eggs, olives, and avocado. It’s a colorful and flavorful dish that reflects the diversity of Peruvian cuisine.
                            <p>
                                Experience the delightful layers of Causa Rellena, where creamy mashed potatoes meet savory fillings for a burst of Peruvian flavor!
                            </p>
                        </p>
                    </div>
                </div>

                 <!-- Card content Animation -->
                 <div class="card-5" >
                    <div class="card-animation">
                        <div class="content-card">
                          <h1>Hello Travellers</h1>
                          <p>
                            To prepare Causa Rellena, start by boiling and mashing 2 pounds of yellow potatoes, 
                            mixing in lime juice, aji amarillo paste, and salt to taste until smooth and flavorful. 
                            In a separate bowl, combine shredded cooked chicken (or your choice of filling) with 
                            mayonnaise, diced onions, and chopped cilantro for added flavor. Layer the mashed potato 
                            mixture in a serving dish, creating a base layer, followed by the filling, and then cover 
                            with more mashed potatoes. Smooth the top and refrigerate for at least an hour to set. 
                            Before serving, garnish with sliced avocado, hard-boiled eggs, olives, and a drizzle of
                            olive oil for a beautiful presentation.
                        </p>
                        </div>
                    </div>
                </div>  

        </div>

         <!--  Tarjeta 5 -->
         <div class="col1"> 

                <div class="card1">
                    <img src="/static/perugourmet/img/foodfotos/ceviche.png" class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Ceviche</h1> 
                        <h2 class="titulo">Peruvian Ceviche</h2> 
                        <p class="card-text">
                            Ceviche is a celebrated Peruvian dish that showcases the country's
                             rich culinary heritage, featuring fresh fish marinated in zesty lime
                              juice and complemented by onions, cilantro, and aji peppers.
                               Renowned for its vibrant flavors and refreshing taste, ceviche 
                               is a staple in coastal regions of Peru, where it reflects the 
                               abundance of fresh seafood. This dish not only highlights the 
                               artistry of Peruvian cooking but also embodies the cultural 
                               significance of using fresh, high-quality ingredients to create
                               a unique and satisfying meal.
                        <p>
                            Savor the freshness of Ceviche, where tender fish meets zesty lime and vibrant spices for a true taste of Peru!
                        </p>
                    </div>
                </div>
                
                 <!-- Card content Animation -->
                 <div class="card-5" >
                    <div class="card-animation">
                        <div class="content-card">
                          <h1>Hello Travellers</h1>
                          
                          <p>
                            To prepare Ceviche, start by selecting fresh white fish, such as sea bass or tilapia, and cut it into bite-sized pieces. In a bowl, combine the fish with freshly squeezed lime juice, ensuring it is fully submerged, and let it marinate for about 15-20 minutes until the fish turns opaque. While the fish is marinating, finely chop red onions, cilantro, and aji peppers (or jalapeños for less heat). After the fish has marinated, drain some of the lime juice and mix in the chopped vegetables. Season with salt and serve immediately, garnished with slices of avocado and accompanied by corn, sweet potato, or tortilla chips for a delicious, refreshing dish.
                            </p>
                        </div>
                    </div>
                </div>  
        </div>


        <!--  Tarjeta 4 -->
        <div class="col1"> 
                <div class="card1">
                    <img src="/static/perugourmet/img/foodfotos/lomosaltado.png" class="card-img-top"alt="">
                    <div class="card-body">
                        <h1 class="titulo">Lomo saltado</h1> 
                        <h2 class="titulo"> Peruvian Stir-Fry</h2>
                        <p class="card-text">
                            Lomo Saltado is a popular Peruvian dish that artfully blends tender stir-fried beef with vibrant vegetables, showcasing the fusion of traditional Peruvian and Chinese culinary influences.
                        </p>
                        <p>
                            Dive into the savory goodness of Lomo Saltado, where juicy beef meets vibrant vegetables in a deliciously satisfying stir-fry!
                        </p>
                    </div>
                </div>
            <!-- Card content Animation -->
            <div class="card-5" >
                <div class="card-animation">
                    <div class="content-card">
                    <h1>Hello Travellers</h1>
                  
                    <p>
                        To prepare Lomo Saltado, start by marinating 1 pound of sliced beef (such as sirloin or tenderloin) 
                        in a mixture of soy sauce, vinegar, minced garlic, and a pinch of black pepper for about 
                        30 minutes. In a large skillet or wok, heat vegetable oil over high heat, then quickly 
                        stir-fry the marinated beef until browned, about 3-4 minutes. Remove the beef and set it 
                        aside, then add sliced onions, tomatoes, and aji amarillo (or bell peppers) to the skillet,
                         stir-frying until they are slightly softened. Return the beef to the skillet, mix in the 
                         juices, and serve the mixture over a bed of white rice, garnished with fresh cilantro and 
                         ccompanied by crispy French fries for a deliciously satisfying meal.
                    </p>
                    </div>
                </div>
            </div>  
        </div>


        
        <!--  Tarjeta 5 -->
        <div class="col1"> 
            <div class="card1">
                <img src="/static/perugourmet/img/foodfotOS/polloalabraza.png" class="card-img-top"alt="">
                <div class="card-body">
                    <h1 class="titulo">Pollo a la brasa</h1> 
                    <h1 class="titulo">Peruvian Grilled Chicken</h1> 
                    
                    <p class="card-text">
                        Pollo a la Brasa is a quintessential Peruvian dish featuring marinated rotisserie chicken, renowned for its succulent meat and crispy skin, making it a favorite among locals and visitors alike.
                    </p>
                    <p>
                        Indulge in the mouthwatering flavors of Pollo a la Brasa, where perfectly seasoned rotisserie chicken meets crispy skin for a truly unforgettable meal!
                    </p>
                </div>
            </div>
        <!-- Card content Animation -->
        <div class="card-5" >
            <div class="card-animation">
                <div class="content-card">
                <h1>Hello Travellers</h1>
                
                <p>

                    To prepare Pollo a la Brasa, start by marinating a whole chicken
                     (about 3-4 pounds) in a mixture of crushed garlic, cumin, paprika, 
                     soy sauce, vinegar, and aji amarillo paste for at least 4 hours,
                      preferably overnight for maximum flavor. Preheat your grill or oven 
                      to a high temperature (around 450°F or 232°C). If using a grill, place 
                      the chicken on a rotisserie spit, or if using an oven, place it on a 
                      roasting rack in a baking dish. Cook the chicken for about 1 to 1.5 hours,
                       basting occasionally with the marinade, until the internal temperature 
                       reaches 165°F (75°C) and the skin is golden brown and crispy. Let it rest
                        for 10 minutes before carving, and serve with French fries, a fresh salad, and dipping sauces like aji verde for a deliciously authentic Peruvian meal.
                </p>
                </div>
            </div>
        </div>  
    </div>


    
        <!--  Tarjeta 6 -->
        <div class="col1"> 
            <div class="card1">
                <img src="/static/perugourmet/img/foodfotos/rocotorelleno.png" class="card-img-top"alt="">
                <div class="card-body">
                    <h1 class="titulo">Rocoto relleno</h1> 
                    <h2 class="titulo">Stuffed Rocoto Peppers</h2> 
                    <p class="card-text">
                        Rocoto Relleno is a vibrant Peruvian delicacy made with spicy rocoto 
                        peppers filled with a delicious mixture of seasoned meat and spices,
                         offering a delightful combination of heat and flavor.
                    </p>
                    <p>
                        Dive into the bold flavors of Rocoto Relleno, where spicy stuffed rocoto peppers deliver a perfect balance of heat and savory goodness in every bite!
                    </p>
                </div>
            </div>
        <!-- Card content Animation -->
        <div class="card-5" >
            <div class="card-animation">
                <div class="content-card">
                <h1>Hello Travellers</h1>
             
                <p>
                  
                    To prepare Rocoto Relleno, start by preheating your oven to 375°F (190°C). 
                    Carefully cut the tops off the rocoto peppers and remove the seeds to reduce
                     their heat level, then blanch them in boiling water for about 5 minutes
                      to soften. In a skillet, sauté chopped onions, garlic, and ground beef or 
                      lamb until cooked through. Mix in diced tomatoes, olives, and spices such 
                      as cumin and paprika. Stuff the rocoto peppers with this savory mixture, 
                      top with cheese (like mozzarella or queso fresco), and place them in a 
                      baking dish. Bake for 20-25 minutes until the cheese is melted and bubbly.
                       Serve hot, garnished with fresh herbs, and enjoy the delightful blend of 
                       flavors!
                </p>
                </div>
            </div>
        </div>  
    </div>


    </div>




      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    


</body>
</html>