<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>


  
  
    <h1>Itinerary Ayacucho</h1>
    <h2 class="introduction">TRADITIONAL AYACUCHO 3 DAYS 2 NIGHTS</h2>
    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 
    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where you enjoy mountains, archaeological sites and more.</p>

    </div>

    </div>
    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
              </p>

                
                <p>
                  1.- CITY TOUR.

                </p>
    
                <p>
                  2.- WARI QUINUA PAMPA DE AYACUCHO.
                </p>
                
                     
          </div>



          
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    


        
        <li>
          <div class="content">
            <h3>CITY TOUR.</h3>

            <p><img class="imagen" src="/static/tourperu/img/ayacuchofotos/1ayacucho1.jpg" alt="">
              Pick up Airport Hotel, free morning and acclimatization. Ayacucho located a
              height 2761msnm
              03:00 PM: In the afternoon, visit the colonial city where we can appreciate the
              Baroque-style architecture that is characterized by its stone arches that
              surround the four sides of the main square, the Casona Boza y Solís, Casona
              Cristóbal Castilla y Zamora among others, the archaeological museum known as
              Hipólito Unanue, the Acuhcimay Viewpoint, the Chapel of the Monastery of
              Santa Teresa to enjoy the sweets prepared by the mothers of the Discalced
              Carmelites, we will visit the most representative artisan workshops of the city
              such as Huamanga stone, Altarpiece , textiles and finally the Cathedral.

              </p>
            
         
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>
        



        <li>
          <div class="content">
            <h3>WARI QUINUA PAMPA DE AYACUCHO.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/ayacuchofotos/1ayacucho2.jpg" alt="">
              09:30 A: M. Departure to the Wari archaeological complex, the capital of the
              First Andean Empire (Pre-Inca culture), visit the Site Museum, the Templo
              Mayor, the underground chambers of the Monjachayuq and Cheqowasi
              neighborhoods. Then we will visit the artisan workshop of the masters who will
              teach us the entire ceramic process in the town of Quinua, a typical place that
              has narrow cobbled streets and tile roofs that give a peculiar attractive and
              cozy appearance that is characterized by being clearly Potter. Just one
              kilometer from Quinua is the Pampa de Ayacucho Historical Sanctuary, where
              visitors will be able to see the scene where the Battle of Ayacucho took place,
              an event that sealed the independence of Peru and America, where we will
              observe the monument of the freedom represented by the 44m high Obelisk. It
              is located at a height of 3300 meters above sea level.

            
            
            </p>


         
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>



        
        <li>
          <div class="content">
            <h3>CITY TOUR.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/ayacuchofotos/1ayacucho3.jpg" alt="">
              Airport hotel transfer at the indicated time.
            
            
            </p>


         
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>



    
      

        <li>
          <div class="content">
            <h3>End of the Route</h3>



                 
            <p>

              THE PROGRAM INCLUDES.

              <p>
                Transfers Airport Hotel Airport.
              </p>

              <p>
                02 continental breakfasts.
              </p>
               
              </p>
                02 Hotel Nights.
              </p>

              </p>
                Tours: Colonial Huamanga City Tour.
              </p>

              </p>
                 Tours: Wari Quinua Pampa de Ayacucho.
              </p>

              </p>
                01 typical lunch.
              </p>

              </p>
                Official Spanish - English tourist guide.
              </p>


              </p>
              Mobility and income to the places to visit.
               </p>


            </p>



          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>