<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>

  
  
    <h1>Itinerary Cusco</h1>
    
    <div>
      <h2 class="introduction">INCA TRAIL - CAMINO INCA 2 DAYS Y 1 NIGHT</h2>
    </div>

    <div class="introduction">
      <h2> TimeLine </h2>
    </div>

    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where u enjoy mountains, archaeological sites</p>
    </div>

    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
                <p>
                  1.- DAY 1: CUSCO – KM.104 – CHACHABAMBA – WIÑAYHUAYNA – AGUAS CALIENTES.
                </p>
    
                <p>
                  2.- DAY 2: AGUAS CALIENTES- MACHUPICCHU – CUSCO
                </p>
                
               
             
          </div>
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    





        <li>
          <div class="content">
            <h3>LIMA – CUZCO.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/10cuscocaminoinca1.jpg" alt="">
              Reception at the Cuzco airport and transfer to the chosen hotel.
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>      





  
           
        
        <li>
          <div class="content">
            <h3>CUSCO – KM.104 – CHACHABAMBA – WIÑAYHUAYNA – AGUAS CALIENTES.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/10cuscocaminoinca2.jpg" alt="">
              I collect from the passengers of their respective
              lodges of 5:30 a.m. at 6:00 a.m., to go to the train
              station, where we start to km. 104, place that we
              will give the beginning of our walk after
              approximately 4 hours of walking, during which
              lunch is given, then we continue towards the
              Wiñayhuayna complex, guided tour, we continue the walk to the citadel of
              Machupicchu, then we descend by bus to the people of Aguas Calientes, where
              they spend the night (lodging).
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>      


        <li>
          <div class="content">
            <h3>CAGUAS CALIENTES- MACHUPICCHU – CUSCO.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/1cuscoinkajungle1.jpg" alt="">
                Breakfast, ascent to Machupicchu, guided tour,
                at the end of it will have a free time. Then we
                will descend to the town of Aguas Calientes,
                where you can visit the thermal baths, return
                to the city of Cusco by train.
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>     

      

        <li>
          <div class="content">
            <h3>End of the Route</h3>
           
            <p>
              <p>
                Our programme include:
                
                <p>
                  ➢	Hotel - Hotel Transfer.
                </p>
    
                <p>
                  ➢ Ida and Return Expedition Train.
                </p>
    
                <p>
                  ➢ Food: 1 breakfast, 1 box lunch.
                </p>
              
                <p>
                  ➢ Snack for two days.
                </p>
    

                <p>
                  ➢ Snack for two days.
                </p>


                <p>
                  ➢ Bilingual professional guide.
                </p>

                <p>
                  ➢ Entry to Inca road and Machupicchu.
                </p>

                <p>
                  ➢ Overnight in Aguas Calientes
                </p>



              <p>
                Our programme No include:
                
                <p>
                  ➢ First breakfast.
                </p>
    
                <p>
                  ➢ Second lunch in Aguas Calientes.
                </p>
    
                <p>
                  ➢ Download bus.
                </p>

                <p>
                  ➢ Dinner first day.
                </p>

                      
                             
              </p>     
              



              <p>
                We recommend carrying:
                
                <p>
                  ➢ Passport or identity document (original).
                </p>
    
                <p>
                  ➢ Insect repellent.
                </p>
    
                <p>
                  ➢ Plastic Poncho for Rain (between the months of November to March)
                </p>

                <p>
                  ➢ Water bottle.
                </p>

                      
                             
              </p>     
              

                              
            
    
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>