<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>


  
  
    <h1>Itinerary Lima</h1>
    <h2 class="introduction">SERVICES IN LIMA</h2>
    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 
    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where you enjoy mountains, archaeological sites and more.</p>

    </div>

    </div>
    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
              </p>

                
                <p>
                  1.- CITY TOUR LIMA + BARRANCO (4 HOURS).

                </p>
    
                <p>
                  2.- COLONIAL LIMA CITY TOUR (3 HOURS).
                </p>

                <p>
                  3.- FUENTES MAGICAS DE AGUA.
                </p>

                <p>
                  4.- PACHACAMAC.
                </p>

                <p></p>
                  5.- PALOMINO ISLANDS.
                </p>
                
                     
          </div>



          
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    


        
        <li>
          <div class="content">
            <h3> CITY TOUR LIMA + BARRANCO (4 HOURS).</h3>

            <p><img class="imagen" src="/static/tourperu/img/limafotos/1lima1.jpg" alt="">
             
              09:00 - 14:00 Start from the Hotel, we will go to
                Larcomar towards Barranco. Explore the
                bohemian life of Barranco on a guided walking
                tour of the neighborhood. Visit the Iglesia Ermita,
                the famous Puente de los Suspiros (Bridge of
                Sighs), the Bajada de los Baños and the Municipal
                Park with the Church of the Holy Cross.
                Lima the city of the kings; We will visit the Plaza
                San Martín, its balconies and old houses, the
                Plaza Mayor and its most important buildings
                such as the Government Palace, the Cathedral
                of Lima, the Archbishop's and Municipal
                Palace, the Desamparados Station, among others. We will enter one of the most
                important convents of the 17th
                century. and the underground crypts
                known as Catacombs. City tours
                Modern Lima, financial center, the Golf,
                the Olivar, the Huaca Pucllana.

              </p>
            

              <p>
                Includes: Catacombs and Cathedral Tickets.
                DRIVER GUIDE: SPANISH / ENGLISH – PRIVATE SERVICE
              </p>
         
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>
        



        <li>
          <div class="content">
            <h3>COLONIAL LIMA CITY TOUR (3 HOURS).</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/limafotos/1lima2.jpg" alt="">
              
              09:00 - 14:00 Lima the city of The kings; We will
                visit the Plaza San Martín, its balconies
                and old mansions, the Plaza Mayor and
                its most important buildings such as the
                Government Palace, the Lima Cathedral, the Archbishop's and Municipal Palace, the
                Desamparados Station, among
                others. We will enter one of the most
                important convents of the 17th
                century. and the underground crypts
                known as Catacombs. City tours
                Modern Lima, The park of love, the
                Huaca Pucllana (panoramic).
                Includes: Catacombs Tickets
                (Museum Guide).
                            
            
            </p>


            <p>
              DRIVER GUIDE: SPANISH / English – PRIVATE SERVICE.
            </p>

         
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>



      
        <li>
          <div class="content">
            <h3>FUENTES MAGICAS DE AGUA.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/limafotos/1lima3.jpg" alt="">
              
              18:00 Transfer from the Hotel to the
              Magic Water Circuit, which is a great
              show of ornamental fountains whose
              powerful jets are combined with the
              rhythm of classical music, and the
              spectacular lasers blend in with the water
              fluids, drawing multicolored shapes that
              make us fantasize for a few minutes about a cybernetic future. Open only from
              Tuesday to Sunday.
              Includes: Tickets and
              guide.
            
            </p>


            <p>
              DRIVER GUIDE: SPANISH / English – PRIVATE SERVICE.
            </p>

         
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>



        
        <li>
          <div class="content">
            <h3>PACHACAMAC.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/limafotos/1lima4.jpg" alt="">
              
              The tour begins with the transfer by tourist bus and with
              a guide in French.

              Pachacamac - one of the most
              important religious centers of ancient
              Peru, an oracle dedicated to the great
              god Pachacamac, the most important
              deity of the entire coast in the 15th
              century. Explore with us its imposing
              pyramids and temples built with adobe,
              which have endured the passage of
              centuries and still preserve that majesty they had in their heyday.
              Once the Tour is over, the bus will
              take you to your Hotel.
              ONLY FROM TUESDAY TO SUNDAY
              Includes: Tickets, Bus and Spanish or
              English Guide, Private service.
                          
            </p>


                    
          </div>
          <div class="time">
            <h4>Inca Route: Day 4</h4>
          </div>
        </li>

         
        <li>
          <div class="content">
            <h3>PALOMINO ISLANDS.</h3>
            <p>
              <img class="imagen" src="/t/static/tourperu/img/limafotos/1lima5.jpg" alt="">
              
              MINIMUN 2 PERSONS
              10:30 am Transfer from the Hotel to the
              Dock.


              11:30 a.m. On board our Cruise ship, which is equipped for long journeys, we
              will begin our tour of the set of Islands, on the trip we will observe:

              <p>
                <img class="imagen" src="/static/tourperu/img/limafotos/1lima6.jpg" alt="">

                ✓ THE CAMOTAL; Part of Callao that is submerged under water as a result
                of an earthquake in 1746. On low tide days you can see some remains
                of this place.

              </p>
             

              <p>
                <img class="imagen" src="/static/tourperu/img/limafotos/1lima7.jpg" alt="">
                ✓ SAN LORENZO ISLAND;
                Located at a distance of 4 km.
                in front of the bay of Callao. It
                has an area of 8 km long by
                2.5 km wide. Religious center
                in the pre-Hispanic era, in the
                colony it was a cemetery for
                sailors, corsairs and pirates.
                Later it was a place of studies for important researchers such as the
                Englishman Charles Darwin, today converted into a military zone, we
                can have a panoramic view of the island in our tour.

              </p>

              <p>
                <img class="imagen" src="/static/tourperu/img/limafotos/1lima8.jpg" alt="">
                ✓ ISLA EL FRONTON About 7 km from the coast, it emerges like an
                immense rock from the
                sea, there you can
                appreciate the remains
                of the prison of the
                same name, in addition
                to listening to some of its innumerable stories and anecdotes.

              </p>
            
              <p>  
                <img class="imagen" src="/static/tourperu/img/limafotos/1lima9.jpg" alt="">
                ✓ CAVINZAS ISLANDS; Group of islands
                and rocky islets with caves and
                natural caverns, it is the last guano
                center in the area, of which some
                remains remain. Now it is a paradise
                for seabirds such as pelicans,
                boobies, guanay, chuitas, seagulls of
                various varieties, etc. Also inhabited by Humboldt penguins, which can
                be seen occasionally.
                </p>


                <p>
                <img class="imagen" src="/static/tourperu/img/limafotos/1lima10.jpg" alt="">
                ✓ PALOMINO ISLANDS; An important set , turned by
                  nature into a habitat and
                  refuge for sea lions where
                  these huge , playful and
                  friendly animals live in
                  these rocky islands , surrounded by beautiful caves and natural caverns ,
                  also if you are prepared you can take a bath and take a picture with the
                  sea lions in the background.


                </p>
             
                          
            </p>


                    
          </div>
          <div class="time">
            <h4>Inca Route: Day 5</h4>
          </div>
        </li>







        <li>
          <div class="content">
            <h3>End of the Route</h3>

                
            <p>

              THE PROGRAM INCLUDES.

              <p>
                ➢ 	Crossing, Life jacket.
              </p>

              <p>
                ➢ Port embarkation and disembarkation fee.
              </p>
               
              </p>
              ➢ Hot and cold non-alcoholic drinks and light snacks (chifles, chips, pretzels, etc.).
              </p>


            </p>
            ➢ Transfers Hotel - Dock - Hotel.
            </p>


          </p>
          ➢ Travel Insurance.
          </p>

              
         

            
          </p>


          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>