<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>

  
  
    <h1>Itinerary Cusco</h1>

    <div>
      <h2 class="introduction">MANU NATIONAL PARK CULTURAL ZONE PROGRAM 5 DAYS & 4 NIGHTS</h2>
    </div>

    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 

    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where u enjoy mountains, archaeological sites</p>
    </div>

    
    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
                <p>
                  1.- Cusco - San Pedro Cloud Forest (1,400 m.a.s.l. -
                  High Jungle).

                </p>
    
                <p>
                  2.- San Pedro Cloud Forest - Erika Lodge (400 m.a.s.l. - Low Jungle).
                </p>
                
                <p>
                  3.- Erika Lodge.
                </p>

                <p>
                  4.- Erika Lodge – Shintuya Hot springs.
                </p>

                <p>
                  5.- Erika Lodge - Cusco.
                </p>
                
           

                          
                              
                           
          </div>



          
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    


        <li>
          <div class="content">
            <h3>Inca Route: Jungle Activities</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
                <p>
                  1.- Brief stop in Ninamarca Pre-inka tombs.
                </p>
    
                <p>
                  2.- Short visit in Paucartambo colonial andean town.
                </p>
                
                <p>
                  3.- Brief stop in Acjanacco Pass, the entry of Manu National Park.
                </p>

                <p>
                  4.- Cloud Forest exploration – bird watching specially the cocks of the rocks– observation of endemic plants and small mammals.
                </p>
                
                <p>
                  5.- Night photography in the Cloud forest.
                </p>

                <p>
                  6.- Brief stop in tropical fruits and coca leave plantations.
                </p>
                
                <p>
                  7.- River rafting – birding observation– refreshing swimming in tropical rivers - out motorized boat riding
                </p>
                
                <p>
                  8.- Visit to a small lagoon to observe alligators.
                </p>

                
                <p>
                  9.- Parakeet and parrot clay lick activity.
                </p>

                
                <p>
                  10.- Machuwasi lake catamarán- birdwatching in low jungle
                </p>

                <p>
                  11.- Hike to the Ceiba tree.
                </p>
                
                <p>
                  12.- Visit to Shintuya hot springs (full day).
                </p>
                
                <p>
                  13.- Night walk Half Moon trail.
                </p>
                
                <p>
                  14.- Visit to Pico de Hoz Mirador hummingbird garden.
                </p>


                
                              
                           
          </div>



          
          <div class="time">
            <h4>Jungle Activities</h4>
          </div>
        </li>
    





        <li>
          <div class="content">
            <h3>Cusco (3,300 m.a.s.l.) – Andes - (3650 m.a.s.l.) Cloud Forest (1,400 m.a.s.l.).</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/3nationalpark1.jpg" alt="">
              
             We leave Cusco early in the morning in one of our vehicles. We will pass through 
             interesting valleys and picturesque communities. We will stop in Paucartambo, a
             beautiful colonial town, here we will visit a very interesting museum. We will 
             have a packed lunch in route. We continue to the Cloud Forest, an area rich with 
             endemic species like the Spectacled Bear, the Cock of The Rock, a variety of 
             orchids, bromeliads, lichens and ferns etc. Take in the beautiful nature as we 
             make our way to San Pedro de Orquídeas Lodge where we will spend our first 
             night in our comfortable accommodation.

              </p>
            

         
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>
        



        <li>
          <div class="content">
            <h3>Cloud Forest San Pedro – Erika Lodge (400 m.a.s.l.).</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/3nationalpark2.jpg" alt="">
              
            
              Very early we will go in search of the Cock of the Rock, the National bird of Peru, 
              that has a very unique courtship dance. After breakfast we will continue to the small 
              town of *Pilcopata, then to the Port of Atalaya, which is located on the shores of 
              the Madre de Dios River (600 m.s.n.m). Here we will take a boat to our Private Reserve 
              of “Erika” where we will walk along the interesting trails that are in the transition 
              zone between high and low jungle and your guide will point out and explain the 
              interesting diversity of wild life that surrounds you. Around 3 in the afternoon 
              we will walk along our trail for approximately 3 hours and half, and we will go 
              to the alligator lagoon which is located on our property, there we will be able 
              to observe between 6 to 8 alligators, also we will have the chance for a night 
              walk to catch a glimpse of insects and amphibians. 

            
            
            </p>


            <p>
              *Free Optional - Rafting: In Pilcopata will have 90 minutes of rafting 
              (grade I & II) on the Koñeq and/or Madre de Dios Rivers. You can enjoy 
              the beautiful landscape and have a swim in the refreshing water.

            </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>


             

        <li>
          <div class="content">
            <h3>Erika Lodge</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/3nationalpark3.jpg" alt="">
              Very early we board our boat and make our way to Collpa, a clay wall by the river where a variety of parrots such as the blue headed parrot, the White eyed parakeet, possibly the Maracana Macaw and others come every morning to substitute their diet with minerals and salts. After this activity we return to Erika for breakfast.
              After breakfast we will visit Machuwasi Lake where we are going to paddle quietly on a catamaran to be able to see an enormous diversity of bird species such as hoatzin a prehistoric bird, horned screamers, red capped cardinals, capped herons, vultures, cormorants, and others; walking we can observe monkeys, capibaras, snakes and other species.
              In the afternoon we will take a walk along another trail where we will visit the Ceiba tree, one of the largest and oldest that exists on the planet.
              
            
            
            </p>

        
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>Erika Lodge– Shintuya hot springs– Erika Lodge.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/3nationalpark4.jpg" alt="">
              
              After breakfast we take our boat down the Alto Madre de Dios River for 2 hours 
              for an interesting and exciting trip to the hot springs of Shintuya surrounded 
              by our beautiful forest, being there we will walk along a trail for approximately 
              3 hours (round trip) until we reach some waterfalls, after relaxing in the water 
              and a refreshing cold lunch, we return to Erika Lodge.
            
            </p>

        
          </div>
          <div class="time">
            <h4>Inca Route: Day 4</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>Erika Lodge – Cusco.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/3nationalpark5.jpg" alt="">
              
              After a delicious breakfast in the morning, we pack up and take our boat back 
              to Atalaya Port, where our vehicle will be waiting to take us back to Cusco. 
              On the way back to Cusco, we will have a brief stop at Pico de Hoz Mirador 
              hummingbird garden (550 m.a.s.l.), a self-sustaining environmental conservation 
              center to observe and photograph a wide variety of hummingbirds and other birds 
              such as toucans, king vultures, monkeys and with luck a sloth. We have lunch en
              route to Cusco and arrive early evening. 
            
            </p>

         
          </div>
          <div class="time">
            <h4>Inca Route: Day 5</h4>
          </div>
        </li>
      
           

        
      

        <li>
          <div class="content">
            <h3>End of the Route</h3>



                 
            <p>
              <p>
                Our programme include:
                
                <p>
                  ➢ Land transportation, river transportation, 01 night in our San Pedro de 
                  Orquideas Lodge, 03 nights in our Erika Lodge, all meals (vegetarian option 
                  avail) bilingual specialized guide, all equipment for rafting, first aid kit,
                  luggage storage, 
    
                
    
    
              </p>     



              <p>
                Our programme No include:
                
                <p>
                  ➢ First day breakfast, water for the first day, soft drinks, 
                  alcoholic drinks, souvenirs, tips and the last dinner.
                </p>
    
                                  
              </p>     
              



          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>