<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>

  
  
    <h1>Itinerary Cusco</h1>

    <div>
      <h2 class="introduction">CUSCO – MACHUPICCHU 4 DAYS AND  3 NIGHTS </h2>
    </div>
  
    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 

    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where u enjoy mountains, archaeological sites</p>
    </div>

    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
                <p>
                  1.- DAY 1: PICK UP FROM THE AIRPORT + CITY TOUR 
                </p>
    
                <p>
                  2.- DAY 2: SACRED VALLEY OF THE INCAS.
                </p>
                
                <p>
                  3.- DAY 3: CUZCO - MACHUPICCHU – CUZCO.
                </p>

                <p></p>
                  .- DAY 4: TRANSFER TO THE AIRPORT.
                </p>
             
          </div>
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    





        <li>
          <div class="content">
            <h3>PICK UP FROM THE AIRPORT + CITY TOUR.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/cuscomapisacsayhuaman1.jpg" alt="">
              Pick up from Cusco Airport and transfer to the Hotel. At the appropriate time,
              the CITY TOUR will start, where we will visit the Archaeological Park of 
              Sacsayhuaman, Qenqo, Pucapucara and Tambomachay (Approximate duration of 4 hours).
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>      





        
        <li>
          <div class="content">
            <h3> SACRED VALLEY OF THE INCAS.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/cuscopisac2.jpg" alt="">
              07:30 a.m. Start of the Sacred Valley of the Incas. On this tour we visit 
              the typical market of Pisaq, the Archaeological Park of Pisaq, the town 
              of Urubamba where we will have free time for lunch, then we will continue
              our tour visiting the archaeological complex of Ollantaytambo. Returning to 
              Cusco, we will visit the Chinchero viewpoint.
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>      

        
        
        <li>
          <div class="content">
            <h3>CUZCO - MACHUPICCHU – CUZCO.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/cuscoollataytambo3.jpg" alt="">
              04:00 A.M.- Transfer to the train station to leave for the Sanctuary
              of Machupicchu. Full day excursion that includes a guided tour.
              In the afternoon return to the city of Cuzco and transfer to the Plaza de Cusco.
              From the Plaza to the hotel at the passenger's expense. Shared service.
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>      


        <li>
          <div class="content">
            <h3>TRANSFER TO THE AIRPORT.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/cuscocity4.jpg" alt="">
              At the appropriate time, transfer to the Cusco airport or bus station.
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 4</h4>
          </div>
        </li>     

      

        <li>
          <div class="content">
            <h3>End of the Route</h3>
           
            <p>
              <p>
                Our programme include:
                
                <p>
                  ➢	Transfer Cusco Airport – Hotel.
                </p>
    
                <p>
                  ➢ City tour (Tourist bus, professional guide and income).
                </p>
    
                <p>
                  ➢ Sacred Valley (tourist bus, professional guide and income) and 1 lunch.
                </p>
              
                <p>
                  ➢ Income to the Sacred Valley and City Tour.
                </p>
    
                <p>
                  ➢ Machu Picchu Tour.
                </p>  

                <p>
                  ➢ Transfer to the train station round trip.
                </p>  
    
                
                <p>
                  ➢ Round trip tourist train tickets.
                </p>  


                <p>
                  ➢ Entrance to Machupicchu.
                </p>  

                <p>
                  ➢ Up and down bus.
                </p>  

                <p>
                  ➢ Transfer Hotel – Cusco Airport.
                </p>  

                <p>
                  ➢ Professional guide.
                </p>  
                <p>
                  ➢ Transfer Hotel – Cusco Airport.
                </p>  
                <p>
                  ➢ 3 nights of hotel accommodation and breakfasts.
                </p>  
    
    
              </p>     



              <p>
                Our programme No include:
                
                <p>
                  ➢ Airplane ticket.
                </p>
    
                <p>
                  ➢ 	Dinners, lunches, drinks, tips
                </p>
    
                             
              </p>     
              

              
              
    
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>