<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>

  
  
    <h1>Itinerary Cusco</h1>
    <h2 class="introduction">SALKANTAY 5 DAYS AND 4 NIGHTS</h2>
    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 
    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where u enjoy mountains, archaeological sites</p>

    </div>

    </div>
    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
                <p>
                  1.- CUSCO – SORAYPAMPA (15 KM APPROX).
                </p>
    
                <p>
                  2.- SORAYPAMPA – CHAULLAY (21KM APPROX).
                </p>

                <p>
                  3.- CHAULLAY – SAHUAYACO BEACH – SANTA TERESA (11KM APPROX).
                </p>

                <p>
                  4.- SANTA TERESA – AGUAS CALIENTES (17 km approx).
                </p>

                <p>
                  5.- MACHU PICCHU – CUSCO.
                </p>
                
              
          </div>
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    





        <li>
          <div class="content">
            <h3>CUSCO – SORAYPAMPA (15 KM APPROX).</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/cuscosalkantay1.jpg" alt="">
              5:00 a.m. We leave from Cusco, passing through the towns of Izcuchaca and
              Limatambo arriving at Mollepata (2900 m.s.n.m) where we will be at
              approximately 8:30 a.m. where we will have our breakfast (not included),
              then we will prepare to start our excursion first we will take a car that
              will take us to the point of markokasa (50 min) (3380m.s.n.m) from that point 
              we will begin our walk in approximately 5 hours passing through the towns of 
              markokasa and canaleta inka and thus arriving at soraypamapa (3900m .a.s.n.m) 
              where we will be arriving at 1:30 p.m. there we will have our first lunch and 
              first camp after lunch we can go to visit the beautiful Humantay lagoon 
              (4200 m.s.n.m) 1.30 hours up where we will have impressive views of said 
              mountain and at night We will have our dinner and then we can rest.
              
              
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>
        



        <li>
          <div class="content">
            <h3>SORAYPAMPA – CHAULLAY (21KM APPROX)</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/cuscosalkantay2.jpg" alt="">
              
              Being 7:00 am we will have to taste a nutritious breakfast and then
             continue with our walk, we start from the point of soraypamapa to the 
             highest point open salkantay (5 hours) (4650m.s.n.m) passing through 
             salkantaypampa and soyrococha where we will appreciate a small lagoon 
             then we will begin the descent to huayracmachay (3h) (3800m.s.n.m) 
             where we will have our lunch then we will continue descending to chaullay 
             (2h) (2900m.s.n.m) where it will be our second camp.
            
            
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>CHAULLAY – SAHUAYACO BEACH – SANTA TERESA (11KM APPROX).</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/cuscosalkantay3.jpg" alt="">
              
              Continuing our walk after a comforting breakfast we will begin our walk 
              appreciating a variety of coca crops, considered the sacred leaf of our 
              ancestors which is currently cultivated in tropical areas, this last section 
              will be descending to Playa (5h) (1900m.s.n.m ) where we will have our 
              lunch and from there we will head to Santa Teresa on a bus where we will 
              spend the night. Optional visit the Cocalmayo hot springs.
            
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>
        


        <li>
          <div class="content">
            <h3>SANTA TERESA – AGUAS CALIENTES (17 km approx).</h3>
            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/cuscosalkantay4.jpg" alt="">
            <p>
              
              The sunrise will be within a tropical area full of history and nature, 
              where our breakfast awaits us ready to taste. Arriving at this town will
              take us approximately 6 hours, passing through the well-known rest center
              of Hidroeléctrica in this Puno we will take a box lunch (Hydroelectric 
              Train Service – Aguas Calientes: Optional), making stops in different 
              places to simply appreciate the landscape and its surroundings full of
              waterfalls with impressive falls which come from the glaciers, 
              arriving in the afternoon at the mentioned town that is popularly 
              known as "hot waters", (2000m.s.n.m) there we will spend the night in a hostel 
              at the foot of the Inka citadel of Machupicchu. We will have our last dinner 
              in a restaurant and our guide will organize everything for the next day.
            
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: Day 4</h4>
          </div>
        </li>





        <li>
          <div class="content">
            <h3>MACHU PICCHU – CUSCO.</h3>
            
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/5machupicchu3.jpg" alt="">
              
              At dawn around 04:30 in the morning we will ascend towards the majestic Inka city
              of Machupicchu where we will visit accompanied by our guide for approximately
               2 hours, and the rest of the day free in which you can visit optional 
               (it is not included in the package) Huayna Picchu or Machu Picchu mountain 
               once again the entire citadel, we return in the afternoon to the town 
               of Machu Picchu town depending on the schedule of our return train which
               we will announce once you book your trip with our company. Pick up at the
               Ollantaytambo train station and transfer to the city of Cusco.


            </p>
          </div>
          <div class="time">
            <h4>Inca Route: Day 5</h4>
          </div>
        </li>
        
      
       

        <li>
          <div class="content">
            <h3>End of the Route</h3>
           
            <p>
              <p>
                Our programme include:
                
                <p>
                  ➢ Transportation from Cusco to Mollepata.
                </p>
    
                <p>
                  ➢ Professional Guide.
                </p>
    
                <p>
                  ➢ Cook with experience in routes.
                </p>
              
                <p>
                  ➢ 4 breakfasts, 4 lunches, 4 dinners.
                </p>
    
                <p>
                  ➢ Horses (equipment, food, and 5 to 6 kilos of client's luggage (includes sleeping), 
                  if it exceeds this weight, it is the responsibility of the passenger) only for 3 days.
                </p>  

                <p>
                  ➢ Camping equipment (Tents and matras)
                </p>  
    
                <p>
                  ➢ Entrance to Machupicchu.
                </p>  
    
                <p>
                  ➢ 01 night in a hostel or hotel in Aguas Calientes.
                </p>  
    
                <p>
                  ➢ Return ticket in tourist train Aguas Calientes –Ollantaytambo.
                </p>  
    
                <p>
                  ➢ Transportation Ollantaytambo – Cusco.
                </p>  
    
              </p>     



              <p>
                Our programme  No include:
                
                <p>
                  ➢ Breakfast the first day.
                </p>
    
                <p>
                  ➢ Lunch on the last day.
                </p>
    
                <p>
                  ➢ Entrance to Huaynapicchu or Machupicchu mountain 
                  ($20.00 Additional Dollars).
                </p>

                <p>
                  ➢ Sleeping bag.
                </p>

                <p>
                  ➢ Extra expenses.
                </p>

                  
              </p>     
              


              <p>
                We recommend:
                
                <p>
                  ➢ Backpack.
                </p>
    
                <p>
                  ➢ Clothes that keep you warm at night.
                </p>
    
                <p>
                  ➢ Rain clothes.
                </p>
                  
                <p>
                  ➢ Flashlight.
                </p>
    
                <p>
                  ➢ Cap.
                </p>
                  
                <p>
                  ➢ Several poles.
                </p>
    
                <p>
                  ➢ Insect repellent.
                </p>
                  
                <p>
                  ➢	Plastic poncho for the rain. 
                </p>
    
                <p>
                  ➢ Medication team.
                </p>

                <p>
                  ➢ Water bottle.
                </p>
                  
                <p>
                  ➢ Original passport.
                </p>
                  
                <p>
                  ➢ Student card if applicable.
                </p>
                  
                <p>
                  ➢ Extra money.
                </p>
                  
                <p>
                  ➢ Walking poles.
                </p>

                  

              </p>     
              
              
    
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>