<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>

  
  
    <h1>Itinerary Cusco</h1>

    <div>
      <h2 class="introduction">SALKANTAY 4 DAYS AND 3 NIGHTS</h2>
    </div>

    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 

    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where u enjoy mountains, archaeological sites</p>
    </div>

    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
                <p>
                  1.- CUSCO – SORAYPAMPA – HUMANTAY LAGOON.
                </p>
    
                <p>
                  2.- SORAYMAPA – CHAULLAY.
                </p>

                <p>
                  3.- CHAULLAY – SANTA TERESA – AGUAS CALIENTES.
                </p>

                <p>
                  4.- AGUAS CALIENTES – CUSCO.
                </p>

                           
              
          </div>
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    





        <li>
          <div class="content">
            <h3>CUSCO – SORAYPAMPA – HUMANTAY LAGOON.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/cuscosalkantaysoraypampa1.jpg" alt="">
              Departure 5:00 a.m. We leave from Cusco, passing through the towns of 
              Izcuchaca and Limatambo arriving at Molle Pata where we will be at 
              approximately 7:00 a.m. where we will have our breakfast, then we will 
              prepare to start our walk, reaching Soraypampa from where it will begin.
             our walk to the humantay lagoon (1 hour and 30 minutes of walking), 
             then we will return to Soraypampa where we will spend the first night 
             in our camp.              
              
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>
        



        <li>
          <div class="content">
            <h3>SORAYPAMPA – CHAULLAY.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/cuscosalkantayurubambariver2.jpg" alt="">
              
              Being 7:00 am we will have to taste a nutritious breakfast and then
             continue with our walk, we start from the point of soraypamapa to the 
             highest point open salkantay (5 hours) (4650m.s.n.m) passing through 
             salkantaypampa and soyrococha where we will appreciate a small lagoon 
             then we will begin the descent to huayracmachay (3h) (3800m.s.n.m) 
             where we will have our lunch then we will continue descending to chaullay 
             (2h) (2900m.s.n.m) where it will be our second camp.
            
            
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>CHAULLAY – SANTA TERESA – AGUAS CALIENTES.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/cuscosalktanaycolcamayo.jpg" alt="">
              
            
            Continuing our walk after a comforting breakfast we will begin our walk appreciating 
            a variety of coca crops, considered the sacred leaf of our ancestors which is 
            currently cultivated in tropical areas, this last section will descend to Playa and 
            from there we will take a transport to to Santa Teresa followed by Hidroeléctrica, 
            where you can take the train that leaves from Hidroeléctrica to Aguas Calientes 
            (optional service). Where we will spend the night.


            
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>
        


        <li>
          <div class="content">
            <h3>AGUAS CALIENTES – CUSCO.</h3>
            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/machupicchu3.jpg" alt="">
            <p>
              
             At dawn around 4.30 in the morning we will ascend towards the majestic Inka
             city of Machu Picchu where we will visit accompanied by our guide for approximately 
             2 hours, and the rest of the day free in which you can visit Huaynapicchu, Inti 
             Punku, temple de la luna or simply visit the entire citadel once again, we return
             in the afternoon to the town of Machu Picchu town depending on the schedule of
             our return train which we will announce once you book your trip with our company.




            
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: Day 4</h4>
          </div>
        </li>

          
       

        <li>
          <div class="content">
            <h3>End of the Route</h3>
           
            <p>
              <p>
                Our programme include:
                
                <p>
                  ➢ Transportation from Cusco to Mollepata – Challacancha.
                </p>
    
                <p>
                  ➢ Professional Guide.
                </p>
    
                <p>
                  ➢ 3 breakfasts.
                </p>
              
                <p>
                  ➢ 3 lunches.
                </p>
    
                <p>
                  ➢ 3 dinners.
                </p>  

                <p>
                  ➢ Horses (equipment, food, and 5 kilos of client's luggage).
                </p>  
    
                <p>
                  ➢ Camping equipment (Tents and Matras).
                </p>  
    
                <p>
                  ➢ 01 night in a hostel or hotel in Aguas Calientes.
                </p>  
    
                <p>
                  ➢ Entrance to Machu Picchu.
                </p>  
    
                <p>
                  ➢ Return ticket by tourist train.
                </p> 
                
                <p>
                  ➢ Transportation Ollantaytambo – Cusco.
                </p>  

    
              </p>     



              <p>
                Our programme  No include:
                
                <p>
                  ➢ Breakfast the first day.
                </p>
    
                <p>
                  ➢ Lunch on the last day.
                </p>
    
                <p>
                  ➢ Optional Huaynapicchu or Machupicchu Mountain ($20.00 Dollars) approx.
                </p>

                <p>
                  ➢ Sleeping bag.
                </p>

                <p>
                  ➢ Service and Extra expenses.
                </p>

                  
              </p>     
              


              <p>
                We recommend:
                
                <p>
                  ➢ Backpack.
                </p>
    
                <p>
                  ➢ Clothes that keep you warm at night.
                </p>
    
                <p>
                  ➢ Rain clothes.
                </p>
                  
                <p>
                  ➢ Flashlight.
                </p>
    
                <p>
                  ➢ Cap.
                </p>
                  
                <p>
                  ➢ Several poles.
                </p>
    
                <p>
                  ➢ Insect repellent.
                </p>
                  
                <p>
                  ➢	Plastic poncho for the rain. 
                </p>
    
                <p>
                  ➢ Medication team.
                </p>

                <p>
                  ➢ Water bottle.
                </p>
                  
                <p>
                  ➢ Original passport.
                </p>
                  
                <p>
                  ➢ Student card if applicable.
                </p>
                  
                <p>
                  ➢ Extra money.
                </p>
                  
                <p>
                  ➢ Walking poles.
                </p>

                  

              </p>     
              
              
    
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>