<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>

  
  
    <h1>Itinerary Cusco</h1>
    <h2 class="introduction">INCA TRAIL - CAMINO INCA 4 DAYS Y 3 NIGHTS</h2>
    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 
    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where u enjoy mountains, archaeological sites</p>

    </div>

    </div>
    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
                <p>
                  1.- DAY 1: CUSCO – WAYLLABAMBA – LLULLUCHAPAMPA.
                </p>
    
                <p>
                  2.- DAY 2: LLULLUCHAPAMPA – SAYACMARCA – CHAQUICOCHA.
                </p>
                
                <p>
                  3.- DAY 3: CHAQUICOCHA – WIÑAYHUAYNA.
                </p>

                <p></p>
                  .- DAY 4: WIÑAYHUAYNA – MACHUPICCHU – CUSCO.
                </p>
             
          </div>
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    





        <li>
          <div class="content">
            <h3>CUSCO – WAYLLABAMBA – LLULLUCHAPAMPA.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/cuscoassangate1.jpg" alt="">
              Collect from the passengers of their respective lodging (6:00 am.), 
              In a private bus, and after crossing the towns of Chinchero, Urubamba 
              and Ollantaytambo in "Sacred Valley of the Incas" in the direction of El Km. 
              82 (Piscakuchocho ), Then we will start our walk, stop at Miskay, we restart 
              the walk towards our first camp in Wayllabamba to Almorz, in the afternoon we
              will pass through the first open and camp in our first camp Llulluchapampa.
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>      





        
        <li>
          <div class="content">
            <h3> LLULLUCHAPAMPA – SAYACMARCA – CHAQUICOCHA.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/cuscoassangatesayamarca2.jpg" alt="">
              After breakfast we will start the walk towards the highest point of the Inca
              road, where we can observe different microclimates. Passing through the
              Warmiwañusca Abra at 4,200 m.s.n.m. We will have lunch in Pacaymayu, 
              we will visit the Runkuracay complex continuing with the walk we will 
              descend towards Sayacmarca that is a semicircular construction at different levels,
              then approximately with a 20 -minute walk we will arrive at the Chaquicocha camp.
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>      

        
        
        <li>
          <div class="content">
            <h3> LLULLUCHAPAMPA – SAYACMARCA – CHAQUICOCHA.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/cuscowinayhuayna3.jpg" alt="">
              We continue the walk after having breakfast towards the third pass (3650m)
              to continue towards the Phuyupatamarca Complex where you can see the Urubamba 
              Valley and finally Wiñayhuayna (2650m) last camp.
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>      


        <li>
          <div class="content">
            <h3>WIÑAYHUAYNA – MACHUPICCHU – CUSCO.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/cuscowinayhuayna4.jpg" alt="">
              After breakfast, at approximately 4:30 a.m. we will start the walk towards
              the Puerta del Sol (Inti Putu), where we will be able to appreciate the majestic 
              and imposing Citadel of Machupicchu. Arriving at Machupicchu, guided tour and 
              free time, then we descend to the town of Aguas Calientes, where you can visit
              the thermal baths, finally we board the train to return to the City of Cusco.
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 4</h4>
          </div>
        </li>     

      

        <li>
          <div class="content">
            <h3>End of the Route</h3>
           
            <p>
              <p>
                Our programme include:
                
                <p>
                  ➢	Tourist bus to Km.82.
                </p>
    
                <p>
                  ➢ Professional guide assistant from 9 passengers.
                </p>
    
                <p>
                  ➢ Entrance ticket to the Inca Trail and Machupicchu.
                </p>
              
                <p>
                  ➢ Food: 3 breakfasts, 3 lunches and 3 dinners.
                </p>
    
                <p>
                  ➢ Snack 4 days.
                </p>  

                <p>
                  ➢ Porters to transport the Agency's camping equipment.
                </p>  
    
                
                <p>
                  ➢ Dining tent (includes tables, chairs).
                </p>  


                <p>
                  ➢ Kitchen tent.
                </p>  

                <p>
                  ➢ Quadruple tents (for two people).
                </p>  

                <p>
                  ➢ First aid kit, includes blood pressure monitor and thermometer.
                </p>  

                <p>
                  ➢ Oxygen balloon.
                </p>  
                <p>
                  ➢ Tourist train ticket back to Ollantaytambo.
                </p>  
                <p>
                  ➢ Return bus to the city of Cusco.
                </p>  
    
    
              </p>     



              <p>
                Our programme No include:
                
                <p>
                  ➢ Sleeping bag.
                </p>
    
                <p>
                  ➢ Last lunch in Aguas Calientes.
                </p>
    
                <p>
                  ➢ Bus down Machu Picchu Aguas Calientes.
                </p>

               
              </p>     
              


              <p>
                We recommend:
                
                <p>
                  ➢ Passport or identity document (original).
                </p>
    
                <p>
                  ➢ Clothes that keep you warm at night.
                </p>
    
                <p>
                  ➢ Rain clothes.
                </p>
                  
                <p>
                  ➢ Several poles.
                </p>
    
                <p>
                  ➢ Insect repellent.
                </p>
                  
                <p>
                  ➢ Plastic poncho for the rain Purifying tablets.
                </p>
    
                <p>
                  ➢ Medication team.
                </p>

                <p>
                  ➢ Water bottle.
                </p>
                  

                <p>
                  ➢ Student card (isic) if applicable.
                </p>
                  

                <p>
                  ➢ Extra money in Soles & dollars.
                </p>
                  

                <p>
                  ➢ Walking poles.
                </p>
                                
                              

              </p>     
              
              
    
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>