<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>

  
  
    <h1>Itinerary ESENCE OF PERU</h1>

    <div>
      <h2 class="introduction">ESSENCE OF PERU IN 8 DAYS</h2>
    </div>
   
    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 

    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where u enjoy mountains, archaeological sites</p>
    </div>

    
    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
                <p>
                  1.- DAY 1:  LIMA CIUDAD DE LOS REYES.
                </p>
    
                <p>
                  2.- DAY 2: CUSCO NAVEL OF THE WORLD.
                </p>
                
                <p>
                  3.- DAY 3: SACRED VALLEY.
                </p>

                <p>
                  4.- DAY 4: MACHU PICCHU “WONDER OF THE WORLD”.
                </p>

                <p>
                  5.- DAY 5: MOUNTAIN OF 7 COLOURS.
                </p>

                
                <p>
                  6.- DAY 6: JORGE CHAVEZ AIRPORT – LIMA.
                </p>


                <p>
                  7.- DAY 7: FULL DAY PARACAS- ICA.
                </p>


                <p>
                  8.- DAY 8: LIMA.
                </p>
             
             
             
          </div>
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    

        <li>
          <div class="content">
            <h3> LIMA CIUDAD DE LOS REYES.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/1peruesence1.jpg" alt="">
              Arrival in Lima
              Trip from the airport to
              the hotel
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>      





  
           
        
        <li>
          <div class="content">
            <h3>CUSCO NAVEL OF THE WORLD.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/1peruesence2.jpg" alt="">
              06:00 a.m. Arrival in Cusco. Transfer to the chosen hotel.
              Breakfast not included.
              2:00 p.m. EXCURSION TO THE CITY and NEARBY RUINS:
              The Cathedral, the Plaza de Armas,
              the Temple of the Sun, the Stone
              of the Twelve Angles, and the four
              ruins near Cuzco such as the great
              Sacsayhuaman Fortress, the Kenko
              amphitheater, the Torreón de
              Puca-Pucara and the Baths of the Inca Tambomachay. Duration 04 hours.
              18:00 PM Return to the Hotel. approx.
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>      


        <li>
          <div class="content">
            <h3>SACRED VALLEY.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/1peruesence3.jpg" alt="">
              07:00 a.m. Breakfast,
              The bus will pick you up to start the full day excursion to visit the
              small town of Pisac as well as the ruins and the Indian market of
              Pisac. Then you will continue to enjoy the beautiful landscape of
              the Sacred Valley of the Incas until you reach the Fortress and
              small town of Ollantaytambo. Overnight in Aguas Calientes.
              Lunch. Including.
                            
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>     


        <li>
          <div class="content">
            <h3>MACHU PICCHU “WONDER OF THE WORLD”.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/1peruesence4.jpg" alt="">
              06:00 am Breakfast at the hotel.
              At the appropriate time we will begin with the
              Excursion to the temple of Machu Picchu. Full
              day excursion that includes the guided visit
              (Guide only for 2 hours)
              In the afternoon return to the city of Cuzco and
              transfer to the Plaza de Cusco, return to the
              Hotel on behalf of the passenger (3 blocks
              from the hotel).
                            
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 4</h4>
          </div>
        </li>     


        <li>
          <div class="content">
            <h3>MOUNTAIN OF 7 COLORS.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/1peruesence5.jpg" alt="">
              We begin with the pick up from your
              respective hotel at 4:30 am in the
              morning, we will go south of Cusco
              passing through the town of URCOS
              (along the road that leads Cusco-Puno) to the district of CHECACUPE (2 hours
              by bus ) then we will take the detour that will lead us to PITUMARCA and from
              where we will continue along a road passing through small towns until we
              reach the community of HANCHIPATA -QUESIUNO (1:20 hours by bus) the
              ideal place to start the walk, on the route We will appreciate many mountains
              as well as the snow-capped
              AUSANGATE, beautiful lagoons,
              grazing camelids. The walk will last
              approximately 3 hours until we
              reach EL CERRO DE COLORES,
              VINICUNCA OR MONTAÑA DE ARCO
              IRIS, in this place we will spend approximately one hour taking photos of the
              mountain and the beautiful landscape, then we will return to the starting
              point, the walk of Return will be approximately 3 hours to then return in our
              transport to Cusco.
              Return to the city of Cusco at approximately 7:00 pm.
              Lunch included. Does not include dinner.
                            
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 5</h4>
          </div>
        </li>     



        
        <li>
          <div class="content">
            <h3>JORGE CHAVEZ AIRPORT – LIMA.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/1peruesence6.jpg" alt="">
              Transfer to Cusco Airport with return to Lima
              2:20 p.m. The tourist bus will pass by your
              hotel to start the City Tour.
              City tours Modern Lima, Financial Center,
              Golf, Olivar, Huaca Pucllana,
              Lima the city of the kings; We will visit the
              Plaza San Martín, its balconies and old
              houses, the Plaza Mayor and its most
              important buildings such as the Government
              Palace, the
              Cathedral of Lima, the Archbishop's and
              Municipal Palace, the Desamparados
              Station, among others. We will enter one
              of the most important convents of the
              17th century. and the underground
              crypts known as Catacombs.
              magic fountains.
                                          
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 6</h4>
          </div>
        </li>     



         
        <li>
          <div class="content">
            <h3>FULL DAY PARACAS- ICA.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/1peruesence7.jpg" alt="">
              Breakfast included by the Hotel
              03:00 a.m. Transfer to the Cruz del Sur
              Terminal.
              07:30 a.m. Bus heading to Paracas Cruz Del
              Sur.
              07:40 am Ballestas Islands Tour
              11:15 a.m. Bus Paracas – Ica.
              transfer
              12:20 pm City Tour In Ica-
              Huacachina with Buggies
              18:50 pm Departure by bus to Lima.
                                          
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 7</h4>
          </div>
        </li>    




        
         
        <li>
          <div class="content">
            <h3>LIMA.</h3>

            <p><img class="imagen" src="/static/tourperu/img/limafotos/1lima1.jpg" alt="">
              Return to the airport.
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 8</h4>
          </div>
        </li>    



      

        <li>
          <div class="content">
            <h3>End of the Route</h3>
           
            <p>
              <p>
                Our programme include:
                
                <p>
                  ➢	Transfer Cusco Airport – Hotel.
                </p>
    
                <p>
                  ➢ City tour (Tourist bus, professional guide and income).
                </p>
    
                <p>
                  ➢ Sacred Valley (tourist bus, professional guide and income) and 1 lunch.
                </p>
              
                <p>
                  ➢ Income to the Sacred Valley and City Tour.
                </p>

                <p>
                  ➢ Income to the Sacred Valley and City Tour.
                </p>
    
                <p>
                  ➢ Machu Picchu Tour.
                </p>
    
                <p>
                  ➢ Transfer to the train station round trip.
                </p>
    
                <p>
                  ➢ Round trip tourist train tickets.
                </p>
    
                <p>
                  ➢ Entrance to Machupicchu.
                </p>
    
                <p>
                  ➢ Up and down bus.
                </p>
    
                <p>
                  ➢ Professional guide.
                </p>
    
                <p>
                  ➢ Transfer Hotel – Cusco Airport.
                </p>

                <p>
                  ➢ 3 nights of hotel accommodation and breakfasts.
                </p>
    
    



              <p>
                Our programme No include:
                
                <p>
                  ➢ Airplane ticket.
                </p>
    
                <p>
                  ➢ Dinners, lunches, drinks, tips.
                </p>
    
               
                             
              </p>     
              

                              
            
    
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>