<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>

  
  
    <h1>Itinerary Cusco Lares - MAPI</h1>
    <h2 class="introduction"> 4 DAYS AND 3 NIGHTS</h2>
    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 
      <div class="introduction">
        <p>In TourPeruTravellers, we offer you this magnificent inka route where u enjoy mountains, archaeological sites</p>
      </div>

      <div class="introduction">
        <p></p>
    
      </div>

    </div>
    
    <div class="timeline">
      <ul>





        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
                <p>
                  1.- CUSCO – CALCA – LARES – WACAHUASI.
                </p>
    
                <p>
                  2.- WACAWASI – IPSAYCOCHA LAGOON – PATACANCHA.
                </p>

                <p>
                  3.- PATACANCHA – OLLANTAYTAMBO – AGUAS CALIENTES.
                </p>

                <p>
                  4.- AGUAS CALIENTES – MACHU PICCHU – OLLANTAYTAMBO – CUSCO.
                </p>

                
                            
              
          </div>
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    





        <li>
          <div class="content">
            <h3> CUSCO – CALCA – LARES – WACAHUASI.</h3>

            <p><img class="imagen" src="/static/routespecific/img/cusco/cusco1.2..png" alt="">
             
              early in the morning (5:00 am) we will pick you up from the hotel and begin the
               walk to the Valley of Lares, we will leave in the direction of Calca, crossing the
                popular Sacred Valley. After a few hours we will arrive at the town of Lares,
                 where we will visit the thermal and medicinal baths. After the morning 
                 experience and lunch, we will begin our walk (approx. 3 hours and 30 min.)
                  to the town of Wacawasi (first camp). Overnight, dinner and breakfast the next
                   day.
             </p>
            
          </div>
          <div class="time">
            <h4> Inca Route: Day 1</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>WACAWASI – IPSAYCOCHA LAGOON – PATACANCHA.</h3>
            <p>
              <img class="imagen" src="/static/routespecific/img/cusco/1.3.png" alt="">
              
              After breakfast we will continue our walk and we will see the great skills of 
              the inhabitants in regards to weaving and making garments; then we will go up 
              to the Ipsaycocha pass (4100 m.s.n.m. or 13451 feet). From this place we will 
              have the impressive view of the famous Veronica Mountain or Wakayhuillca
               (5750 m.s.n.m. or 18865 feet). After lunch we will continue descending for 
               approximately an hour and a half towards our last camp which is located in 
               the town of Patacancha.


            </p>
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>PATACANCHA – OLLANTAYTAMBO – AGUAS CALIENTES.</h3>
            <p>
              <img class="imagen" src="/static/routespecific/img/cusco/1.5.png" alt="">
              
              Early, after breakfast we will leave in the direction of Ollantaytambo, walking downhill
               we will arrive at a viewpoint, which will give us an impressive view of the valley to
                reach the town of Huylloc, then we will continue walking to reach the town of Pumamarka 
                and enjoy the Inca terraces, finishing the tour in Ollantaytambo, lunch. Then we will take
                 the train to Machu Picchu Pueblo and spend the night in your reserved hostel.
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>
        
        
        <li>
          <div class="content">
            <h3>AGUAS CALIENTES – MACHU PICCHU – OLLANTAYTAMBO – CUSCO.</h3>
            <p>
              <img class="imagen" src="/static/routespecific/img/cusco/cusco1.2..png" alt="">
              
              Very early we will begin the trek towards Machupicchu and we will walk an average of 1h 30m 
              along the Inca Trail to the control of Machu Picchu, we will get ready to enter, 
              we will register and we will begin our guided tour for an average of two hours, within 
              the Machu Picchu citadel. Then you will have free time to tour this impressive Inca city 
              on your own, visiting the Huayna Picchu (previous payment and reservation), the Inti Punku 
              and the Inca Bridge. Finally we end the day returning by train to Ollantaytambo and then 
              our car to Cusco.
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: Day 4</h4>
          </div>
        </li>






        
      
          <li>
            <div class="content">
              <h3>End of the Route</h3>
             
              <p>
                <p>
                  Our programme include:
                  
                  <p>
                    ➢ Pick up from the Hotel.
                  </p>
      
                  <p>
                    ➢ Transport Cusco Lares.
                  </p>
      
                  <p>
                    ➢ Horses and muleteer.
                  </p>
                
                  <p>
                    ➢ Tents, mattresses, kitchen equipment.
                  </p>
      
                  <p>
                    ➢ 3 breakfasts / 3 lunches / 3 dinners.
                  </p>  


                  <p>
                    ➢ Professional guide (English and/or Spanish).
                  </p>  

                  <p>
                    ➢ One night accommodation in Aguas Calientes.
                  </p>  

                  <p>
                    ➢ Entrance to Machu Picchu.
                  </p>  

                  <p>
                    ➢ Train tickets Ollantaytambo – Aguas Calientes – Ollantaytambo.
                  </p>  

                  <p>
                    ➢ Transportation Ollantaytambo – Cusco.
                  </p>  

                  <p>
                    ➢ First aid box.
                  </p>  
      
                </p>          
      
              </p>

              <p>
                <p>
                  WE RECOMMEND BRINGING
                  
                  <p>
                    ➢ Sleeping bag.
                  </p>
      
                  <p>
                    ➢ Walking shoes.
                  </p>
      
                  <p>
                    ➢ Light clothing.
                  </p>
                
                  <p>
                    ➢ Mosquito repellent.
                  </p>

                  <p>
                    ➢ Water bottle.
                  </p>
      

                  <p>
                    ➢ Rain jacket, cap, sunscreen, sunglasses.
                  </p>
      

                  <p>
                    ➢ Chocolates, snacks.
                  </p>
      

                  <p>
                    ➢ Photographic camera.
                  </p>
      

                  <p>
                    ➢ Extra money.
                  </p>
      

                  <p>
                    ➢ Walking poles.
                  </p>
      
           
                       
                </p>          
      
              </p>






            </div>
            <div class="time">
              <h4>Inca Route: End</h4>
            </div>
          </li>
       




        
        <div style="clear:both;"></div>



      </ul>
    </div>
  



</body>
</html>