<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>

  
  
    <h1>Tour Iquitos - Papagayo</h1>

    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 

      <div class="introduction">
        <p>In TourPeruTravellers, we offer you this magnificent inka route where u enjoy mountains, archaeological sites</p>
      </div>

      <div class="introduction">
        <p>PAPAGAYO 4 DAY AND 3 NIGHTS</p>
      </div>

      
    <div class="timeline">
      <ul>





        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
                <p>
                  1.- Iquitos – Cumaceba Amazon Lodge Reception at the airport of the city of
                  Iquitos.
                </p>
    
                <p>
                  2.- Cumaceba Amazon Lodge.
                </p>

                <p>
                  3.- Cumaceba Amazon Lodge – Paiche Hatchery.
                </p>

                <p>
                  4.- Cumaceba Amazon Lodge - Recreational Fishing – Iquitos.
                  4.- Cumaceba Amazon Lodge - Recreational Fishing – Iquitos.
                </p>
    
                            
              
          </div>
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    





        <li>
          <div class="content">
            <h3> Iquitos – Cumaceba Amazon Lodge Reception at the airport of the city of
              Iquitos</h3>

            <p><img class="imagen" src="/static/routespecific/img/iquitos/iquitos2.1.png" alt="">
             
              Reception at the airport of
              the city of Iquitos. Pedestrian
              City Tour. Depending on the
              time of arrival. Transfer to
              our private jetty to board our
              fast boat. Visit to the floating
              houses from November to
              July. Navigation through the
              Amazon River, observing its
              different hamlets. Typical
              drink upon arrival at Cumaceba Amazon Lodge. Allocation of private cabins and
              tour of the facilities. Typical self-service lunch. In the afternoon, walk through the
              primary forest knowing flora and fauna of the area. Depending on the weather
              conditions we will observe the sunset. Night walk observing insects, frogs,
              nocturnal tarantulas among others. Dinner. Amazon myths. Night in Cumaceba
              Amazon Lodge.
             </p>
            
          </div>
          <div class="time">
            <h4> Inca Route: Day 1</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>  Cumaceba Amazon Lodge</h3>
            <p>
              <img class="imagen" src="/static/routespecific/img/iquitos/iquitos2.2.png" alt="">
              
              Morning excursion and
              bird watching walking
              or in the lagoon,
              knowing the legendary
              Shansho - Hoatzin.
              Breakfast. Visit the
              Yagua native group to
              learn about their typical
              clothing, dialect, way of
              life, demonstration of the ancient way of hunting, with the "Blowgun", they
              make handicrafts that can be exchanged or bought. Typical self-ser  vice lunch;
              tour of the Amazon river visiting a riverside family who preserve some varieties
              of animals such as: sloths, monkeys, turtles, "Anacondas" or boa constrictors.
              Search for gray and pink river dolphins. Night excursion in canoe, typical sounds
              of the humid tropical forest. Dinner. Night in Cumaceba Amazon Lodge.
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>Cumaceba Amazon Lodge – Iquitos</h3>
            <p>
              <img class="imagen" src="/static/routespecific/img/iquitos/iquitos2.3.png" alt="">
              
              Dawn on the banks of the Amazon River
              watching birds on Padre Island by canoe.
              Canoe ride to appreciate the Victoria Regia,
              the largest aquatic plant in the world. Breakfast. Tour through the Amazon River to look for gray and pink river
              dolphins. Visit to a riverside family where they preserve some species of animals
              such as anacondas, lazy bears, turtles, among others. Typical aphrodisiac drinks
              with medicinal power. Lunch. Relax in the hammock house. 3:00 pm return to
              the city of Iquitos, transfer to the hotel or airport.
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>
        
        

        <li>
          <div class="content">
            <h3>Cumaceba Amazon Lodge - Recreational Fishing – Iquitos</h3>
            <p>
              <img class="imagen" src="/static/routespecific/img/iquitos/iquitos2.3.png" alt="">
              
              Breakfast and observation of the largest Aquatic Lilac in the world, La Victoria. Regia,
              Recreational fishing excursion
              species such as: catfish, sardines
              and voracious "Piranhas".
              Typical self-service lunch.
              Opportune time return to the
              city of Iquitos, transfer to the
              hotel or airport.
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: Day 4</h4>
          </div>
        </li>


        
      
          <li>
            <div class="content">
              <h3>End of the Route</h3>
             
              <p>
                <p>
                  Our programme include:
                  
                  <p>
                    ➢ Reception at the airport or hotel - Refreshments and drinks at lunch.
                  </p>
      
                  <p>
                    ➢ Land fluvial transfers in/out - Consumption in bar. 
                  </p>
      
                  <p>
                    ➢ Brief pedestrian city tour - Use of boots.
                  </p>
                
                  <p>
                    ➢ 03 nights in Cumaceba Amazon Lodge - Plastic poncho for rains.
                  </p>
      
                  <p>
                    ➢ 04 lunches – 03 dinners and 03 breakfasts - Tips.
                  </p>  


                  <p>
                    ➢ Excursions, tickets, bilingual guide and assistance to the pax.
                  </p>  
      
      
                </p>          
      
              </p>

              <p>
                <p>
                  Our programme No include:
                  
                  <p>
                    ➢ Soft drinks and drinks at lunch.
                  </p>
      
                  <p>
                    ➢ Consumption in bar.
                  </p>
      
                  <p>
                    ➢ Plastic rain poncho. 
                  </p>
                
                  <p>
                    ➢ Tips.
                  </p>
      
                       
                </p>          
      
              </p>






            </div>
            <div class="time">
              <h4>Inca Route: End</h4>
            </div>
          </li>
       




        
        <div style="clear:both;"></div>



      </ul>
    </div>
  



</body>
</html>