<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>


  
  
    <h1>Itinerary Cusco</h1>

    <div>
      <h2 class="introduction">INKA JUNGLE 3 DAYS AND 2 NIGHTS</h2>
    </div>

    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 

    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where you enjoy mountains, archaeological sites and more.</p>
    </div>

    
    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>

                
                <p>
                  1.- CUSCO – SANTA MARIA – SANTA TERESA.

                </p>
    
                <p>
                  2.- SANTA TERESA – AGUAS CALIENTES.
                </p>

                <p>
                  3.- AGUAS CALIENTES – MACHU PICCHU – CUSCO.
                </p>
                
                     
          </div>



          
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    


        
        <li>
          <div class="content">
            <h3>CUSCO – SANTA MARIA – SANTA TERESA.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/1cuscoinkajungle1.jpg" alt="">
              We pick you up from your hotel very early in the
              morning and we will board a bus to the Puerto
              Málaga pass, further down is the town of
              Alfamayo, from here we will begin the 3 to 4 hour
              bike ride to Santa María. To later take the bus to
              Santa Teresa to enjoy the thermal baths.

              </p>
            
         
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>
        



        <li>
          <div class="content">
            <h3>SANTA TERESA – AGUAS CALIENTES.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/1cuscoinkajungle2.jpg" alt="">
              At 7 am. We will start the second day of walking and we
              will finish it around 3 p.m. Arriving at Aguas Calientes. That
              night we will spend the night in a hostel with a private
              bathroom and hot water.

            
            
            </p>


         
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>



        
        <li>
          <div class="content">
            <h3>AGUAS CALIENTES – MACHU PICCHU – CUSCO.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/1cuscoinkajungle3..jpg" alt="">
              Very early in the morning we will start the
              ascent to the citadel of Machu Picchu and we
              will have the opportunity to see the sunrise,
              then we will have a guided tour for 2 hours,
              then you can visit other places of interest.
              Later it will be the return to Cusco by train to
              the town of Ollantaytambo, where our bus awaits us to return to the city of
              Cusco.

            
            
            </p>


         
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>



    
      

        <li>
          <div class="content">
            <h3>End of the Route</h3>



                 
            <p>

              THE PROGRAM INCLUDES.

              <p>
                ➢ Transportation from Cusco to Santa Teresa.
              </p>

              <p>
                ➢ Bicycle Team.
              </p>
               
              </p>
              ➢ Professional guide.
              </p>

              </p>
              ➢ Basic lodgings in Santa Teresa.
              </p>

              </p>
              ➢ 01 night in Hostal el Aguas Calientes.
              </p>

            </p>
            ➢ 01 night in Hostal el Aguas Calientes.
            </p>

              </p>
              ➢ Food during the tour 02 breakfasts, 02 lunches and 01 dinner.
              </p>

              </p>
              ➢ Entrance to the citadel of Machupicchu.
              </p>

              </p>
              ➢ Return ticket by tourist train from Aguas Calientes to Cusco.
              </p>

            </p>
            ➢ Bus Ollantaytambo – Cusco.
            </p>



            </p>



            <p>

              THE PROGRAM DOES NOT INCLUDES.

              <p>
                ➢ First breakfast.
              </p>

              <p>
                ➢ Food on the last day.
              </p>
             
            </p>


            <p>

              WE RECOMMEND TO BRING.

              <p>
                ➢ Mosquito repellent.
              </p>

              <p>
                ➢ Sunscreen.
              </p>

              
              <p>
                ➢ Shorts, long-sleeved polo shirts, hat, sunglasses, raincoat, camera.
              </p>

              
              <p>
                ➢ Water bottle.
              </p>

              
              <p>
                ➢ Sunscreen.
              </p>

              
              <p>
                ➢ Extra money.
              </p>
             

              <p>
                ➢ Original passport.
              </p>


            </p>




          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>