<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>


  
  
    <h1>Itinerary Chiclayo</h1>

    <div class="introduction">
      <h2>CHICLAYO 04 DAYS 03 NIGHTS</h2>
    </div> 

    <div class="introduction">
      <h2>TimeLine</h2>
    </div>

    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where you enjoy mountains, archaeological sites and more.</p>
    </div>
    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>

                
                <p>
                  1.- CHICLAYO.

                </p>
    
                <p>
                  2.- CHICLAYO/ TOUR SIPÁN.
                </p>
                
                <p>
                  3.- CHICLAYO/TOURS SICÁN- BOSQUE DE PÓMAC.
                </p>

                <p>
                  4.- TOUR DE PLAYAS.
                </p>
                           
          </div>



          
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    


        
        <li>
          <div class="content">
            <h3>CITY TOUR + WITCHES MARKET (2 h).</h3>

            <p><img class="imagen" src="/static/tourperu/img/chiclayofotos/1chiclayo1.jpg" alt="">
              
              4:30 p.m. to 7:00 p.m.: Visits: Plaza
              Mayor, Chiclayo Cathedral, Plazuela
              Elías Aguirre, Paseo de las muses and
              Witches' Market or Herbalist.

              </p>
            
         
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>
        



        <li>
          <div class="content">
            <h3>CHICLAYO/ TOUR SIPÁN.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/chiclayofotos/1chiclayo2.jpg" alt="">
              
              0:00 Arrival in Chiclayo and transfer to the hotel
              10:00 a.m. Visit Huaca Rajada-Sipán, place of discovery
              of the golden tomb of the Lord of Sipán, burial
              chambers and site museum where replicas of the
              findings are exhibited
              1:00 p.m. Lunch in Lambayeque (not included).
              2:00 p.m. Pyramids of Túcume, Site Museum and
              viewpoint.
              Royal Tombs of Sipán Museum (Lambayeque)
              impressive museum where the golden tomb of the Lord of Sipán is exhibited.
              6:00 p.m. Arrival in Chiclayo, and night in a hotel in Chiclayo.

            
            
            </p>


         
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>


             

        <li>
          <div class="content">
            <h3>CHICLAYO/TOURS SICÁN- BOSQUE DE PÓMAC.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/chiclayofotos/1chiclayo3.jpg" alt="">
              10:00 a.m. Sican National Museum
              (Ferreñafe)
              Pómac Forest (Batan Grande), Huaca Loro
              and ancient tree arrival in Chiclayo. and end
              of the tour.
            </p>

        
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>TOUR DE PLAYAS.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/chiclayofotos/1chiclayo4.jpg" alt="">
              
              11:00h Visit Monsefú and its permanent fair of straw crafts and ceramics. Santa Rosa fishing village, and Pimentel beach: boardwalk, pier, and lunch on the beach (not included).
              16:00h Arrival in Chiclayo, and end of the visit. Transfer to the bus terminal or airport.
            </p>

        
          </div>
          <div class="time">
            <h4>Inca Route: Day 4</h4>
          </div>
        </li>
        
      
      

        <li>
          <div class="content">
            <h3>End of the Route</h3>



                 
            <p>

              THE PROGRAM INCLUDES.

              <p>
                Transfer from the bus terminal or airport/hotel/bus terminal or airport.
              </p>

              <p>
                Guided tours and entrance fees to tourist sites.
              </p>
               
              </p>
                03 nights of accommodation.
              </p>

              </p>
                03 breakfasts.
              </p>

            </p>



          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>