<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>


  
  
    <h1>Itinerary Arequipa</h1>
    <h2 class="introduction">COLCA VALLEY 2 DAYS AND 1 NIGHT</h2>
    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 
    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where you enjoy mountains, archaeological sites and more.</p>

    </div>

    </div>
    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
              </p>

                
                <p>
                  1.- PAMPA CAÑAHUAS / NATIONAL RESERVE / CHIVAY.

                </p>
    
                <p>
                  2.- CRUZ DEL CONDOR / VIEWPOINTS / CHIVAY / AREQUIPA.
                </p>
                
                     
          </div>



          
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    


        
        <li>
          <div class="content">
            <h3> PAMPA CAÑAHUAS / NATIONAL RESERVE / CHIVAY.</h3>

            <p><img class="imagen" src="/static/tourperu/img/arequipafotos/1arequipa1.jpg" alt="">
              7:40 a.m. to 8:20 a.m. Pick up of
              passengers from your hotel located in the
              historic center Exit by the highway to
              Yura bordering the Chachani Volcano
              following the road we arrive at Pampa
              Cañahuas (National Reserve of Salinas
              and Aguada Blanca), view of South
              American camelids, Pampas de Toqra
              place of local birds and migratory, passing through Chucura, an extinct volcano,
              Patapampa and the Mirador de los Andes, a strategic point for viewing the
              volcanoes that are part of the Southern
              Cordillera of the Andes.
              1:00 p.m. Approximate arrival to Chivay
              for buffet lunch (Optional)
              Installation in the intended housing
              In the afternoon, visit the thermal
              baths "La Calera" thermal medicinal
              water sources located 3 km from
              Chivay, it has facilities to take a
              relaxing bath. (bring swimwear).
              Dinner with folkloric show in Chivay
              restaurant (Optional)
              Lodging – Colca Valley

              </p>
            
         
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>
        



        <li>
          <div class="content">
            <h3>WARI QUINUA PAMPA DE AYACUCHO.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/arequipafotos/1arequipa2.jpg" alt="">
              breakfast first thing in the
              morning
              6:15 a.m. approx. Departure
              to the town of Yanque, where
              we will have the opportunity
              to appreciate a brief show of
              typical dances of the area
              exhibited by children in its
              main square.
              The road continues to the
              viewpoint of the Cruz del
              Cóndor, after a stop and a light
              walk of 45 min. approx. from
              Cruz del Cura to Cruz del
              Cóndor. To appreciate the
              landscape that the valley offers,
              see in splendor the flight of the Condor and the depth of the Colca Canyon.
              On the return, I pass through the traditional towns of Pinchollo, Maca, Achoma,
              and Yanque, where we will observe stone models, hanging tombs,
              amphitheatres, churches, and agricultural terraces in the distance.
              We arrive at Chivay for the
              buffet lunch (Optional)
              Return to Arequipa.
              Approximate arrival at 16:30 hrs.
              Transfer of passengers to their
              respective accommodations.
            
            
            </p>


         
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>



      
      

        <li>
          <div class="content">
            <h3>End of the Route</h3>

                
            <p>

              THE PROGRAM INCLUDES.

              <p>
                Tourist transportation (round trip).
              </p>

              <p>
                01 night of tourist accommodation (private room and bathroom).
              </p>
               
              </p>
                0 Official tourist guide (Spanish – English).
              </p>

              
            </p>

            <p>

              THE PROGRAM  NO INCLUDES.

              <p>
                Entrance ticket to the Colca Valley BTC.
              </p>

              <p>
                Entrance ticket to the thermal baths.
              </p>
               
              
              
            </p>


            <P>

                OPTIONALS.

              <p>
                Traditional lunch or Dinner Show – subject to availability.
              </p>

              <p>
                Instead of returning to the city of Arequipa, you can take the Chivay/Puno
                tourist bus departure option.
              </p>
               
              </p>
                Passengers staying in hotels outside the town of Chivay, dinner should be
                considered in the same hotel.
              </p>

              </p>
                The visit to the thermal baths of La Calera is only for those passengers who
                have their hotel located in Chivay.
              </p>

              
            </p>

            <P>

              RECOMMENDATIONS.

            <p>
              Bring sun protection and repellent.
            </p>

            <p>
              Bath linen and towel for thermal baths.
            </p>
             
            </p>
              Warm clothing.
            </p>

            </p>
              Comfortable shoes.
            </p>

            
          </p>


          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>