<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>

  
  
    <h1>Itinerary Cusco</h1>

    <div>
      <h2 class="introduction">MANU NATIONAL PARK CULTURAL ZONE PROGRAM 7 DAYS & 6 NIGHTS</h2>
    </div>

    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 

    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where u enjoy mountains, archaeological sites</p>
    </div>

    
    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
                <p>
                  1.- Cusco – Erika Lodge (400 m.a.s.l. - Low Jungle).

                </p>
    
                <p>
                  2.- Erika Lodge – Boca Manu.
                </p>
                
                <p>
                  3.- Boca Manu - Reserved
                  Zone (Salvador Lake).
                </p>

                <p>
                  4.- Reserved Zone.
                </p>

                <p>
                  5.- Reserved Zone – Boca Manu.
                </p>

                <p>
                  6.- Boca Manu - Erika Lodge.
                </p>
                
                <p>
                  7.- Erika Lodge - Cusco.
                </p>
                
                
           

                          
                              
                           
          </div>



          
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    


        <li>
          <div class="content">
            <h3>Inca Route: Jungle Activities</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
                <p>
                  1.- Brief stop in Ninamarca Pre-inka tombs.
                </p>
    
                <p>
                  2.- Short visit in Paucartambo colonial andean town.
                </p>
                
                <p>
                  3.- Brief stop in Acjanacco Pass, the entry of Manu National Park.
                </p>

                <p>
                  4.- Short stop in tropical fruits and coca leave plantations.
                </p>
                
                <p>
                  5.- River rafting – birding observation–
                  refreshing swimming in tropical rivers -
                  out motorized boat riding.
                </p>

                <p>
                  6.- Visit to a small lagoon to observe
                  alligators.
                </p>
                
                <p>
                  7.- Night photography and walk in low
                  jungle.
                </p>
                
                <p>
                  8.- Parakeet and parrot clay lick activity.
                </p>

                
                <p>
                  9.- Machuwasi lake catamarán- birdwatching in low jungle.
                </p>

                
                <p>
                  10.- Hike to the Ceiba tree.
                </p>

                <p>
                  11.- Relaxing overnight in Shintuya hot springs.
                </p>
                
                <p>
                  12.- Visit to Pico de Hoz Mirador hummingbird garden.
                </p>
                
                               
                              
                           
          </div>



          
          <div class="time">
            <h4>Jungle Activities</h4>
          </div>
        </li>
    





        <li>
          <div class="content">
            <h3>Cusco (3,300m.s.n.m.) – Cloud Forest (1,700m.s.n.m.) - Erika Lodge
              (460m.s.n.m.).</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/7cusconationakpark1.jpg" alt="">
              
              We leave Cusco early in the morning in one of our
              vehicles. We will pass through interesting valleys
              and picturesque communities. We continue to the
              cloud forest, an area rich with endemic species like
              the Spectacled Bear, the Cock of The Rock, a variety
              of orchids, bromeliads and ferns etc. We continue to the town of Pilcopata*
              then at Atalaya Port which is situated on the shores of the Madre de Dios River
              at 700 m.s.n.m. From Atalaya we will continue our journey by boat to our
              private reserve of “Erika”. On the way you will be able to see a large diversity of
              bird species such as Herons, vultures and cormorants etc. We will walk along
              the interesting trails that are in the
              transition zone between high and
              low jungle and your guide will point
              out and explain the interesting
              diversity of wild life that surrounds
              you. We will have the chance for a
              night walk to catch a glimpse of insects and amphibians. We overnight in our
              Erika Lodge.

              </p>
            
              <p>
                * 1 Free Option - Rafting: In Pilcopata will have 90 minutes of rafting (grade I &
                II) on the Koñeq and/or Madre de Dios Rivers. You can enjoy the beautiful
                landscape and have a swim in the refreshing water.

              </p>

         
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>
        



        <li>
          <div class="content">
            <h3>Erika Lodge – Aguas Calientes - Boca Manu (365m.s.n.m.).</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/7cusconationakpark2.jpg" alt="">
              
              ery early we board our boat and make our way to Collpa, a clay
              wall by the river where a variety of parrots such as the blue
              headed parrot, the White eyed parakeet, possibly the Maracana
              Macaw and others come every morning to substitute their diet
              with minerals and salts. After this activity we return to Erika for
              breakfast, pack up and board our boat again. We will head down.
              
              the Alto Madre de Dios River to the of the hot springs of Aguas Calientes, which
              are surrounded by the magnificent Jungle. After relaxing in the water and a
              refreshing cold lunch, we will continue to the town of Boca Manu. During this
              part of our journey, we will see birds like skimmers, herons, several species of
              kingfishers, swallows and flycatchers.

            
            
            </p>

           
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>


             

        <li>
          <div class="content">
            <h3>Boca Manu –Reserved Zone / Lake Salvador (395m.s.n.m.).</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/7cusconationakpark3.jpg" alt="">
              At dawn, we will make a brief
              stop at the Limonal Ranger
              Station where we will
              register in the Visitor’s Book
              which controls entry into the
              reserve. We continue on the Manu River towards the heart of the reserve for
              about 4 hours to Lake Salvador leaving all traces of civilization behind. We will
              spend the next two nights in our safari camp. During this trip you can often see
              a variety of bird species like macaws, herons, pink rosettes and with a little luck,
              capybaras, caimans, river turtles, monkeys, and hopefully some felines often
              sunning on the beaches or feeding in surrounding trees. In the afternoon we
              spend our time walking in search of wildlife in this pristine forest.
            
            
            </p>

        
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>Reserved Zone / Lake Salvador (395m.s.n.m.).</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/7cusconationakpark4.jpg" alt="">
              
              We will most likely be woken early by the
              howler monkey declaring his territory. Before
              breakfast we will talk a morning walk as the
              temperature at this time is more pleasant
              and it makes it a bit easier to find animals
              who are in search of food. We will explore
              Lake Salvador by catamaran and try to see
              the giant otter, a species in danger of extinction. They can be seen fishing,
              playing or swimming. We will be looking for the Black Cayman, the Hoatzin and
              the interesting surrounding flora. We will visit Lake Otorongo and the
              observation tower which is 15m heigh which enables us to fully appreciate the
              landscape of the surrounding primary forest and we are more likely to see the
              family of otters whom reside here. There may be a possibility to do a short
              night walk to look for American bullfrogs, horned frogs, tree frogs and a host of
              colorful insects.
            
            </p>

        
          </div>
          <div class="time">
            <h4>Inca Route: Day 4</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>Reserved Zone / Lake Salvador (395m.s.n.m.) – Boca Manu.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/7cusconationakpark5.jpg" alt="">
              
              We will wake early again to take a walk around our
              campsite and Lake Salvador. You will be amazed by the
              gigantic Ceibas, colorful butterflies and curious squirrel, capuchin and wooly monkeys. After breakfast we will pack up, board our boat
              and head down the Manu River. We will keep our eyes open for peccaries
              (hogs), caymans, turtles and birds. We arrive at Boca Manu at dusk. Overnight
              at the lodge.
            
            </p>

         
          </div>
          <div class="time">
            <h4>Inca Route: Day 5</h4>
          </div>
        </li>



        <li>
          <div class="content">
            <h3>Boca Manu – Erika Lodge.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/7cusconationakpark6.jpg" alt="">
                     
              Today we cross the Alto Madre de Dios
              River, against the current, taking in the
              beautiful scenery of the Amazon jungle and
              the huge diversity of bird species. Late
              afternoon, we will arrive at our Private
              Reserve of Erika where you can rest
              comfortably and spend your last night, surrounded by the magic of the jungle.
            
            </p>

         
          </div>
          <div class="time">
            <h4>Inca Route: Day 6</h4>
          </div>
        </li>
      



        <li>
          <div class="content">
            <h3>Erika Lodge – Cusco.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/7cusconationakpark7.jpg" alt="">
              
              We get up very early, we travel up the river to
              Atalaya Port where our bus is waiting to take us
              back to Cusco, arriving early evening.
            
            </p>

            <p>
              * 2 Free Optional activity – Hummingbird
              Garden: On the way back to Cusco, we will have
              a brief stop at Pico de Hoz Mirador (550 m.a.s.l.)            
              a self-sustaining environmental conservation center to observe and photograph
              a wide variety of hummingbirds and other birds such as toucans, king vultures
              and maybe some monkeys and with luck a sloth.
            
            
            </p>

            <p>
              IMPORTANT: In order to meet your guide, the rest of your group, receive last
              minute recommendations and ask any questions you may have; one day before
              departure at 7:00 pm we have a meeting in our office. Manu National Park is
              not an endemic area for malaria or yellow fever.

            </p>

         
          </div>
          <div class="time">
            <h4>Inca Route: Day 7</h4>
          </div>
        </li>
      
      
           

        
      

        <li>
          <div class="content">
            <h3>End of the Route</h3>



                 
            <p>
              <p>
                Our programme include:
                
                <p>
                  ➢ Land transportation, river transportation, equipment for rafting, 02 nights in Erika
                  Lodge, 02 nights in Boca Manu lodge, 02 nights in Safari campsite, all meals
                  (vegetarian option avail) bilingual specialized guide, paperwork to obtain
                  permission to enter the Manu National Park, first aid kit, luggage storage, safety
                  deposit box for valuables.
    
                
    
    
              </p>     



              <p>
                Our programme No include:
                
                <p>
                  ➢ First day breakfast, water for the first day, soft drinks, 
                  alcoholic drinks, souvenirs, tips and the last dinner.
                </p>
    
                                  
              </p>   
              
              

              <p>
                SUGGESTED EQUIPMENT:
                
                <p>
                  ➢ Towel for the entire trip.
                </p>

                <p>
                  ➢ Personal hygiene supplies & medicines for 7 days.
                </p>

                <p>
                  ➢ Shoes for (walking/hiking) sandals.
                </p>
    

                <p>
                  ➢ Headlamp or torch.
                </p>

                <p>
                  ➢ Hat, sunglasses and sun block.
                </p>


                <p>
                  ➢ Insect repellent (recommend 35% DEET).
                </p>

                <p>
                  ➢ Waterproof gear, t-shirt with long sleeves, long pants, swimming gear/bathers.
                </p>

                <p>
                  ➢ Warm clothing in case of cold weather.
                </p>

                <p>
                  ➢ Binoculars, Camera.
                </p>

                <p>
                  ➢ Back pack, day pack.
                </p>

                <p>
                  ➢ Tickets to the Reserved Zone of the Manu National Park are not included.
                </p>

               

              </p> 
              



          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>