<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>

  
  
    <h1>Itinerary Cusco</h1>
    <div>
      <h2 class="introduction">ARCHAEOLOGICAL CUZCO 03 DAYS 02 NIGHTS</h2>
    </div>
 
    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 
    
    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where u enjoy mountains, archaeological sites</p>
    </div>

    
    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
                <p>
                  1.- DAY 1: LIMA – CUZCO.
                </p>
    
                <p>
                  2.- DAY 2: CUZCO - MACHUPICCHU – CUZCO.
                </p>
                
                <p>
                  3.- DAY 3: CUSCO – LIMA.
                </p>
             
             
          </div>
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    





        <li>
          <div class="content">
            <h3>LIMA – CUZCO.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/archeaologicallima1.jpg" alt="">
              Reception at the Cuzco airport and transfer to the chosen hotel.
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>      





  
           
        
        <li>
          <div class="content">
            <h3> CUZCO - MACHUPICCHU – CUZCO.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/archeaologicalcusco2.jpg" alt="">
              4:00 A.M.- Transfer to the train station to leave for the Sanctuary of Machupicchu,
              a full-day excursion that includes a guided tour. In the afternoon return to the city of Cuzco
              and transfer to the Plaza de Cusco. From the Plaza to the hotel at the passenger's expense. 
              Shared service.
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>      


        <li>
          <div class="content">
            <h3>CUSCO – LIMA.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/archeaologicalcusco3.jpg" alt="">
              Breakfast at the hotel. At the appropriate time, transfer to the airport 
              or train station.
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>     

      

        <li>
          <div class="content">
            <h3>End of the Route</h3>
           
            <p>
              <p>
                Our programme include:
                
                <p>
                  ➢	Transfer Airport / Hotel / Airport in Cusco.
                </p>
    
                <p>
                  ➢ 02 nights accommodation + 02 breakfasts.
                </p>
    
                <p>
                  ➢ Machupicchu day trip by backpacker train (includes transfers, entrance fees and guide).
                </p>
              
                <p>
                  ➢ Official guide, income and transfers.
                </p>
    



              <p>
                Our programme No include:
                
                <p>
                  ➢ Drinks or tips.
                </p>
    
                <p>
                  ➢ National Flight Lima Cusco Lima
                </p>
    
                <p>
                  ➢ Lunch in hot waters.
                </p>

                <p>
                  ➢ Air ticket to Cusco.
                </p>

                <p>
                  ➢ Accommodation nights due to bad weather.
                </p>
                
                             
              </p>     
              

                              
            
    
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>