<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>

  
  
    <h1>Tour Ancash</h1>
    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 
    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where u enjoy mountains, archaeological sites</p>

    </div>

    </div>
    
    <div class="timeline">
      <ul>



           <li>
            <div class="content">
              <h3>Inca Route: Start</h3>   
                  <p>
                     Our TourPeruTravellers Itinerary : 
                  </p>
                  <p>
                    1.- UROS – AMANTANI
                  </p>
      
                  <p>
                    2.-TAQUILE
                  </p>
      
                              
                
            </div>
            <div class="time">
              <h4>Inca Route: Start</h4>
            </div>
          </li>
      





        <li>


          
          <div class="content">
            <h3>UROS – AMANTANI</h3>

            <p><img class="imagen" src="/static/tourperu/img/punofotos/PUNO1.png" alt="">
              Pick up from the hotel and
              transfer to the port of Puno. Then you visit
              2 different islands in the Uros for an
              average of 1 hour 30 minutes located 6 km
              from the lake port with an altitude of 3,812
              meters above sea level, the Uros are
              islands built with totora reeds, the same ones that are used to build their houses.
              , boats, even use it for food and fuel. Then, We will arrive at
              the island of Amantani where we will have a
              warm reception by the population, the
              distribution of the passengers is made by
              the guide in family homes where lunch and
              dinner and breakfast the next day are
              included. . The meals are prepared based
              on local products. At night, families hold a welcome reception for new visitors
              with folk music. </p>
            
          </div>
          <div class="time">
            <h4>Day: one</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3> TAQUILE</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/punofotos/puno2.png" alt="">
              
              We will have breakfast in Amantani. We leave for the island of 
              Taquile. We will arrive at the island of Taquile where we
              will have 4 free hours to enjoy the landscape and
              the customs of this place. We will
              descend from the island of Taquile.
              Arrival to the city of Puno.
            </p>
          </div>
          <div class="time">
            <h4>Day: two</h4>
          </div>
        </li>
        
    
           
    <li>
      <div class="content">
        <h3>End of the Route</h3>
       
        <p>
          <p>
            Our programme include:
            
            <p>
              ➢ Transfer to the Port of Puno.
            </p>

            <p>
              ➢ 01 night accommodation in a family home on the island of Amantani.
            </p>

            <p>
              ➢ Uros, Amantani and Taquile tour.
            </p>
          
            <p>
              ➢ Entrance ticket to all the islands.
            </p>

            <p>
              ➢ Boat.
            </p>  

            <p>
              ➢ 01 lunch, 01 dinner and 01 breakfast in Amantani.
            </p>  

            <p>
              ➢ Bilingual guide.
            </p>  

            <p>
              ➢ Boat.
            </p>  

         </p>         
         
         <!-- recomendation-->

         <p>
          <p>
            Recommendation:
            
            <p>
              ➢ Sunscreen.
            </p>

            <p>
              ➢ Sunglasses.
            </p>

            <p>
              ➢ Cap.
            </p>
          
            <p>
              ➢ Water.
            </p>

                    </p>       

        </p>
      </div>
      <div class="time">
        <h4>Inca Route: End</h4>
      </div>
    </li>






        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>