<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>

  
  
    <h1>Itinerary Cusco</h1>
    <h2 class="introduction">CHOQUEQUIRAO 4 DAYS Y 3 NIGHTS</h2>
    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 
    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where u enjoy mountains, archaeological sites</p>

    </div>

    </div>
    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>
                <p>
                  1.- DAY 1: CUSCO – CACHORA – CHIQUISQA.
                </p>
    
                <p>
                  2.- DAY 2: CHIQUISCA – PLAYA ROSALINA – MARAMPATA.
                </p>
                
                <p>
                  3.- DAY 3: MARAMPATA – CHOQUEQUIRAO – CHIQUISQA.
                </p>

                <p></p>
                  .- DAY 4: CHIQUISCA – CAPULILLOQ – CACHORA.
                </p>
             
          </div>
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    





        <li>
          <div class="content">
            <h3>CUSCO – CACHORA – CHIQUISQA.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/1choquequirao1.jpg" alt="">
              We leave Cusco at 6:00 a.m. to the town of Cachora
              (2700 m.s.n.m) at 10:00 a.m. approx. Here we will
              meet the horses and the muleteers and it is at this
              point where we will begin our walk along a gently
              sloping path, on the way we will have the first views
              of the snow-capped Padrayoc (5,482m) and Wayna
              Cachora, along the way we will have a Brief rest at the Capuliyoc pass (3100
              m.s.n.m) from which we will have a panoramic
              view of the Apurímac valley, then we descend
              appreciating the beautiful landscape of warm
              weather until we reach Chiquisqa (1730 m.s.n.m)
              here we will have our first camp. (Lunch and
              dinner ).
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>      





        
        <li>
          <div class="content">
            <h3>CHIQUISCA – PLAYA ROSALINA – MARAMPATA.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/1choquequirao2.jpg" alt="">
              After breakfast (5:00 AM), we will continue with our
              walk towards Rosalina beach (1400 m.s.n.m), to
              then go up the slope towards Santa Rosa (2400
              m.s.n.m) place of our lunch, this journey is the most
              arduous , then we ascend to Maranpata (3100
              m.s.n.m), this is a stronger climb, during this
              journey you will be able to appreciate the entire path of the first day and the
              vegetation that exists in this place, then we will cross a section or sector called
              Las Culebras because they are curves and
              turns never ending, here we will have our
              dinner and camp; from this point it is one
              hour to Choquequirao. (Dinner, Breakfast
              and Lunch).
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>      

        
        
        <li>
          <div class="content">
            <h3>MARAMPATA – CHOQUEQUIRAO – CHIQUISQA.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/1choquequirao3.jpg" alt="">
              Very early after breakfast we go to Choquequirao to
              appreciate the sunrise, we will visit the citadel for 3 to
              5 hours always accompanied by the guide who will
              accurately explain about this important Inca refuge and
              the importance of the Apurimac and Rio Blanco rivers as well. We will also be
              able to appreciate the Vilcabamba mountain range, after the guided tour we
              will begin the return to Marampata
              and descend to Santa Rosa, and then
              descend to Rosalina beach, later we
              will go to the town of Chiquisqa,
              where we will camp. (Dinner and
              Breakfast).
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>      


        <li>
          <div class="content">
            <h3>CHIQUISCA – CAPULILLOQ – CACHORA.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/1choquequirao4.jpg" alt="">
              After a fortifying breakfast in Chiquisqa (05:00 AM) we
              return along the same path until we reach the
              Capuliyoc pass and from here it is two more hours to
              the town of Cachora, this is a much smoother section
              and we will be arriving at 11:00 a.m. approx., On the
              way we will appreciate the exotic flora and fauna of
              the place, as well as views of imposing
              snow-capped mountains and the
              impressive Apurimac canyon. and then
              continue to the city of Cusco. Arriving
              at the hotel in the afternoon.
              
              </p>
            
          </div>
          <div class="time">
            <h4>Inca Route: Day 4</h4>
          </div>
        </li>     

      

        <li>
          <div class="content">
            <h3>End of the Route</h3>
           
            <p>
              <p>
                Our programme include:
                
                <p>
                  ➢ Pick up from the hotel.
                </p>
    
                <p>
                  ➢ Transportation Cusco – Cachora – Cusco.
                </p>
    
                <p>
                  ➢ Professional English / Spanish guide throughout the tour.
                </p>
              
                <p>
                  ➢ 03 breakfasts.
                </p>
    
                <p>
                  ➢ 03 lunches.
                </p>  

                <p>
                  ➢ 03 dinners.
                </p>  
    
                
                <p>
                  ➢ Camping equipment (Tent and Matras).
                </p>  


                <p>
                  ➢ Entrance ticket to Choquequirao.
                </p>  

                <p>
                  ➢ Muleteers, Horses (That will carry the tents, food, kitchen equipment).
                </p>  

                
              </p>     



              <p>
                Our programme No include:
                
                <p>
                  ➢ Sleeping bag.
                </p>
    
                <p>
                  ➢ First breakfast.
                </p>
    
                <p>
                  ➢ Last lunch.
                </p>

                
                <p>
                  ➢ Tips.
                </p>

               
              </p>     
              


              <p>
                WE RECOMMEND BRINGING
                
                <p>
                  ➢ Mosquito repellent.
                </p>
    
                <p>
                  ➢ Sunscreen.
                </p>
    
                <p>
                  ➢ Shorts, long-sleeved polo shirts, hat, sunglasses, raincoat, camera.
                </p>
                  
                <p>
                  ➢ Water bottle. Extra money. Original passport.
                </p>
                                 

              </p>     
              
              
    
            </p>
          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>