<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>


  
  
    <h1>Itinerary Cusco</h1>

    <div>
      <h2 class="introduction">INKA JUNGLE 4 DAYS AND 3 NIGHTS</h2>
    </div>

    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 

    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where you enjoy mountains, archaeological sites and more.</p>
    </div>

    
    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>

                
                <p>
                  1.- CUSCO – ABRA MALAGA – SANTA MARIA.

                </p>
    
                <p>
                  2.- SANTA MARIA – SANTA TERESA.
                </p>

                <p>
                  3.- SANTA TERESA – AGUAS CALIENTES.
                </p>

                <p></p>
                  4.- AGUAS CALIENTES – MACHU PICCHU – CUSCO.
                </p>
                
                     
          </div>



          
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    


        
        <li>
          <div class="content">
            <h3>CUSCO – SANTA MARIA – SANTA TERESA.</h3>

            <p><img class="imagen" src="/static/tourperu/img/cuscofotos/1cuscoinkajungle1.jpg" alt="">
              07:30 a.m. Pick up from the door of the office, we will depart in our transport
                towards the Sacred Valley of the Incas, where we will be able to appreciate
                beautiful and picturesque natural attractions. Arriving at the Malaga pass
                (4350 meters above sea level), there our guide will give you a safety talk, the
                starting point of our bicycle tour, we will find vegetation typical of the high
                jungle area, fruit fields and rivers. Arrival to Santa Maria. Our first night in
                basic lodging. In the afternoon OPTIONAL rafting.

              </p>
            
         
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>
        



        <li>
          <div class="content">
            <h3>SANTA TERESA – AGUAS CALIENTES.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/1cuscoinkajungle2.jpg" alt="">
              After breakfast we start walking along the banks of the Urubamba River. We
              find original Inca trails, trails full of vegetation, where we can appreciate the
              cultivation and harvest of coffee as well as the sacred plant of the Incas, La
              COCA, we will arrive at the small town of Quellomayo, rest and lunch. We
              continue until we reach the thermal baths of Santa Teresa after a relaxing
              bath we go to the town of Santa Teresa.

            
            
            </p>


         
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>



        
        <li>
          <div class="content">
            <h3>AGUAS CALIENTES – MACHU PICCHU – CUSCO.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/1cuscoinkajungle3..jpg" alt="">
              Breakfast, this day we walk to Aguas Calientes. The comfort of this day is in
              the pleasant climate that oscillates between 25-30 ° C. This one will be a bit
              different with five hours of walking, we will cross not only hanging bridges.
              Used by locals, but also oroyas which will make our day very interesting.
              Finally we arrive at the town of MACHUPICCHU Lodging in a very comfortable
              hostel.

            
            
            </p>


         
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>


        <li>
          <div class="content">
            <h3>AGUAS CALIENTES – MACHU PICCHU – CUSCO.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/cuscofotos/1cuscoinkajungle4..jpg" alt="">
              Breakfast very early and then we go on foot to the citadel of Machupicchu, to
              be able to see the cloud forest and other natural wonders of dawn. We will
              practically have almost the whole day to visit the archaeological complex;
              They will have a guide for 2 hours and then free time. At the appropriate time,
              return to Aguas Calientes, to be able to board the train to Ollantaytambo. Pick
              up at the Ollantaytambo train station and transfer to the city of Cusco. 10:30
              p.m. Arrival to the city of Cusco.

            
            
            </p>


         
          </div>
          <div class="time">
            <h4>Inca Route: Day 4</h4>
          </div>
        </li>



    
      

        <li>
          <div class="content">
            <h3>End of the Route</h3>



                 
            <p>

              THE PROGRAM INCLUDES.

              <p>
                ➢ Transportation from Cusco – Abra Malaga.
              </p>

              <p>
                ➢ Bicycle equipment (bikes, helmets and gloves).
              </p>
               
              </p>
              ➢ Professional bilingual guide.
              </p>

              </p>
              ➢ Basic accommodation in Santa Maria – Santa Teresa and Aguas
              Calientes (If you want another type of accommodation, ask for the
              additional cost).
              </p>

              </p>
              ➢ Food 03 breakfasts, 03 lunches and 03 dinners.
              </p>

            </p>
            ➢ Entrance to the citadel of Machupicchu.
            </p>

              </p>
              ➢ Train ticket from Aguas Calientes –Ollantaytambo.
              </p>

              </p>
              ➢ Transportation Ollantaytambo – Cusco.
              </p>

             
            </p>



            <p>

              THE PROGRAM DOES NOT INCLUDES.

              <p>
                ➢ First breakfast.
              </p>

              <p>
                ➢ Food on the last day.
              </p>
             
            </p>


            <p>

              WE RECOMMEND TO BRING.

              <p>
                ➢ Breakfast on the first day.
              </p>

              <p>
                ➢ Lunch on the last day.
              </p>

              
              <p>
                ➢ SEntrance to the thermal baths.
              </p>

              
            </p>

            
            <p>

              WE RECOMMEND TO BRING.

              <p>
                ➢ Mosquito repellent.
              </p>

              <p>
                ➢ Sunscreen. Short, long-sleeved polo shirts, hat, sunglasses,
                raincoat, camera.
              </p>

              
              <p>
                ➢ Water bottle.
              </p>

              <p>
                ➢ Extra money.
              </p>

              <p>
                ➢ Original passport.
              </p>

              
            </p>




          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>