<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/routespecific/css/routespecificlima.css">
  <title>Document</title>
</head>


  
  
    <h1>Itinerary Trujillo</h1>
    <h2 class="introduction">COLONIAL ARCHAEOLOGICAL TRUJILLO 02 DAYS AND 01 NIGHT</h2>
    <div class="introduction">
      <h2> TimeLine </h2>
    </div> 
    <div class="introduction">
      <p>In TourPeruTravellers, we offer you this magnificent inka route where you enjoy mountains, archaeological sites and more.</p>

    </div>

    </div>
    
    <div class="timeline">
      <ul>

          
        <li>
          <div class="content">
            <h3>Inca Route: Start</h3>   
                <p>
                   Our TourPeruTravellers Itinerary : 
                </p>

                
                <p>
                  1.- HUACAS SUN AND MOON TOUR.

                </p>
    
                <p>
                  2.- CHAN-CHAN – HUANCHACO.
                </p>
                
                     
          </div>



          
          <div class="time">
            <h4>Inca Route: Start</h4>
          </div>
        </li>
    


        
        <li>
          <div class="content">
            <h3>CSUN AND MOON HUACAS TOUR – CHAN CHAN – HUANCHACO.</h3>

            <p><img class="imagen" src="/static/tourperu/img/trujillofotos/trujillo1.jpg" alt="">
              10:30 a.m. Guided visit to the Moche Countryside, Site Museum, sighting of the
              Huaca del Sol, which was the most influential religious center of the Mochica
              culture. Visit to the Huaca de la Luna, which is made up of several
              superimposed platforms, decorated with paintings and high reliefs with the
              main characters of Mochica iconography, such as the figure of the slaughtering
              God, Ai Apaec.

              </p>
            
         
          </div>
          <div class="time">
            <h4>Inca Route: Day 1</h4>
          </div>
        </li>
        



        <li>
          <div class="content">
            <h3>CHAN-CHAN – HUANCHACO.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/trujillofotos/trujillo2.jpg" alt="">
              2:30 p.m. The Tour begins at the Huaca Arco Iris, located in the Esperanza
              district, then we will visit the Tshudi or Nikan Palace, touring its environments.
              Finally we will enjoy Huanchaco, observing the "caballitos de totora, pier,
              artisan walk".
              6:00 p.m. approx. end of the tour.

            
            
            </p>


         
          </div>
          <div class="time">
            <h4>Inca Route: Day 2</h4>
          </div>
        </li>



        
        <li>
          <div class="content">
            <h3>CITY TOUR.</h3>
            <p>
              <img class="imagen" src="/static/tourperu/img/trujillofotos/trujillo3.jpg" alt="">
              Breakfast Visit to the Historic Center of Trujillo (Plaza de Armas, Casa Urquiaga
              Cathedral, Casa Orbegoso, Casa Emancipación, Palacio Iturregui and Plazuela El
              Recreo)
              Free afternoon
              Opportune time Transfer to the bus terminal or airport.

            
            
            </p>


         
          </div>
          <div class="time">
            <h4>Inca Route: Day 3</h4>
          </div>
        </li>



    
      

        <li>
          <div class="content">
            <h3>End of the Route</h3>



                 
            <p>

              THE PROGRAM INCLUDES.

              <p>
                Transfer in / out.
              </p>

              <p>
                01 night accommodation at the chosen hotel.
              </p>
               
              </p>
                01 breakfast.
              </p>

              </p>
                Mobility available for visits.
              </p>

              </p>
                Official tourist guide + income
              </p>


            </p>



          </div>
          <div class="time">
            <h4>Inca Route: End</h4>
          </div>
        </li>







        <div style="clear:both;"></div>
      </ul>
    </div>
  



</body>
</html>