* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century, sans-serif;
}

html, body {
    margin: 0; /* Elimina márgenes por defecto */
    padding: 0; /* Elimina padding por defecto */
    width: 100%; /* Asegura que el cuerpo ocupe todo el ancho */
    height: 100%; /* Asegura que el cuerpo ocupe todo el alto del viewport */

    overflow-x: hidden; 
    background-color: #f5f5f5;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total */

   

}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100vh;
    background-size: cover;
    background-position: center;   
    position: relative;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate {
    0% {
        background-image: url(./fotos/lima.png);
    }
    20% {
        background-image: url(./fotos/arequipa.png);
    }
    40% {
        background-image: url(./fotos/paracas\ ica.png);
    }
    60% {
        background-image: url(./fotos/tarapoto.png);
    }
    80% {
        background-image: url(./fotos/colca\ canyon.png);
    }
    100% {
        background-image: url(./fotos/puno.png);
    }
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 1.5rem;
    margin-right: 3.75rem;
    font-size: 1.5rem; /* Ajustado a un tamaño más adecuado para pantallas grandes */
}

ul li {
    display: inline-block;
    
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.3125rem 1.25rem;
    border: 1px solid transparent;
    transition: 0.5s ease;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
    font-size: 2vw;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
    text-shadow: none; /* Elimina la sombra en hover */
}

.container2 {
    font-family: Century, sans-serif;
    position: absolute;
    top: 70%;
    left: 5%;
    font-size: 1.6vw;
    text-decoration: none;
    color: #fff;
    padding: 0.3125rem 1.25rem;
    border: 1px solid transparent;
    transition: 0.5s ease;
    max-width: 90%;
    word-wrap: break-word;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
}

.container2 h1 {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    font-size: 3vw; /* Tamaño mediano de fuente */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
    color: #fff;
}




/*** RES´PONSIVE **/

@media screen and (max-width: 162px)  {

    header {
        height: 100vh;
    }

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 0px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0rem;
        border: 0px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 10vw;
    }

    .container2 {
  
        font-size: 4vw;
     
    }

    .container2 h1 {
        font-size: 3.5vw; /* Tamaño mediano de fuente */
    }
}


/** RESPONSIVE **/


@media screen and (max-width: 320px)  {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 4vw;
    }

    .container2 {
  
        font-size: 3vw;
     
    }

    .container2 h1 {
        font-size: 4vw; /* Tamaño mediano de fuente */
    }
}





/****-------------------- RESPONSIVE----------------------- ****/

@media screen and (max-width: 360px)  {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5vw;
    }

    .container2 {
  
        font-size: 5vw;
     
    }

    .container2 h1 {
        font-size: 6vw; /* Tamaño mediano de fuente */
    }
}







/****-------------------- RESPONSIVE----------------------- ****/

@media screen and (max-width: 375px)  {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5vw;
    }

    .container2 {
  
        font-size: 5vw;
     
    }

    .container2 h1 {
        font-size: 6vw; /* Tamaño mediano de fuente */
    }
}





/****-------------------- RESPONSIVE----------------------- ****/

@media screen and (max-width: 412px)  {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5vw;
    }

    .container2 {
  
        font-size: 5vw;
     
    }

    .container2 h1 {
        font-size: 6vw; /* Tamaño mediano de fuente */
    }
}







/****-------------------- RESPONSIVE----------------------- ****/

@media screen and (max-width: 430px)  {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5vw;
    }

    .container2 {
  
        font-size: 5vw;
     
    }

    .container2 h1 {
        font-size: 6vw; /* Tamaño mediano de fuente */
    }
}


/****-------------------- RESPONSIVE----------------------- ****/

@media screen and (max-width: 768px)  {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5vw;
    }

    .container2 {
  
        font-size: 5vw;
     
    }

    .container2 h1 {
        font-size: 6vw; /* Tamaño mediano de fuente */
    }
}


/****-------------------- RESPONSIVE----------------------- ****/

@media screen and (max-width: 820px)  {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 60px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 4vw;
    }

    .container2 {
  
        font-size: 5vw;
     
    }

    .container2 h1 {
        font-size: 6vw; /* Tamaño mediano de fuente */
    }
}


/****-------------------- RESPONSIVE----------------------- ****/

@media screen and (max-width: 834px)  {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5vw;
    }

    .container2 {
  
        font-size: 5vw;
     
    }

    .container2 h1 {
        font-size: 6vw; /* Tamaño mediano de fuente */
    }
}


/****-------------------- RESPONSIVE----------------------- ****/

@media screen and (max-width: 884px)  {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5vw;
    }

    .container2 {
  
        font-size: 5vw;
     
    }

    .container2 h1 {
        font-size: 6vw; /* Tamaño mediano de fuente */
    }
}






/****-------------------- RESPONSIVE----------------------- ****/

@media screen and (max-width: 912px)  {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5vw;
    }

    .container2 {
  
        font-size: 5vw;
     
    }

    .container2 h1 {
        font-size: 6vw; /* Tamaño mediano de fuente */
    }
}





/****-------------------- RESPONSIVE----------------------- ****/

@media screen and (width: 1114px)  {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 2.3vw;
    }

    .container2 {
  
        font-size: 2.3vw;
     
    }

    .container2 h1 {
        font-size: 2.3vw; /* Tamaño mediano de fuente */
    }
}



/*+++++ HORIZONTAL +++++++++++ */








/****-------------------- RESPONSIVE  landscape ----------------------- ****/

/****-------------------- RESPONSIVE----------------------- ****/

@media screen and (max-width: 915px)  and (orientation: landscape) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        
    }

    ul  {
        margin: 40px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0rem;
        border: 2px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 2vw;
    }

    .container2 h1{
  
        font-size: 2.8vw;
     
    }

    P {
        font-size: 2.1vw; /* Tamaño mediano de fuente */
        margin: 0rem;
    }
}


/****-------------------- RESPONSIVE----------------------- ****/

@media screen and (width: 1024px)  and (orientation: landscape) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        
    }

    ul  {
        margin: 40px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3rem;
        border: 2px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 2.2vw;
    }

    .container2 h1{
  
        font-size: 3vw;
     
    }

    P {
        font-size: 2.4vw; /* Tamaño mediano de fuente */
        margin: 0rem;
    }
}
