* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century, sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-size: 2vw; /* Fuente adaptable */
    background-color: #f5f5f5;
    max-width: 100%;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 10vh;
    position: relative;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate {
    0% {
        background-image: url(./fotos/lima.png);
    }
    20% {
        background-image: url(./fotos/arequipa.png);
    }
    40% {
        background-image: url(./fotos/paracas ica.png);
    }
    60% {
        background-image: url(./fotos/tarapoto.png);
    }
    80% {
        background-image: url(./fotos/colca canyon.png);
    }
    100% {
        background-image: url(./fotos/puno.png);
    }
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 1.5rem;
    margin-right: 3.75rem;
    font-size: 1.5rem; /* Ajustado a un tamaño más adecuado para pantallas grandes */
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.3125rem 1.25rem;
    border: 1px solid transparent;
    transition: 0.5s ease;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
    font-size: 2vw;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
    text-shadow: none; /* Elimina la sombra en hover */
}

.container2 {
    font-family: Century, sans-serif;
    position: absolute;
    top: 70%;
    left: 5%;
    font-size: 1.6vw;
    text-decoration: none;
    color: #fff;
    padding: 0.3125rem 1.25rem;
    border: 1px solid transparent;
    transition: 0.5s ease;
    max-width: 90%;
    word-wrap: break-word;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
}

.container2 h1 {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    font-size: 3vw; /* Tamaño mediano de fuente */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
    color: #fff;
}




/****-------------------- RESPONSIVE----------------------- ****/

@media screen and (width: 320px) and (height: 658px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5.5vw;
    }

    .container2 {
  
        font-size: 6.6vw;
     
    }

    .container2 h1 {
        font-size: 6.6vw; /* Tamaño mediano de fuente */
    }
}


@media screen and (width: 375px) and (height: 667px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5.5vw;
    }

    .container2 {
  
        font-size: 6.6vw;
     
    }

    .container2 h1 {
        font-size: 6.6vw; /* Tamaño mediano de fuente */
    }
}

@media screen and (width: 414px) and (height: 896px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5.5vw;
    }

    .container2 {
  
        font-size: 6.6vw;
     
    }

    .container2 h1 {
        font-size: 6.6vw; /* Tamaño mediano de fuente */
    }
}




@media screen and (width: 390px) and (height: 844px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5.5vw;
    }

    .container2 {
  
        font-size: 6.6vw;
     
    }

    .container2 h1 {
        font-size: 6.6vw; /* Tamaño mediano de fuente */
    }
}





@media screen and (width: 360px) and (height: 740px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5.5vw;
    }

    .container2 {
  
        font-size: 6.6vw;
     
    }

    .container2 h1 {
        font-size: 6.6vw; /* Tamaño mediano de fuente */
    }
}




@media screen and (width: 430px) and (height: 932px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5.5vw;
    }

    .container2 {
  
        font-size: 6.6vw;
     
    }

    .container2 h1 {
        font-size: 6.6vw; /* Tamaño mediano de fuente */
    }
}






@media screen and (width: 412px) and (height: 915px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5.5vw;
    }

    .container2 {
  
        font-size: 6.6vw;
     
    }

    .container2 h1 {
        font-size: 6.6vw; /* Tamaño mediano de fuente */
    }
}



@media screen and (width: 412px) and (height: 914px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5.5vw;
    }

    .container2 {
  
        font-size: 6.6vw;
     
    }

    .container2 h1 {
        font-size: 6.6vw; /* Tamaño mediano de fuente */
    }
}




@media screen and (width: 344px) and (height: 882px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 6vw;
    }

    .container2 {
  
        font-size: 6.6vw;
     
    }

    .container2 h1 {
        font-size: 6.6vw; /* Tamaño mediano de fuente */
    }
}



@media screen and (width: 540px) and (height: 720px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 4vw;
    }

    .container2 {
  
        font-size: 4.6vw;
     
    }

    .container2 h1 {
        font-size: 4.6vw; /* Tamaño mediano de fuente */
    }
}



@media screen and (width: 768px) and (height: 1024px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 4vw;
    }

    .container2 {
  
        font-size: 5vw;
     
    }

    .container2 h1 {
        font-size: 5vw; /* Tamaño mediano de fuente */
    }
}





@media screen and (width: 912px) and (height: 1368px) {
      
    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 4.6vw;  
    }

    .container2 {
  
        font-size: 4.6vw;
     
    }

    .container2 h1 {
        font-size: 4.6vw; /* Tamaño mediano de fuente */
    }
}






@media screen and (min-width: 853px) and (max-width: 1280px)  {
  
    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
    }
    ul {
        margin: 45px 0;
        padding: 0;
    }
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        font-size: 3vw;  
    }
    .container2 {
        font-size: 3vw;
    }
    .container2 h1 {
        font-size: 3vw;
    }
}



/************************/

@media screen and (width: 412px) and (height: 869px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5.5vw;
    }

    .container2 {
  
        font-size: 6.6vw;
     
    }

    .container2 h1 {
        font-size: 6.6vw; /* Tamaño mediano de fuente */
    }
}



@media screen and (width: 360px) and (height: 760px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5.5vw;
    }

    .container2 {
  
        font-size: 6.6vw;
     
    }

    .container2 h1 {
        font-size: 6.6vw; /* Tamaño mediano de fuente */
    }
}



@media screen and (width: 2048px) and (height: 1536px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 3vw;
    }

    .container2 {
  
        font-size: 3vw;
     
    }

    .container2 h1 {
        font-size: 3vw; /* Tamaño mediano de fuente */
    }
}





@media screen and (width: 1536px) and (height: 2048px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5vw;
    }

    .container2 {
  
        font-size: 5vw;
     
    }

    .container2 h1 {
        font-size: 5vw; /* Tamaño mediano de fuente */
    }
}




@media screen and (width: 375px) and (height: 812px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5.5vw;
    }

    .container2 {
  
        font-size: 6.6vw;
     
    }

    .container2 h1 {
        font-size: 6.6vw; /* Tamaño mediano de fuente */
    }
}






@media screen and (width: 1080px) and (height: 1920px) {

    ul li {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        
    }

    ul  {
        margin: 45px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 5vw;
    }

    .container2 {
  
        font-size: 5vw;
     
    }

    .container2 h1 {
        font-size: 5vw; /* Tamaño mediano de fuente */
    }
}




@media screen and (width: 658px) and (height: 320px) {

      ul  {
        margin: 20px 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3125rem 1.25rem;
        border: 1px solid transparent;
        transition: 0.5s ease;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
        font-size: 2vw;
    }

    .container2 {
  
        font-size: 2vw;
     
    }

    .container2 h1 {
        font-size: 2vw; /* Tamaño mediano de fuente */
    }
}






@media screen and (width: 667px) and (height: 375px) {

    ul  {
      margin: 20px 0;
      padding: 0;
  }
  
  ul li a {
      text-decoration: none;
      color: #fff;
      padding: 0.3125rem 1.25rem;
      border: 1px solid transparent;
      transition: 0.5s ease;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
      font-size: 2vw;
  }

  .container2 {

      font-size: 2vw;
   
  }

  .container2 h1 {
      font-size: 2vw; /* Tamaño mediano de fuente */
  }
}





@media screen and (width: 932px) and (height: 430px) {

    ul  {
      margin: 20px 0;
      padding: 0;
  }
  
  ul li a {
      text-decoration: none;
      color: #fff;
      padding: 0.3125rem 1.25rem;
      border: 1px solid transparent;
      transition: 0.5s ease;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
      font-size: 2vw;
  }

  .container2 {

      font-size: 2vw;
   
  }

  .container2 h1 {
      font-size: 2vw; /* Tamaño mediano de fuente */
  }
}




@media screen and (width: 896px) and (height: 414px) {

    ul  {
      margin: 20px 0;
      padding: 0;
  }
  
  ul li a {
      text-decoration: none;
      color: #fff;
      padding: 0.3125rem 1.25rem;
      border: 1px solid transparent;
      transition: 0.5s ease;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
      font-size: 2vw;
  }

  .container2 {

      font-size: 2vw;
   
  }

  .container2 h1 {
      font-size: 2vw; /* Tamaño mediano de fuente */
  }
}





@media screen and (width: 915px) and (height: 412px) {

    ul  {
      margin: 20px 0;
      padding: 0;
  }
  
  ul li a {
      text-decoration: none;
      color: #fff;
      padding: 0.3125rem 1.25rem;
      border: 1px solid transparent;
      transition: 0.5s ease;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
      font-size: 2vw;
  }

  .container2 {

      font-size: 2vw;
   
  }

  .container2 h1 {
      font-size: 2vw; /* Tamaño mediano de fuente */
  }
}





@media screen and (width: 740px) and (height: 360px) {

    ul  {
      margin: 20px 0;
      padding: 0;
  }
  
  ul li a {
      text-decoration: none;
      color: #fff;
      padding: 0.3125rem 1.25rem;
      border: 1px solid transparent;
      transition: 0.5s ease;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
      font-size: 2vw;
  }

  .container2 {

      font-size: 2vw;
   
  }

  .container2 h1 {
      font-size: 2vw; /* Tamaño mediano de fuente */
  }
}





@media screen and (width: 720px) and (height: 540px) {

    ul  {
      margin: 20px 0;
      padding: 0;
  }
  
  ul li a {
      text-decoration: none;
      color: #fff;
      padding: 0.3125rem 1.25rem;
      border: 1px solid transparent;
      transition: 0.5s ease;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
      font-size: 2vw;
  }

  .container2 {

      font-size: 2vw;
   
  }

  .container2 h1 {
      font-size: 2vw; /* Tamaño mediano de fuente */
  }
}




@media screen and (width: 882px) and (height: 344px) {

    ul  {
      margin: 20px 0;
      padding: 0;
  }
  
  ul li a {
      text-decoration: none;
      color: #fff;
      padding: 0.3125rem 1.25rem;
      border: 1px solid transparent;
      transition: 0.5s ease;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
      font-size: 2vw;
  }

  .container2 {

      font-size: 2vw;
   
  }

  .container2 h1 {
      font-size: 2vw; /* Tamaño mediano de fuente */
  }
}




@media screen and (width: 914px) and (height: 412px) {

    ul  {
      margin: 20px 0;
      padding: 0;
  }
  
  ul li a {
      text-decoration: none;
      color: #fff;
      padding: 0.3125rem 1.25rem;
      border: 1px solid transparent;
      transition: 0.5s ease;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
      font-size: 2vw;
  }

  .container2 {

      font-size: 2vw;
   
  }

  .container2 h1 {
      font-size: 2vw; /* Tamaño mediano de fuente */
  }
}

