/* Global adjustments */
* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box; /* Incluye padding y borde en el cálculo del tamaño */
    
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Oculta los scrollbars */
    overflow-y: hidden;
    
}

/* Header adjustments */
header {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Previene desbordamientos */
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

/* Header */
.header_peru {
    width: 100%;
    height: 100vh; /* Ocupa el alto del viewport */
    overflow: hidden; /* Oculta contenido desbordante */
    background-size: cover;
    background-position: center;
}



.h1, h1 {

font-family: Century, sans-serif;
font-weight: bold;

}



@keyframes animate {
    0% {
        background-image: url(./fotos/Ancash1..png);
    }
    20% {
        background-image: url(./fotos/montañaSieteColores.png);
    }
    40% {
        background-image: url(./fotos/sandBoarding.png);
    }
    60% {
        background-image: url(./fotos/Ancash2..png);
    }
    80% {
        background-image: url(./fotos/sandBoarding.png);
    }
    100% {
        background-image: url(./fotos/nazcaLines.png);
    }
}

/* Container adjustments */
.container2 {
    position: absolute;
    top: 67%;
    left: 0%;
    font-size: 1.6vw;
    color: #fff;
    padding: 0.3125rem 1.25rem;
    border: 1px solid transparent;
    word-wrap: break-word;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    
}

/* Container for cards */
.container_cards {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Card body */
.card-body {
   
    max-width: 31.25rem;
    color: black;
    text-align: center;
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 1.125rem;
    background: rgba(255, 255, 255, 0.5);
}

/* Social media icons */
.social_media {
    position: absolute;
    bottom: 5%; /* Ajusta la posición vertical */
    right: 110px; /* Mueve los íconos completamente al borde izquierdo */
    display: flex;
    gap: 0.5rem;
}
ul.list {
    list-style: none; /* Elimina el estilo de lista predeterminado */
}


/* Social media list */
.social_media ul {
    display: flex; /* Asegura que los elementos estén en una fila */
    justify-content: center; /* Centra los elementos */
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 0;
    margin: 0;
    list-style: none;
}

.social_media ul li {
    display: inline-block;
    margin: 0 0.3125rem;
    width: 2.5rem;
    height: 3.125rem;
    text-align: center;
}

.social_media ul li a {
    display: block;
    padding: 0 0%;
    background: #333;
    color: #fff;
    line-height: 3.125rem;
    font-size: 1.125rem;
    box-shadow: 0 0.1875rem 0.3125rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.social_media ul:hover a {
    filter: blur(2px);
}

.social_media ul li a:hover {
    transform: translateY(-0.1875rem) scale(1.05);
    box-shadow: 0 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.5);
    filter: none;
}

nav.nav {
   
    margin-top: 6%;
 

}

.list {
    width: auto; /* Ajusta el ancho del cuadro automáticamente */
    height: auto; /* Ajusta la altura según el contenido */
    display: flex;
    justify-content: flex-start; /* Asegura que el contenido interno esté alineado a la izquierda */
    flex-direction: column; /* Los elementos dentro del cuadro estarán en columna */
    border-radius: 0.5rem; /* Ajusta el redondeo de las esquinas */
    background: rgba(255, 255, 255, 0.5); /* Fondo translúcido */
    margin: 1rem; /* Añade margen alrededor del cuadro */
    padding: 0.5rem; /* Ajusta el relleno interno */
}


/* List adjustments */
ul.list {
    margin: 10px 5px 0 5px; /* Reduce los márgenes */
    padding: 10px 10px 0px 10px;
}

a {
    color: rgb(58 69 86);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 1.4rem;
}

p {
    font-size: 1.4rem;
}



/*+++++++++++++++++++++++++++++++  RESPONSIVE ++++++++++++++++++++*/





/* Responsiveness */
@media screen and (max-width: 320px)  {
    .header_peru {
        background-size: cover;
        background-position: center;
    }

    
    nav.nav {
        margin-top: 0%;
    }

    a {
        
        font-size: 1.1rem;
    }

    .container2 {
        
        margin-top: 0%;
    }

    .social_media {
        position: absolute;
        bottom: 0%; /* Ajusta la posición vertical */
        left: 110px; /* Mueve los íconos completamente al borde izquierdo */
        display: flex;
        gap: 0.5rem;
        margin-top: 130%;
    }
    
    ul.list {
        list-style: none; /* Elimina el estilo de lista predeterminado */
        margin: 1.3rem 0;
    }

    .social_media ul li a {
        font-size: 1rem;
       
    }

    h1 {
        font-size: 4vh;
    }

    p {
        font-size: 3.4%;
    }
}




/* Responsiveness */
@media screen and (max-width: 430px)  {
    .header_peru {
        background-size: cover;
        background-position: center;
    }

    
    nav.nav {
        margin-top: 0%;
    }

    a {
        
        font-size: 1.1rem;
    }

    .container2 {
        
        margin-top: 1%;
    }
    .social_media ul {
        margin: 6rem 0rem 0rem 0rem;    
    }

    .social_media {
        position: absolute;
        bottom: 5%; /* Ajusta la posición vertical */
        left: 110px; /* Mueve los íconos completamente al borde izquierdo */
        display: flex;
        gap: 0.5rem;
        margin-top: 135%;
    }
    
    ul.list {
        list-style: none; /* Elimina el estilo de lista predeterminado */
        margin: 2.8rem 0rem 0rem 0rem;
    }

    .social_media ul li a {
        font-size: 1rem;
       
    }

    h1 {
        font-size: 4vh;
    }

    p {
        font-size: 6vw;
    }
}










/* Responsiveness */
@media screen and (width: 320px) and (height:568px) {
    .header_peru {
        background-size: cover;
        background-position: center;
    }

    
    nav.nav {
        margin-top: 0%;
    }

    a {
        
        font-size: 1.1rem;
    }

    .container2 {
        
        margin-top: 0.1%;
    }
    .social_media ul {
        margin: 6rem 0rem 0rem 0rem;    
    }

    .social_media {
        position: fixed;
        bottom: 1%; /* Ajusta la posición vertical */
        left: 110px; /* Mueve los íconos completamente al borde izquierdo */
        display: flex;
        gap: 0.5rem;
        margin-top: 0%;
    }
    
    ul.list {
        list-style: none; /* Elimina el estilo de lista predeterminado */
        margin: 2.8rem 0rem 0rem 0rem;
    }

    .social_media ul li a {
        font-size: 1rem;
       
    }

    h1 {
        font-size: 4vh;
    }

    p {
        font-size: 4vw;
    }
}






/* Responsiveness */
@media screen and (min-width: 1200px) and (min-height: 1366px)  {
    .header_peru {
        background-size: cover;
        background-position: center;
    }

    
    nav.nav {
        margin-top: 0%;
    }

    a {
        
        font-size: 2.8rem;
    }

    .container2 {
        
        margin-top: 0.1%;
    }
    .social_media ul {
        margin: 6rem 0rem 0rem 0rem;    
    }

    .social_media {
        position: fixed;
        bottom: 1%; /* Ajusta la posición vertical */
        left: 2; /* Mueve los íconos completamente al borde izquierdo */
        display: flex;
        gap: 0.5rem;
        margin-top: 0%;
    }
    
    ul.list {
        list-style: none; /* Elimina el estilo de lista predeterminado */
        margin: 2.8rem 0rem 0rem 0rem;
    }

    .social_media ul li a {
        font-size: 1.5rem;
       
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 4vw;
    }
}





/* Responsiveness */
@media screen and (min-width: 912px) and (min-height: 1368px)  {
    .header_peru {
        background-size: cover;
        background-position: center;
    }

    
    nav.nav {
        margin-top: 0%;
    }

    a {
        
        font-size: 2.5rem;
    }

    .container2 {
        
        margin-top: 0.1%;
    }
    .social_media ul {
        margin: 6rem 0rem 0rem 0rem;    
    }

    .social_media {
        position: fixed;
        bottom: 1%; /* Ajusta la posición vertical */
        left: 2; /* Mueve los íconos completamente al borde izquierdo */
        display: flex;
        gap: 0.5rem;
        margin-top: 0%;
    }
    
    ul.list {
        list-style: none; /* Elimina el estilo de lista predeterminado */
        margin: 2.8rem 0rem 0rem 0rem;
    }

    .social_media ul li a {
        font-size: 1.5rem;
       
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 4vw;
    }
}




/************************ Horizontal ***************************************/


/* Responsiveness */
@media screen and (width: 568px) and (orientation: landscape) {
    .header_peru {
        background-size: cover;
        background-position: center;
    }

    
    nav.nav {
        margin-top: 0%;
    }

    a {
        
        font-size: 0.7rem;
    }

    .container2 {
        
        margin-top: 0%;
        top:60%;
    }

    .social_media {
        position: absolute;
        bottom: 0%; /* Ajusta la posición vertical */
        left: 370px; /* Mueve los íconos completamente al borde izquierdo */
        display: flex;
        gap: 0.5rem;
        margin-top: 5%;
    }
    
    ul.list {
        list-style: none; /* Elimina el estilo de lista predeterminado */
        margin: 0rem 0;
    }

    .social_media ul li a {
        font-size: 0.7rem;

        display: block;
        padding: 0 0%;
        background: #333;
        color: #fff;
        line-height: 1.4rem;       
        box-shadow: 0 0.1875rem 0.3125rem 0 rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        margin: 0% 10% 10% 10% 10%;
        
    }

    h1 {
        font-size: 6.5vh;
    }

    p {
        font-size: 5vh;
    }
}



@media screen and (max-width: 812px) and (orientation: landscape) {
    .header_peru {
        background-size: cover;
        background-position: center;
    }

    nav.nav {
        margin-top: 0%;
    }

    a {
        font-size: 0.7rem;
    }

    .container2 {
        margin-top: 0%;
    }

    .social_media {
        position: absolute;
        bottom: 0%; /* Ajusta la posición vertical */
        left: 60%; /* Coloca los íconos al borde izquierdo */
        display: flex;
        gap: 0.5rem;
        margin-top: 0%;
    }

    ul.list {
        list-style: none; /* Elimina el estilo de lista predeterminado */
        margin: 1.3rem 0;
    }

    .social_media ul li a {
        font-size: 0.7rem;
        display: block;
        padding: 0.3rem 0.5rem; /* Proporciona espacio interno uniforme */
        background: #333;
        color: #fff;
        line-height: 1.4rem;
        box-shadow: 0 0.1875rem 0.3125rem 0 rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        margin: 0.5rem 0; /* Margen uniforme para evitar el desbordamiento */
    }

    h1 {
        font-size: 6.5vh;
    }

    p {
        font-size: 5vh;
    }
}


/* Responsiveness */
@media screen and (width: 851px) and (orientation: landscape) {
    .header_peru {
        background-size: cover;
        background-position: center;
    }

    
    nav.nav {
        margin-top: 0%;
    }

    a {
        
        font-size: 0.7rem;
    }

    .container2 {
        
        margin-top: 0%;
    }

    .social_media {
        position: absolute;
        bottom: 0%; /* Ajusta la posición vertical */
        left: 520px; /* Mueve los íconos completamente al borde izquierdo */
        display: flex;
        gap: 0.5rem;
        margin-top: 130%;
    }
    
    ul.list {
        list-style: none; /* Elimina el estilo de lista predeterminado */
        margin: 1.3rem 0;
    }

    .social_media ul li a {
        font-size: 0.7rem;

        display: block;
        padding: 0 0%;
        background: #333;
        color: #fff;
        line-height: 1.4rem;       
        box-shadow: 0 0.1875rem 0.3125rem 0 rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        margin: 0% 10% 10% 10% 10%;
        
    }

    h1 {
        font-size: 6.5vh;
    }

    p {
        font-size: 5vh;
    }
}

/* Responsiveness */
@media screen and (width: 882px) and (orientation: landscape) {
    .header_peru {
        background-size: cover;
        background-position: center;
    }

    
    nav.nav {
        margin-top: 0%;
    }

    a {
        
        font-size: 0.7rem;
    }

    .container2 {
        
        margin-top: 0%;
    }

    .social_media {
        position: absolute;
        bottom: 0%; /* Ajusta la posición vertical */
        left: 360px; /* Mueve los íconos completamente al borde izquierdo */
        display: flex;
        gap: 0.5rem;
        margin-top: 130%;
    }
    
    ul.list {
        list-style: none; /* Elimina el estilo de lista predeterminado */
        margin: 1.3rem 0;
    }

    .social_media ul li a {
        font-size: 0.7rem;

        display: block;
        padding: 0 0%;
        background: #333;
        color: #fff;
        line-height: 1.4rem;       
        box-shadow: 0 0.1875rem 0.3125rem 0 rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        margin: 0% 10% 10% 10% 10%;
        
    }

    h1 {
        font-size: 6.5vh;
    }

    p {
        font-size: 5vh;
    }
}



/* Responsiveness */
@media screen and (width: 844px) and (orientation: landscape) {
    .header_peru {
        background-size: cover;
        background-position: center;
    }

    
    nav.nav {
        margin-top: 0%;
    }

    a {
        
        font-size: 0.7rem;
    }

    .container2 {
        
        margin-top: 0%;
    }

    .social_media {
        position: absolute;
        bottom: 0%; /* Ajusta la posición vertical */
        left: 320px; /* Mueve los íconos completamente al borde izquierdo */
        display: flex;
        gap: 0.5rem;
        margin-top: 130%;
    }
    
    ul.list {
        list-style: none; /* Elimina el estilo de lista predeterminado */
        margin: 1.3rem 0;
    }

    .social_media ul li a {
        font-size: 0.7rem;

        display: block;
        padding: 0 0%;
        background: #333;
        color: #fff;
        line-height: 1.4rem;       
        box-shadow: 0 0.1875rem 0.3125rem 0 rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        margin: 0% 10% 10% 10% 10%;
        
    }

    h1 {
        font-size: 6.5vh;
    }

    p {
        font-size: 5vh;
    }
}





/* Responsiveness */
@media screen and (width: 882px) and (orientation: landscape) {
    .header_peru {
        background-size: cover;
        background-position: center;
    }

    
    nav.nav {
        margin-top: 0%;
    }

    a {
        
        font-size: 0.7rem;
    }

    .container2 {
        
        margin-top: 0%;
    }

    .social_media {
        position: absolute;
        bottom: 0%; /* Ajusta la posición vertical */
        left: 360px; /* Mueve los íconos completamente al borde izquierdo */
        display: flex;
        gap: 0.5rem;
        margin-top: 130%;
    }
    
    ul.list {
        list-style: none; /* Elimina el estilo de lista predeterminado */
        margin: 1.3rem 0;
    }

    .social_media ul li a {
        font-size: 0.7rem;

        display: block;
        padding: 0 0%;
        background: #333;
        color: #fff;
        line-height: 1.4rem;       
        box-shadow: 0 0.1875rem 0.3125rem 0 rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        margin: 0% 10% 10% 10% 10%;
        
    }

    h1 {
        font-size: 6.5vh;
    }

    p {
        font-size: 5vh;
    }
}



/* Responsiveness */
@media screen and (width: 880px) and (orientation: landscape) {
    .header_peru {
        background-size: cover;
        background-position: center;
    }

    
    nav.nav {
        margin-top: 0%;
    }

    a {
        
        font-size: 0.7rem;
    }

    .container2 {
        
        margin-top: 0%;
    }

    .social_media {
        position: absolute;
        bottom: 0%; /* Ajusta la posición vertical */
        left: 560px; /* Mueve los íconos completamente al borde izquierdo */
        display: flex;
        gap: 0.5rem;
        margin-top: 130%;
    }
    
    ul.list {
        list-style: none; /* Elimina el estilo de lista predeterminado */
        margin: 1.3rem 0;
    }

    .social_media ul li a {
        font-size: 0.7rem;

        display: block;
        padding: 0 0%;
        background: #333;
        color: #fff;
        line-height: 1.4rem;       
        box-shadow: 0 0.1875rem 0.3125rem 0 rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        margin: 0% 10% 10% 10% 10%;
        
    }

    h1 {
        font-size: 6.5vh;
    }

    p {
        font-size: 5vh;
    }
}








/* Responsiveness */
@media screen and (width: 915px) and (orientation: landscape) {
    .header_peru {
        background-size: cover;
        background-position: center;
    }

    
    nav.nav {
        margin-top: 0%;
    }

    a {
        
        font-size: 0.7rem;
    }

    .container2 {
        
        margin-top: 0%;
    }

    .social_media {
        position: absolute;
        bottom: 0%; /* Ajusta la posición vertical */
        left: 580px; /* Mueve los íconos completamente al borde izquierdo */
        display: flex;
        gap: 0.5rem;
        margin-top: 30%;
    }
    
    ul.list {
        list-style: none; /* Elimina el estilo de lista predeterminado */
        margin: 0rem 0;
    }

    .social_media ul li a {
        font-size: 0.7rem;

        display: block;
        padding: 0 0%;
        background: #333;
        color: #fff;
        line-height: 1.4rem;       
        box-shadow: 0 0.1875rem 0.3125rem 0 rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        margin: 0% 10% 10% 10% 10%;
        
    }

    h1 {
        font-size: 6.5vh;
    }

    p {
        font-size: 5vh;
    }
}



/* Responsiveness */
@media screen and (max-width: 926px) and (orientation: landscape) {
    .header_peru {
        background-size: cover;
        background-position: center;
    }

    
    nav.nav {
        margin-top: 0%;
    }

    a {
        
        font-size: 0.7rem;
    }

    .container2 {
        
        margin-top: 0%;
    }

    .social_media {
        position: absolute;
        bottom: 0%; /* Ajusta la posición vertical */
        left: 340px; /* Mueve los íconos completamente al borde izquierdo */
        display: flex;
        gap: 0.5rem;
        margin-top: 0%;
    }
    
    ul.list {
        list-style: none; /* Elimina el estilo de lista predeterminado */
        margin: 1.3rem 0;
    }

    .social_media ul li a {
        font-size: 0.7rem;

        display: block;
        padding: 0 0%;
        background: #333;
        color: #fff;
        line-height: 1.4rem;       
        box-shadow: 0 0.1875rem 0.3125rem 0 rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        margin: 0% 0% 0% 0% 0%;
        
    }

    h1 {
        font-size: 6.5vh;
    }

    p {
        font-size: 5vh;
    }
}
