<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/peruroutes/government_politic.css">
    <title>Document</title>
</head>
<body>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet">
<div id="wrapper">
	<div class="signin">
		<div class="signin_social_media">
			 <p class="lorem"></p>
			 <h1>Governance in Peru: An Overview of the Executive, Legislative, and Judicial Branche</h1>
			 <p class="description">
                The government of Peru is organized as a unitary presidential constitutional republic, with a clear separation of powers among the executive, legislative, and judicial branches.</p>

			 <div class="box_social box_google">
			 	<div><i class="fa fa-google-plus" aria-hidden="true"></i></div>
                 
			 	<p>
                    1. The President of Peru serves as both head of state and head of government, elected for a five-year term with the possibility of non-consecutive terms. The Council of Ministers, composed of presidential appointees, oversees government departments and implements the president's policies​
                </p>
			 </div>
			 
			 <div class="box_social box_facebook">
			 	<div><i class="fa fa-google-plus" aria-hidden="true"></i></div>			 	
			 	<p>
                    2. Legislative Branch
                    Congress of the Republic: Peru has a unicameral legislature composed of 130 members, who are elected for five-year terms. The Congress is responsible for creating laws, approving budgets, and exercising oversight over the executive branch. It has faced criticism for its fragmentation and high levels of corruption, with many members currently under investigation​.
                </p>
			 </div> 
			 
			 <div class="box_social box_twitter">
			 	<div><i class="fa fa-google-plus" aria-hidden="true"></i></div>			 
			 	<p>
                    3.- Judicial Branch
                    Judiciary: The judicial system is independent and consists of various levels of courts, with the Supreme Court at the top. The judiciary faces challenges related to corruption and political interference, and reforms to strengthen judicial independence are ongoing.
                </p>
			 </div>
		</div>

		<div class="signin_email">
		    <p>Explore Peru's rich history in Andean Chronicles—buy your copy on Amazon today!</p>
		    <a href="https://www.threads.net/@tourperutravellers"> <i> Threads click here →</i></a>		
		</div>
	</div>
	<div class="img_background"></div>
    <div class="img_background2"></div>

    <div class="img_background3"></div>
</div>
</body>
</html>